[2014-08-14 11:39] guewen opened #8 "account_financial_report_webkit_xls limited to 65536 rows"
The module `account_financial_report_webkit_xls` exports the financial reports to Excel files.
It uses the `xlwt` library so it is compatible with the versions of Excel prior to 2007 which are known to support only 65536 rows per sheet.
65536 rows is a very low limit for reports such as a general ledger or partner ledger.

I propose to replace the xlwt library by openpyxl which allow to generate `

[2014-08-14 16:16] sbidoul commented on #8
:+1: xlsx also works in Excel 2003 with a compatibility pack from Microsoft if my memory is correct.

But first the huge pep8 effort in #6 by @laetitia-gangloff must be finalized and merged.

[2014-08-15 13:27] guewen commented on #8
Didn't saw this PR, it is nearly done, still a few annoying lines :-(

This module will be painful to port over openenpyxl I feel. It depends on report_xls which seems intimately tied with xlwt. Should I create a report_xlsx and depends on this one instead?
Or rather modify report_xls in place?

[2014-08-15 19:25] pedrobaeza commented on #8
I agree, but first we must fix with current base code.

[2014-08-18 16:16] guewen commented on #8
What do you mean by "fix"?
Please read my comment on https://github.com/OCA/account-financial-reporting/pull/6#issuecomment-52303873

[2014-08-18 16:20] pedrobaeza commented on #8
I mean fix PEP8 correctly in the @laetitia-gangloff branch.

[2014-08-19 07:06] guewen commented on #8
So please give your opinion on https://github.com/OCA/account-financial-reporting/pull/6#issuecomment-52303873

[2014-08-19 20:20] bwrsandman opened #10 "Audit repo (Code quality)"
The modules in this repo need to be reviewed. There are many instances where the code can be cleaned up. Here is a small list.
- [ ] Long, indented functions
- [ ] Missing context propagations
- [ ] Non-english comments
- [ ] Non-english/non-translatable strings to the end-user
- [ ] Non-english variable names
- [ ] Coverage needs to be increased
- [ ] Duplicated code which can be factored
- [ ] A

[2014-09-01 12:35] lepistone opened #14 "account_financial_report_webkit takes very long to update on large databases"
Hi, I was confronted to an hour-long module update on a large database, and realized that in that module we have a stored function field `last_rec_date`, which is recomputed by the `init` method of `AccountMoveLine`.

The SQL queries on `init` try to recompute the field on all records where it is null, which could already be the correct value. In my case I have 3 million move lines with last_rec_d

[2014-09-01 12:41] lepistone commented on #14
I just found out there is already #12 for that, cool!

[2014-09-01 12:43] lepistone commented on #14
... and the bug is on launchpad too: https://bugs.launchpad.net/account-financial-report/+bug/1312732

[2014-09-02 08:45] lepistone commented on #14
Fixed with #12

[2014-09-02 08:45] #14 closed, assigned to nobody

[2014-10-01 09:59] pablocm-aserti opened #15 "Low performance in last_rec_date initialization"
Hello
Please, in the migrate method of account_financial_report_webkit, consider moving the reconcile_id/reconcile_partial_id not null check outside from the inner select.
In densely populated DDBB the query launches the inner select hundreds of thousand times for account_move_lines without reconcile_id nor reconcile_partial_id
Example:

[code]

[2014-10-01 14:32] ericnjogu opened #16 "running partners report fails"
Hi,
I am on openerp version 7.0-20140804-231303-1 -installed via apt sources.list entry:
deb http://nightly.openerp.com/7.0/nightly/deb/ ./

The stacktrace:
http://pastebin.com/5fNiDbWb

Sorry I did not manage to find information on alternatives to resolving this problem - IRC, forums etc.
Thanks.

[2014-10-04 02:06] pedrobaeza commented on #15
Hi @pablocm-aserti, can you please make a PR to the repository with this change?

[2014-10-04 11:04] akhayyat opened #18 "account_financial_report_webkit 7.0: TypeError: translate_call() takes exactly 2 arguments (3 given)"
Using the 7.0 branch of the account_financial_report_webkit module with openerp 7.0 (7.0-20140804-2) and wkhtmltopdf 0.12.1, printing a webkit financial report, such as General Ledger or Trial Balance results in a TypeError: translate_call() takes exactly 2 arguments (3 given).

Full traceback:

[code]

[2014-10-04 12:12] sbidoul commented on #18
This issue happened at some point because a version mismatch.

Please make sure you have the latest version of openerp 7.0 from github as well as the latest 7.0 branch of OCA/account_financial_report.

[2014-10-04 12:33] akhayyat commented on #18
The current github 7.0 branch does solve the problem indeed. However, the Debian packages [provided by OpenERP/Odoo](http://nightly.openerp.com/7.0/nightly/deb/) stop at 7.0-20141004.

Does this mean that I cannot use this module with a deb-packaged version of OpenERP 7.0?

[2014-10-04 12:42] sbidoul commented on #18
That is weird because 20141004 is today, so it should be the latest.

[2014-10-04 12:57] akhayyat commented on #18
It _is_ weird, because they started getting produced again starting at 20141003! The latest version before that is 20140804. My bad for not checking what I was typing!

[2014-10-04 13:43] #18 closed, assigned to nobody

[2014-10-06 07:20] pablocm-aserti commented on #15
Hi @pedrobaeza
Done!
Please let me know if I did something wrong, the travis test failed but I don't know if it is because of my changes or the travis configuration itself:
dropdb: database removal failed: ERROR:  database "openerp_test" does not exist

[2014-10-06 08:25] pedrobaeza commented on #15
Thanks, for the record, it's PR #19

[2014-10-14 11:50] #16 closed, assigned to nobody

[2014-10-14 11:52] ericnjogu commented on #16
This was resolved by an update to openerp 7.0.

[2014-10-14 14:58] nhomar opened #22 "[MIG] [8.0] We are planning to migrate account_financial_report to QWeb"
Hello.

In vauxoo @hbto is planning migrate account_financial_report ([the one which render with reportlab](https://github.com/OCA/account-financial-reporting/tree/8.0/__unported__/account_financial_report)) to QWEb in order to maintain one set of reports with the official report engine, and considering some points that will need to be necessary to improve for [v9.0](https://docs.google.com/docume

[2014-10-17 13:52] #15 closed, assigned to nobody

[2014-11-10 19:35] ccarly opened #24 "account_financial_report_webkit_xls error"
Messege: account_financial_report_webkit_xls/report/trial_balance_xls.py", line 254, in generate_xls_report
    comparisons = current_account.comparisons

[2014-11-10 19:36] pedrobaeza commented on #24
When this error happens?

[2014-11-10 19:37] ccarly commented on #24
When I export the trial balance

[2014-11-12 16:38] ccarly opened #26 "8.0 account_financial_report_webkit"
Trial Balance, not show the amount in column debit and credit

[2014-11-25 22:59] wbeverly opened #33 "Error message on running unitests on "account_financial_report_webkit_xls""
Hi,

When installing and running our internal unitests on the module account_financial_report_webkit_xls
in V7 of odoo I encountered such an error.

2014-11-21 22:39:02,552 27213 ERROR (**_textremoved**_)-Tests openerp.tools.yaml_import: ('Webkit error', 'The command \'wkhtmltopdf\' failed with                                  error code = 1. Message: The following diagnosis message was provided:\

[2014-11-26 09:01] sbidoul commented on #26
resolved in 09bc991004d34bf0b5d8d0fe70dbc37d3bd425b1

[2014-11-26 09:02] #26 closed, assigned to nobody

[2014-11-26 09:02] sbidoul commented on #24
@ccarly can you test again and close this issue if it works for you?

[2014-11-26 09:03] sbidoul commented on #33
@wbeverly can you test agin using the latest version of wkhtmltopdf from http://wkhtmltopdf.org/?

[2014-11-26 09:05] sbidoul opened #34 "account_financial_report_webkit_xls trial balance does not take period filter into account"
It seems the 8.0 version (did not test 7.0) of account_financial_report_webkit_xls trial balance ignores the period filter.

[2014-11-26 16:23] ccarly commented on #24
Hello, sbidoul

I auditioned from your branch and the last commit and works well

[2014-11-28 03:55] ccarly opened #36 "v8 account_financial_report_webkit error when print journal"
/account_financial_report_webkit/report/print_journal.py", line 129, in set_context
    objects.sort(key=lambda a: (a.journal_id.code, a.period_id.date_start))
AttributeError: 'account.journal.period' object has no attribute 'sort'

[2014-11-28 08:21] sbidoul commented on #36
@ccarly can you provide a detailed procedure to reproduce the bug, as well as the complete stack trace.

That would be really helpful.

Thanks in advance.

[2014-11-29 02:52] ccarly commented on #36
@sbidoul

this is a full trace

2014-11-29 02:49:36,924 17266 ERROR cm openerp.service.report: Exception: 'account.journal.period' object has no attribute 'sort'
Traceback (most recent call last):
  File "/data/home/openerp/bin/8.0/openerp/service/report.py", line 93, in go
    result, format = openerp.report.render_report(cr, uid, ids, object, datas, context)
  File "/data/home/openerp/bin/8.0/op

[2014-11-29 10:26] sbidoul commented on #36
@ccarly can you test again with the patch in #37 ?

[2014-12-01 16:11] ccarly commented on #36
2014-12-01 16:10:16,479 3114 INFO cm werkzeug: 192.168.254.214 - - [01/Dec/2014 16:10:16] "POST /web/dataset/call_kw/account.journal/read HTTP/1.1" 200 -
2014-12-01 16:10:16,646 3114 WARNING cm openerp.pooler: openerp.pooler.get_db_and_pool() is deprecated.
2014-12-01 16:10:16,658 3114 WARNING cm openerp.pooler: openerp.pooler.get_db_and_pool() is deprecated.
2014-12-01 16:10:16,690 3114 ERROR cm

[2014-12-19 19:47] bwrsandman commented on #8
What's the status on this

[2014-12-22 05:59] ccarly commented on #36
What's the status on this issue or planning to solve?

[2014-12-22 08:48] sbidoul opened #42 "8.0 account_financial_report_webkit open invoices report broken when using Group Partner by currency"
How to reproduce:

Enable the following checkbox in the Open Invoices report wizard:
![image](https://cloud.githubusercontent.com/assets/692075/5522808/5fdf625c-89bf-11e4-971a-1592cde7e625.png)

This is due to the method _group_lines_by_currency that is not migrated (it still tries to create a non-existant attribute grouped_ledger_lines).

I'm just reporting to warn about the bug presence, I have

[2014-12-22 16:29] sbidoul commented on #36
@ccarly The problem is non-trivial and requires a significant refactoring of report/print_journal.py.

I have currently no planning for this. Feel free to contribute a pull request if you wish.

[2015-01-06 01:54] ccarly commented on #36
Patch to resolve sort object in account_financial_report_webkit/report/print_journal.py

[code]

[2015-01-13 00:56] ccarly commented on #36
This two patched to solve the issue

Final patch print_journal.py

[code]

Patch for account_report_print_journal.mako

[code]

[2015-01-16 22:26] #36 closed, assigned to nobody

[2015-01-23 14:07] JehoG opened #53 "Porting account_chart_report, account_move_line_report_xls and account_journal_report_xls"
Hello,
I'll be porting those three modules for V8:
account_chart_report,
account_move_line_report_xls
account_journal_report_xls

Is there anyone already working on that?
Guillaume

[2015-01-23 14:12] sbidoul commented on #53
account_journal_report_xls is in progress in #28

[2015-01-27 21:33] JehoG commented on #53
PR of account_chart_report: #54

[2015-02-03 16:09] sbidoul opened #57 "How to handle accented characters in report names?"
Example: when printing the Aged Partner Balance in french, "Balance âgée des tiers" causes an execv() exception or is misprinted. The exact behaviour seems to depend on the locale under which the server runs.

This is due to this title being passed as a --header-left argument to wkhtmltopdf.

Does anyone knows if there is some best practice in this respect?

[2015-02-04 11:36] cubells opened #58 "Last version of wkhtmltopdf (0.12.2.1) cut rows at half"
Openerp 7.0 with all the code updated.

With wkhtmltopdf 0.12.2.1, webkit reports cut some rows at half at page breaks.

The same with 0.12.1 version doesn't cut rows.

[2015-02-10 13:35] laetitia-gangloff opened #60 "Export general ledger is too long"
Impacted version :
- 7.0
- 8.0

Steps to reproduce :
0. Install module account_financial_report_webkit
1. Get alot of journal entries
2. Ask for a general ledger report with 'All posted Entries' as target moves
3. Wait for a loooong time

In the following file : https://github.com/OCA/account-financial-reporting/blob/7.0/account_financial_report_webkit/report/common_reports.py#L440

search on acco

[2015-02-10 13:37] pedrobaeza commented on #60
Have you tried to put that part in SQL to see if the time is reduced?

[2015-02-10 13:56] laetitia-gangloff commented on #60
Yes, I tried with the following method (instead of the existing one, easy-ugly fix) and the time is reduced (quasi immediate) :

[code]

[2015-02-10 14:13] laetitia-gangloff commented on #60
I also tried to set `auto_join=True` on the column move_id of account.move.line and the result is also quasi immediate.

[2015-02-12 07:14] vishpepala commented on #18
I am already using the old version 7.0-20131230-002457.  Now I have to use this module.  I cannot change entire code since I have modified a lot.  Can you please explain what are the exact files I have to replace?
Please guide me.

[2015-02-12 09:16] vishpepala commented on #18
I just replaced "account_financial_report_webkit" module with your latest module from github.  Still issue persist.  Please help.

[2015-03-04 10:02] laetitia-gangloff commented on #60
I proposed the following PR to odoo (to add auto_join):
https://github.com/odoo/odoo/pull/5573

[2015-03-05 13:29] RoelAdriaans commented on #18
@vishpepala you can replace the file addons/addons/report_webkit/webkit_report.py  and restart openerp. That might fix the issue. Just had the same problem, and replacing only that module worked.

[2015-03-05 15:00] vishpepala commented on #18
@RoelAdriaans-B-informed Thank you very much.  I will try this first thing in the morning and update you.  Tons of thanks again.  :-)

[2015-03-09 12:11] #60 closed, assigned to nobody

[2015-03-09 12:12] laetitia-gangloff commented on #60
PR is closed, so I closed this issue.

[2015-03-18 20:24] luc-demeyer opened #67 "account_financial_report_webkit : broken yml test (aged_trial_balance.yml)."
Travis fails because of broken test.

[2015-03-26 20:49] ccarly opened #69 "[v8] - account_financial_report_webkit - error"
Error, when print Trial Bance

[code]

Trace

[code]

[2015-03-27 03:04] ccarly commented on #69
Fixed, access permision

[2015-03-27 03:04] #69 closed, assigned to nobody

[2015-03-31 12:48] jlaloux commented on #69
Hi,

What was you access permission problem? I encounter exactly the same issue

Thank you

[2015-03-31 13:41] adrienpeiffer commented on #69
@ccarly Are you sure that this is a permission problem ?
We encounter the same problem caused by special character in the title of the report
Related issue : #57

[2015-04-10 12:09] ashwin-raj commented on #18
Hi Guys,
I also have the same issue.  I replaced the webkit_report.py file. still the issue is coming.  Currently I am using python 2.7.  May I know how to resolve the problem.

[2015-04-10 12:11] ashwin-raj commented on #18
My error message is,
{"message": "OpenERP Server Error", "code": 200, "data": {"debug": "Server \nClient Traceback (most recent call last):\n File \"/usr/lib/python2.7/dist-packages/openerp/addons/web/http.py\", line 285, in dispatch\n r = method(self, *_self.params)\n File \"/usr/lib/python2.7/dist-packages/openerp/addons/web_pdf_preview/controllers/**init**.py\", line 31, in index\n result = sup

[2015-04-13 11:49] jlaloux commented on #69
No that's not a permission problem. I also found that the source of the problem was a special character in the header of the report.

[2015-04-13 13:30] luisfqba commented on #69
Hello @jlaloux  please what special character is, where I can find this to fix it?

[2015-04-13 14:23] jlaloux commented on #69
For me it was the french translation of the report name "Balance âgée des tiers”. So if you search into the translation of "Aged Partner Balanced", you will find the problematic characters for the language you try to print the report

![image](https://cloud.githubusercontent.com/assets/7678583/7117425/df40a862-e1f8-11e4-8abd-50ad580a044d.png)

I only had this issue on my server. Can't reproduce it

[2015-04-15 13:19] BT-ojossen opened #70 "account_financial_report_webkit initial installation"
If you install this module for the first time, the migration script will not be executed (in the older version this code section was under the method "def init" in account_move_line.py file and then it worked). Could you please explain me if or how it should work? or if the first installation has to be done somehow special? Or does it depend on the version of the odoo server?

Best regards

[2015-05-02 15:04] sbidoul commented on #67
:+1:

[2015-05-06 15:30] mylbco commented on #22
@nhomar any progress on this issue ?

[2015-05-06 15:56] madox35 opened #75 "account_financial_report_webkit : How can I modify my general ledger presentation?"
Hi,
I'm looking for erase the "counterpart" in the general ledger.
I've tried to delete this part in this file: /usr/lib/python2.7/dist-packages/openerp/addons/account_financial_report_webkit/report/templates/account_report_general_ledger.mako

In this file i had comment all part of "counterpart" (like 3lines) --> doesn't work
Then i just deleted the file (account_report_general_ledger.mako) --> d

[2015-05-21 14:27] max3903 opened #76 "Aged Partner Balance by invoice"
Provide an aged partner balance report with invoice details:

| Partner | Invoice | 0 - 30 | 30 - 60 | 60 - 90 | 90+ | Total |
| --- | --- | --- | --- | --- | --- | --- |
| Agrolait |  |  |  |  |  |  |
|  | SAJ/2015/0001 |  |  |  | 1000 $ | 1000 $ |
|  | SAJ/2015/0003 | 2000 $ |  |  |  | 2000 $ |
|  | **Total** | **2000 $** |  |  | **1000 $** | **3000 $** |
| Asustek |  |  |  |  |  |  |
|  | SAJ/2

[2015-06-07 18:04] #67 closed, assigned to nobody

[2015-06-21 23:19] max3903 commented on #76
https://github.com/moturi12/shared_public_addons_v7

[2015-06-24 15:07] loicbaechler opened #91 "8.0 account_financial_report_webkit : Aged Partner Balance issue"
I thing there is an issue when using aged partner balance report.
I can not print on a specific date.

When I select the periode of June and the 22th of June a warning message is displayed.
[Field(s) `until_date` failed against a constraint: Clearance date must be the very last date of the last period or later.]
![image](https://cloud.githubusercontent.com/assets/8722390/8333339/b4a64de6-1a92-11e5

[2015-07-02 16:12] ghost commented on #57
Hi @sbidoul

Were you able to fix the errors without changing the translation?

[2015-07-02 16:20] sbidoul commented on #57
@gs-clearcorp no progress. But I'm pretty sure it's related to the server environment locale.

[2015-07-02 19:28] adrienpeiffer commented on #57
Hi @gs-clearcorp,
After several investigation, I think put `LANG="en_US.UTF-8"` as an environment variable should solve the problem. Could you give us your feedback if you test it ?

[2015-07-02 22:24] ghost commented on #57
Hi @sbidoul , @adrienpeiffer I tried to fix the error with LANG=en_US.utf-8 and es_CR.utf-8  without success.

[2015-07-03 06:48] adrienpeiffer commented on #57
It's strange.
My scenario :
I launched my server like this `LANG=en_US ./odoo.py` and the execv() is raised. After that I launched my server like this `LANG=en_US.UTF-8 ./odoo.py` and the initial exception isn't raised.

[2015-07-03 18:30] ghost commented on #57
I was able to solve the error

Had to add <i>env LANG=en_US.utf-8</i> to the start-stop daemon script.

[2015-07-05 09:13] mgkhayat opened #93 "Webkit partner ledger report in OpenErp 7"
The Webkit partner ledger report in OpenErp 7 does not have the option box "one partner per page". Can this option be added as in the original OpenErp partner ledger report?

[2015-07-11 20:52] ashkulz opened #94 "use updated URL for wkhtmltopdf downloads"
Hello,

wkhtmltopdf has [moved the downloads provider](https://groups.google.com/d/msg/wkhtmltopdf-general/wZwTUol3mXI/GNVeyrKDdqIJ) from SourceForge to gna.org. As mentioned in the linked message, all earlier downloads have been removed from SourceForge and you are strongly advised to migrate to the new URLs. The following files in your repository will need to be updated:
- .travis.yml

It is rec

[2015-07-13 17:04] fv-clearcorp opened #95 "Xls bug in report Partners balance."
This  occurs when exported from the wizard to xls, the report does not print correctly balance column.

Checking the report learn that the formula that calculates the total balance of the line, makes miscalculations because they do not have the initial balance column so goes the "D",  and column takes Code / Ref.

[2015-07-21 14:20] #94 closed, assigned to gurneyalex

[2015-08-04 06:09] nhomar commented on #22
hello @mylbco

The work is done here:

https://github.com/Vauxoo/odoo-afr

Due to our internal customers and usage do not allow us move at the speed of OCA yet, we didn't finish the rought edges there.

The actual Status is:
- Qweb templates and layout working.
- Actuallly it is printing on rml because the look and feel is not good in our impression, then have it ready need a little more work.
- C

[2015-08-04 08:42] mylbco commented on #22
Nice @nhomar !.

[2015-08-06 09:05] loicbaechler commented on #91
News concerning this bug?

[2015-08-14 16:48] sbidoul commented on #91
The previous wizard had usability issues.

The new one can only report at end of period indeed.

I agree it would be better to have a date selection instead of period selection. @fclementic2c do you agree too?

It may not be a trivial change, though. I've not investigated and unfortunately we (at ACSONE) have no ressources to dedicate to this issue at the moment. PR's are welcome.

[2015-08-19 09:59] Duvelken opened #109 "Odoo Clienterror JSON.parse"
Hi,

i installed the account_financial_reports_webkit without errors.
When trying to generate a trial balance or partner balance is get the following error

SyntaxError: JSON.parse: unexpected end of data at line 2 column 1 of the JSON data
https://my.domain/web/js/web.assets_backend/959b282:2965

when i go and have a look in the logs file i get the following:

[19/Aug/2015 08:42:42] "POST /web/ac

[2015-08-25 13:22] max3903 opened #114 "Aged Partner Balance from invoice date or due date"
When generating the Aged Partner Balance report, we want to choose the date to compute the age of the invoices. The age could be based on:
- the invoice date
- the due date

Mockup of the wizard:
![customer invoices - openerp 2015-09-02 11-49-55](https://cloud.githubusercontent.com/assets/939952/9636715/f60ab966-516a-11e5-8fcf-d97c7ab15476.png)

[2015-10-06 12:52] BT-ojossen commented on #58
We have the same problem if we use "wkhtmltopdf 0.11.0 rc1", but all the other mako reports are then ok.

If we use the version "wkhtmltopdf 0.12.1 (with patched qt)" then the account-financial-reports do work, but then we have problems with all the other mako reports (the header is not working).

Could you tell us, which version of wkhtmltopdf should be used for your reports?
Don't you have probl

[2015-10-14 00:18] pedrobaeza opened #125 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] account_journal_report_xls > account_journal_report - By @mreficent - #298
- [ ] account_move_line_report_xls
- [x] account_financial_report_webkit > account_financial_report_qweb - By @jcoux - #211
- [x] account_financial_report_webkit_xls > account_financial_report_qweb - By @jcoux - #211
- [

[2015-10-27 15:08] JordiBForgeFlow opened #126 "mis_builder - extend AccountingExpressionProcessor"
Hello,

We need to extend the mis_builder to handle what we call 'Operating Units', a new concept explained here:
https://docs.google.com/document/d/1iF2tKqCGjpZhTABU4oBT62sM08JFuNBXOtChbOSyBXQ/edit?usp=sharing

And corresponding repo here:
https://github.com/Eficent/odoo-operating-unit

We intend to use Mis_builder to filter a P&L or Balance Sheet by one or more specific operating units.

The pro

[2015-10-27 15:47] sbidoul commented on #126
We could make AEP and AbstractModel, but I think class is not really meant to be extended.

I wrote some thoughts about this in the README roadmap section: _A mechanism to have a global move line filter at the level of the report template, report instance, or even column. Such a domain filter would be ANDed with the other filters and would allow to easily create reports filtered on analytic axis o

[2015-10-27 20:34] sbidoul commented on #126
@jbeficent please have a look at #128. This should provides the hooks you need.

[2015-11-03 10:29] mfzoutsource opened #132 "Profit and Loss template && import error in odoo9"
Hi everyone,

If I not mistaken, there is template for profit and loss
(in account-financial-reporting/account_financial_report_webkit/report/templates), but there is no py file that call that template? Am I right or I just missing the where and how to call it?
I'm using odoo 8.

And then, I try to install account_financial_report_webkit in odoo 9, then it cannot find module file.
The error look l

[2015-11-09 15:29] FSaunier opened #133 "account_financial_report_webkit does not show proper account names"
The trial balance or general ledger generated from account_financial report_webkit do not show the proper Account Names for existing and _renamed_ accounts from the Chart of Accounts. It shows instead their original names, which I don't know where it gets those from.

This behaviour only happens for existing accounts that have been renamed. Newly created accounts are displayed fine.

Odoo's origin

[2015-11-09 19:32] luc-demeyer commented on #133
Can you check if the problem is not caused because you are running a multilingual chart of accounts ?
If this is the problem cause, than it's fixed by PR https://github.com/OCA/account-financial-reporting/pull/123.

[2015-11-09 19:35] FSaunier commented on #133
I am running the Belgian Chart of accounts, which is installed in French only.

[2015-11-09 19:54] luc-demeyer commented on #133
If you are running the “l10n_be” module than you have “translate=True" on the "account.account" object (have a look to the "depends" in the __openerp__py and you'll see why).
Hence you should install the version coming with PR https://github.com/OCA/account-financial-reporting/pull/123 until this fix fully merged within the OCA branch.
As an alternative you can switch from "l10n_be" to the l10n_be

[2015-11-09 20:18] FSaunier commented on #133
I installed the version from PR #123, and it fixed it for me. Thank you.

[2015-11-14 06:28] nmoturi opened #134 "MIS - Report - Performance Issue"
Hi,

I've been testing MIS reports in version 7 (Backport) and experiencing performance issue when viewing the report, for ex:- below is the report I was trying to run against account move line object with more than a 1 million records. It takes more than 2 hours to present the data view..Is there something I need to be looking at..?

![report](https://cloud.githubusercontent.com/assets/7597063/11

[2015-11-14 07:33] sbidoul commented on #134
@nmoturi thanks for using mis_buider. This is typically the kind of reports that should be reasonably fast with that kind of data volume. We have tested on high volume with 8.0 only, though.

So a few things come to mind:
- perhaps the `read_group` of Odoo is faster in 8.0 than 7.0. With such a report, mis_builder should do only one `read_group` per column with a group by account_id.
- to better u

[2015-11-14 08:35] nmoturi commented on #134
Thanks @sbidoul for the feedback, I will post the query findings. The current postgres version is 9.1, I will first check by upgrading it to 9.4 and see if any improvement.

[2015-11-15 03:30] nmoturi commented on #134
upgrading postgres from 9.1 to 9.4 did made a difference, its now taking only couple of min to generate a view. Thanks @sbidoul

[2015-11-15 15:30] mamaf opened #135 "mis_builder_demo : no data is loaded"
After having installed the module, I can't see any MIS example in the "MIS reports" menu

Did I miss something ?

Thanks

[2015-11-16 08:52] laetitia-gangloff commented on #135
Hello @mamaf,
is your database initialize with demo data ?
Csv from mis_builder_demo are declared in demo section.

![image](https://cloud.githubusercontent.com/assets/7602419/11177703/b5d21c96-8c47-11e5-9319-fd4c0e775d3f.png)

[2015-11-16 09:12] mamaf commented on #135
Hello,

No, as I said, I don't see any reports in "MIS reports" screen

http://www.6it.fr/

*Jean-Marc DUPONT *

*Agence Web, e-Commerce et Systèmes d'entreprise *

68, rue du Refuge - 84200 Carpentras

T. 06.24.91.02.03  -  04 84 25 17 94

Éditeur de la marque _Provenc.io https://provenc.io/_

1° marque e-Commerce 100% Provence

2015-11-16 9:52 GMT+01:00 Laetitia Gangloff (ACSONE) <
notifications

[2015-11-18 10:46] Ayhamhafez opened #136 "MIS report issue"
MIS reports not installed, stuck while installing

[2015-11-18 11:21] adrienpeiffer commented on #69
A solution is provided in #57

[2015-11-18 12:30] laetitia-gangloff commented on #136
Which version ? (7.0 or 8.0)
Do you have any error message to provide ?
And maybe some step to reproduce your issue ?

[2015-11-18 15:22] luisfqba commented on #57
Work for me. I run odoo on Docker Container and when I added env LANG=en_US.utf-8 webkit run fine. Thanks.

[2015-11-18 17:17] Ayhamhafez commented on #136
Thanks for fast respond

Today I had updated my Odoo V 8 from Github (pull new update), after that I
tried to install MIS module but it doesn't install and not give any error
just stuck on cancel install mode, before updating Odoo it was installed
fine.
On Nov 18, 2015 2:31 PM, "Laetitia Gangloff (ACSONE)" <
notifications@github.com> wrote:

[2015-11-20 09:03] siewemarcelin commented on #109
Hi Duvelken,
I have exactly the same problem.
Can anyone help us
. please

[2015-11-20 09:06] guewen commented on #109
I see `Missing account or period_ids` in the logs. Do you have periods in the fiscal year you are printing?

[2015-11-20 09:15] siewemarcelin commented on #109
Yes I  have periods in the fiscal year I am printing.

[2015-11-20 14:16] houssine78 commented on #135
@mamaf I think that laetitia asked you if you created your database with the demo data checked. If you don't, the mis_builder_dem module won't create/display the demo reports at its installation

[2015-11-22 21:31] Whytehorse opened #137 "Module does not install in odoo 8"
I tried to install this module several different ways to odoo 8 stable nightly and it fails with no error. In the server log is this error:
Error details:
Field `centralized` does not exist

Error context:
View `account.account.form.webkit`

[2015-11-23 07:08] nmoturi opened #138 "Aged Partner balance - Partial allocations - Not aging Properly"
Hi,

The aged partner balance report is not aging correctly when partial allocations exists, the invoice amount is aged at the original amount and the partial allocation is completely ignored becuase it won't have any due date. Below are the screen shots ;- In the example, the invoice INV/6623 is allocated partially for the amount $648.96 and when the report is run, the aging has ignored the parti

[2015-11-25 11:00] eLBati commented on #137
Hello @Whytehorse which module?

[2015-11-27 13:42] Whytehorse commented on #137
account-financial-reporting
more specifically, the report_xls module. I've checked the dependencies and all are met.

[2015-11-27 14:59] eLBati commented on #137
Just tried on http://3119169-8-0-c9c941.runbot2.odoo-community.org (base DB) installing `account_financial_report_webkit` (which handles the `centralized` field), then installed `report_xls` without errors.

Are you using the last revision of https://github.com/OCA/account-financial-reporting/tree/8.0 ?
Then you should report the steps to make the error happen on a new database and the server trac

[2015-11-27 15:56] Whytehorse commented on #137
I figured it out. It was the permissions. After copying over the files to the addons directory I had to run:
sudo chown -R root:root addon_folder_name
sudo chmod -R 755 addon_folder_name

Please close this issue and mark it solved.

[2015-11-27 15:56] #137 closed, assigned to nobody

[2015-12-02 12:33] fclementic2c opened #143 "9.0 Port of OCA Financial reports"
We cannot port to v9 current reports as it is now in v8. The issue described here in details :
https://docs.google.com/document/d/1rB06fD5eF315oi6wXT0r8gOZyjL28QYEMIdxskpbxac/edit#

2 comments:
- We woud like to merge vauxoo reports with the current OCA financial reports in this branch since the goal is the same.
- Camptocamp has started some work (Port of the general ledger as example) and a PR w

[2015-12-13 02:18] #134 closed, assigned to nobody

[2015-12-27 13:38] PaulGiancarlo commented on #109
Whats the solution

[2016-01-12 05:33] rafaelDelgado commented on #109
I have the same problem.. Does anyone fixed??

[2016-01-21 17:43] DayssamAgora opened #150 "8.0 Required report does not exist: account.account_report_trial_balance_xls"
Hi OCA members,

I got this error

<type 'exceptions.Exception'>,Required report does not exist: account.account_report_trial_balance_xls,<traceback object at 0x7fa771ad0ab8>

Best regards

[2016-02-03 19:21] omar7r opened #152 "account_financial_report_webkit: Initial balance counts not posted moves"
Hi,

Maybe it can't be consider an issue but i think is dangerous, the general method "_compute_init_balance" sum all move lines in the first special period but it doesn't check the state of its move, maybe we have to rewrite the query of this method from

`self.cursor.execute("SELECT sum(debit) AS debit, sum(credit) AS credit, sum(debit)-sum(credit) AS balance, sum(amount_currency) AS curr_balanc

[2016-02-15 15:30] davshafik commented on #150
+1

[2016-03-17 09:32] sbidoul commented on #135
I think this one can be closed. Feel free to reopen if not.

[2016-03-17 09:32] #135 closed, assigned to nobody

[2016-03-17 09:33] sbidoul commented on #136
Closing because of no answer.

[2016-03-17 09:33] #136 closed, assigned to nobody

[2016-03-17 09:33] sbidoul commented on #126
This is now implemented. Closing.

[2016-03-17 09:33] #126 closed, assigned to nobody

[2016-03-17 09:59] sbidoul opened #175 "[blueprint] mis_builder styles"
# Problem statement

Mis builder currently uses CSS to adjust report presentation styles. This has two drawbacks:
- it is too technical for many users, steepening the learning curve
- while it works fine for HTML rendering (and PDF), it is hard to implement in excel export
- there is no mechanism to reuse styles across KPIs or reports

This is a proposal to deprecate CSS in favor of explicit style

[2016-03-18 14:19] JordiBForgeFlow commented on #175
@sbidoul great proposal! With regards to kpi 'style_expression' do you mean that this would be an expression on what style to apply depending on the value of the KPI? That would be a great addition!

[2016-03-18 15:07] sbidoul commented on #175
It's exactly that indeed. In the current version there is already the `ccs_style` (aka CSS Style Expression) field where you can write something like `'color: red' if mykpi < 0 else 'color: green'`.

[2016-04-09 11:20] sbidoul opened #178 "[8.0] mis_builder: query aggregation and computed fields"
When a mis.report.query has the aggregate function set to Sum and there are non-stored fields selected, it does not work, because Odoo's group by function does not support non-stored fields.

In presence of such fields, it must fallback transparently on the the searc_read method.

This can be done by testing the presence of non-stored fields here:
https://github.com/OCA/account-financial-reporting

[2016-04-11 21:19] alexis-via commented on #69
It seems that the same error can have very different causes. In my case, I get the following error when trying to get the PDF version of an accounting report from account_financial_report_webkit :

[code]

The very strange thing is that this bug suddenly appears after several weeks of usage in production without problems, and I get it on all the webkit financial reports. Then, I restart the server

[2016-04-16 16:25] sbidoul opened #180 "[blueprint] mis_builder: visual fold/unfold mechanism"
## Problem statement

With large reports, such as a complete chart of account it can be desirable to express a parent/child relationship between KPI's and let the user fold/unfold parent KPI's on screen when using the mis builder widget.
## Implementation proposal: backend

Add fields on mis.report.kpi
- parent_id
- fold_default: open|closed (default open)

A parent/child relationship does not imp

[2016-04-27 08:07] sebastienbeau commented on #175
I am ok with the concept :+1:

[2016-04-28 09:01] ghost opened #187 "[all] Balance with opening and closing values"
Dear all,

I hope that this is the right place/module to post. I know OpenERP 6.04 very well and recently installed OCB 8.0 and 9.0 (as Odoo is becoming proprietary).

Please pardon my ignorance if this feature is already present in OCB.

When closing a year, accountants print a general balances with:
- Opening values
- Debit
- Credit
- Closing values

This allows to verify that the opening values

[2016-04-28 17:21] gfcapalbo commented on #175
About the deprecaton of default_css_style and css_style we have agreed to mantain these two fields and make them automatically generated from user selected fields via a stored compute.

[2016-04-30 09:44] antoniocanovas commented on #57
Working for me with LANG=es_ES.utf-8
Thanks

[2016-04-30 12:56] sbidoul commented on #175
The implementation is in the sorrento PR https://github.com/OCA/account-financial-reporting/pull/189/commits/df59a4702bfc44ed0a2501980a53a7196847bb65

[2016-04-30 13:07] sbidoul commented on #187
This is part of the Trial Balance and other reports for v7 and v8 (see account_financial_report_webkit module) and will be part of it in v9 too, for which the work has been done in Sorrento and will be merged in the coming days/weeks.

[2016-04-30 13:07] #187 closed, assigned to nobody

[2016-05-01 04:56] hbto commented on #187
Yet this issue is close I will leave my comment:

Check odoo-afr module it works on v7/v8

https://github.com/Vauxoo/odoo-afr

Best Regards

[2016-05-17 14:37] samirGuesmi opened #192 "account_tax_report_no_zeroes Not working with V9"
Hi all,
I just checked only

But I think all modules here are only for v8 and not v9

[2016-05-18 15:23] pedrobaeza commented on #192
This module is not valid anymore, as there's no standard tax report, so I have deleted it.

[2016-05-18 15:23] #192 closed, assigned to nobody

[2016-05-24 09:27] sbidoul commented on #178
The fix is merged in 9.0, but I reopen for 8.0.

[2016-05-24 11:09] sbidoul opened #193 "[8.0] mis_builder: bug in account code filter"
Querying on account codes must be done with =like instead of like.

This is fixed on the 9.0 branch: https://github.com/OCA/account-financial-reporting/pull/189/commits/46f806de2c9699073cec86a007732cc6418e7cea

[2016-05-24 11:11] sbidoul opened #194 "[8.0] mis_builder: avoid calling compute twice in widget"
This is fixed on the 9.0 branch: https://github.com/OCA/account-financial-reporting/pull/189/commits/4dd0aec548b04d80024fcfd7b244b41935ebe0c8

[2016-05-24 14:16] sbidoul commented on #175
Merged in 9.0

[2016-05-24 14:16] #175 closed, assigned to nobody

[2016-05-29 23:33] alexis-via opened #200 "8.0 Crash in account_financial_report_webkit "execv() arg 2 must contain only strings""
I had this crash when clicking on the "Print" button of a Trial balance in a company that has an accentuated character in its name:

[code]

The error message says "execv() arg 2 must contain only strings" ; it is probably caused by the fact that one of the arguments of command is unicode and not string. It is this post that help me spot the issue: http://stackoverflow.com/questions/30235962/how-d

[2016-05-30 08:00] sbidoul commented on #200
I think it's the same as https://github.com/OCA/account-financial-reporting/issues/57

[2016-05-30 09:58] alexis-via commented on #200
Yes, it's a duplicate, sorry.

[2016-05-30 09:58] #200 closed, assigned to nobody

[2016-05-30 10:59] alexis-via commented on #57
@sbidoul Do you consider the solution above as the "real" fix, or as a sort of hack/workaround ?

When I read this comment in the code:
https://github.com/OCA/account-financial-reporting/blob/8.0/account_financial_report_webkit/report/webkit_parser_header_fix.py#L51

it confirms what I think: it's really dirty to use arguments to a command line to pass this kind of information with accentuated cha

[2016-05-30 11:06] sbidoul commented on #57
@alexis-via Putting .utf-8 in the LANG env var is the best workaround I've seen so far.

But I agree a better solution should come from somewhere upstream (probably in wkhtmltopdf).

[2016-05-30 12:17] alexis-via commented on #57
@sbidoul ok, we have the same point of view.

[2016-06-08 10:38] wiseguuy opened #204 "[9.0] mis_builder col_width-related crash in xslx export when there is only one column"
when i test with mis_builder (9.0), i found some error at line no. 134 of "mis_report_instance_xslx.py".
show the following.

 data_col_width = min(MAX_COL_WIDTH, max(*col_width.values()))
TypeError: 'int' object is not iterable

when i printed out show "col_width.values() is [10]" and not working.

help me some solution.

Thank you.

[2016-06-08 11:26] #143 closed, assigned to nobody

[2016-06-08 11:38] sbidoul commented on #204
Thanks for reporting. I confirm the issue which must occur when there is only one column.

`max(*[10])` fails while `max(*[10,11])` works. But both `max([10])` and `max([10,11])` work.

So the fix would consist in removing the `*` on that line and the 2 following lines.

Can you test that and provide a pull request?

[2016-06-08 12:08] wiseguuy commented on #204
Thank you for your immediate response. now i got it. by the way, any reference for dynamic query and kpi setup? If have it, please let me know. Thank you.

[2016-06-09 20:10] pyscape commented on #33
It's likely that you'll have to manually compile the latest version of wkhtmltopdf and qt:
1. Remove wkhtmltopdf and related package

[code]
1. Install requirement package for compiling

[code]
1. Clone from git wkhtmltopdf and qt source

[code]
1. Compile qt

[code]
1. Compile wkhtmltopdf

[code]
1. Reboot

[code]

[2016-06-19 08:36] lcymic opened #206 "[8.0] mis_builder: Drill down for entries"
Hi,

I am new to odoo and want to know if there is any drill down feature in this addon.
Could we click any of the output lines and go to the accounting entries screen?

Thanks a lot~

Mike

[2016-06-19 09:58] sbidoul commented on #206
Yes the drill-down to accounting entries is built-in. Any cell rendering an expression on accouting entries (balp, crdp, debp, etc) is clickable and shows the underlying account move lines.

[2016-06-19 18:43] #206 closed, assigned to nobody

[2016-07-11 01:39] richard-willdooit opened #208 "[9.0] MIS Builder no longer installs on enterprise version"
@sbidoul

The MIS Report Templates menu option, since 5th of May, is defined to be in the "account.menu_account_reports" - This menu is deleted in the enterprise install by "account_extension" module, meaning MIS builder cannot be installed.

commit: 5a1a6e59269a0a309ce66054f780ec79cb6d2f59

[2016-07-11 08:10] sbidoul commented on #208
@richard-willowit yes, mis_builder needs some love to work on enterprise.

Do you know if reverting that commit works (on community too?). Can you make a PR or suggest the best parent menu?

[2016-07-18 14:30] fclementic2c opened #210 "[9.0] mis_builder does not handle account with type Current Year Earnings"
If you try to create a Trial balance and populate accounting move lines over 2 fy, the Profit/Loss account do not report the previous year P&L balance in the Current Year Earnings account.

I expect all revenues and expenses accounts having their balance initialized on the 1st day of the fy and reported to the bs account ; all balance sheet accounts having their balance not initialized

see my tes

[2016-07-18 19:47] sbidoul commented on #210
@fclementic2c there is a special `balu` expression that computes the previous year unallocated earnings.

So you can configure Classe 9 like this
![image](https://cloud.githubusercontent.com/assets/692075/16928031/ccc68496-4d30-11e6-9037-00e0650a9caf.png)

To obtain a well-balanced balance
![image](https://cloud.githubusercontent.com/assets/692075/16928003/b6115cd0-4d30-11e6-9fd8-7456c76bc49e.png)

[2016-07-19 12:56] fclementic2c commented on #210
Thanks. much better. :)

[2016-07-19 12:56] #210 closed, assigned to nobody

[2016-07-19 15:18] sbidoul commented on #210
Yep. Wondering how it would work with the 12 months report, though...

BTW, do you know you can use the same report _template_ to print the 4 and 12 columns reports, by selected which subkpi appear in each column (eg display init + end in first month, and end only in all other month).

[2016-08-17 02:55] ovnicraft commented on #208
IMO is not good for OCA modify modules to work with `no open source` modules, MIS builder is open source and must `only` works with Community edition.

[2016-08-17 02:57] ovnicraft commented on #125
Just for the record, PR related: https://github.com/OCA/account-financial-reporting/pull/211

[2016-08-17 02:58] ovnicraft commented on #109
This issue has no update, i consider must be closed until be updated.

[2016-08-17 02:59] richard-willdooit commented on #208
@ovnicraft My proposed merge is so it will work with both community and enterprise.  Without merging this, it works in community and crashes in enterprise.  I would never suggest making this enterprise dependent.

[2016-08-17 03:00] richard-willdooit commented on #208
@sbidoul Any chance this can be reviewed and pulled?

[2016-08-17 03:03] ovnicraft commented on #208
@richard-willowit yes i got it, its just to be friendly with Enterprise, BTW i'm not agree

[2016-08-17 03:45] richard-willdooit commented on #208
@ovnicraft Sorry - so you are happy that it does not work on Enterprise?  We support over 30 clients, most with Enterprise agreements.  Why should they not be allowed to use mis_builder?

[2016-08-17 04:07] elicoidal commented on #208
:+1: with @richard-willowit
The policy of the OCA is to be "reasonably" compatible with Enterprise

[2016-08-17 07:31] #109 closed, assigned to nobody

[2016-08-17 09:06] #208 closed, assigned to nobody

[2016-08-17 09:09] sbidoul commented on #208
@richard-willowit thanks for the fix! It got under my radar during the holidays, sorry for the delay.

[2016-09-01 04:11] ovnicraft opened #215 "[8.0] mis_builder with values zero show empty value"
I define a KPI with bals[111]
- Results:
  ![captura de pantalla de 2016-08-31 23-03-18](https://cloud.githubusercontent.com/assets/31282/18155129/1b57fce0-6fd0-11e6-9f42-fd4e52414bab.png)
- KPI:
  ![captura de pantalla de 2016-08-31 23-07-31](https://cloud.githubusercontent.com/assets/31282/18155130/1f8abeba-6fd0-11e6-8fb0-90239faedf85.png)

Expected: in lines without values set 0

I am using 8.0

[2016-09-01 07:26] sbidoul commented on #215
There are empty cells when there are no moves in the period for the selected accounts.
When there are moves and sum(debit-credit) = 0, then a 0 is displayed.

This is by design, to distingish "no moves" situations vs debit=credit.

If you need to display zeros in all cases, you could write your expression as `bals[121] or 0.0`.

I'll close the issue. Of course, feel free to reopen if you want to d

[2016-09-01 07:26] #215 closed, assigned to nobody

[2016-09-01 14:12] ovnicraft commented on #215
@sbidoul totally clear, thanks !

[2016-09-01 15:16] ovnicraft commented on #194
If was fixed, close it please.

[2016-09-01 15:19] sbidoul commented on #194
AFAIK this bug is still present in 8.0?

[2016-09-05 00:29] ovnicraft commented on #53
This question was solved, need to close this.

[2016-09-05 04:37] #53 closed, assigned to nobody

[2016-10-06 07:12] #204 closed, assigned to nobody

[2016-10-06 08:28] sbidoul opened #236 "[9.0] mis_builder: support empty expressions in sub kpis"
It currently crashes in such case. The workaround is easy (enter 0 or AccountingNone) but it'd be nice to not have a stack trace.

[2016-10-06 12:45] pedrobaeza opened #238 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] account_chart_report
- [ ] account_export_csv - By @adrienpeiffer - #315
- [ ] account_financial_report
- [x] account_financial_report_horizontal - By @mreficent - #341
- [x] account_financial_report_qweb - By @adrienpeiffer - #240
- [x] account_journal_report(_xls) - #366
- [ ] account_move_l

[2016-10-12 17:56] sbidoul opened #241 "[9.0][10.0] account_financial_report_qweb: bad override of report_xslx without calling super"
https://github.com/OCA/account-financial-reporting/pull/229/files#r80358319

report_xslx must be extended to support options.

cc/ @adrienpeiffer @jcoux

[2016-10-14 13:19] jcoux commented on #241
I created 2 PR to resolve this problem:
- https://github.com/OCA/reporting-engine/pull/77
- https://github.com/OCA/account-financial-reporting/pull/242

[2016-10-14 13:38] pedrobaeza commented on #241
Closing as there are PRs in progress

[2016-10-14 13:38] #241 closed, assigned to nobody

[2016-10-17 10:39] zbik2607 opened #244 "[9.0] mis_builder: UnicodeEncodeError ... ordinal not in range(128) - generate_xlsx_report"
Line 45 in mis_report_instance_xlsx.py
       report_name = '{} - {}'.format(
            objects[0].name, objects[0].company_id.name)

should be replaced by:
       report_name = u'{} - {}'.format(
            objects[0].name, objects[0].company_id.name)

[2016-10-19 20:31] sbidoul commented on #244
@zbik2607 thanks for reporting. PR #246 created.

[2016-10-19 20:32] sbidoul commented on #244
@zbik2607 BTW for small changes like this github has an edit button which makes it very easy to create pull requests, so don't hesitate to do it next time.

[2016-10-19 22:35] #244 closed, assigned to nobody

[2016-11-27 16:48] wim-a opened #252 "[9.0 and 10.0] account_financial_report_qweb works as admin user, but not as regular user"
I installed the module account_financial_report_qweb on Odoo 9.0 Enterprise Edition, and the reports work very well as admin user, but when I run them as normal user (f.e. with Adviser role), the reports only print titles and group headers (f.e. accounts), but all detail lines are not printed.

I have been looking to the module to try to figure out what the problem can be, but I couldn't find it.

[2016-12-06 06:59] Sananaz commented on #252
Any update on this issue.

[2016-12-06 07:05] mra-odoo commented on #252
Hello,

We have same issue while using module, Only admin can print and see results.

Please suggest solution for this.

Thanks in Advance

[2016-12-15 11:54] jonerikceberio opened #255 "account_financial_report_webkit: Problems with negative numbers"
The webkit reports substitute the minus sign by a non-breaking hyphen to avoid wrapping issues:
`        def amount(text):
            return text.replace('-', '&#8209;')  # replace by a non-breaking hyphen (it will not word-wrap between hyphen and numbers)
`
However, the font support for this character is minimal: http://www.fileformat.info/info/unicode/char/2011/fontsupport.htm
¿Could it be repl

[2016-12-27 21:53] flotho opened #258 "Account Tax balance installation performance issue"
Hi,

I'm trying to install the account_tax_balance released by @eLBati .
My database has ~900.000 move lines and the installation process is stucked in the move_type update process.
Is it possible to delay the update ?
Regards

[2016-12-28 07:25] eLBati commented on #258
@flotho if you don't need to fill ```move_type``` values for old move lines, you can manually create the column (varchar) in the DB and install the module.
odoo should skip computing the column  as already existing

[2016-12-28 08:03] #258 closed, assigned to nobody

[2017-01-06 08:19] ghost opened #261 "issues with wkhtmltopdf 0.12.4 (and 0.12.3) with branch 6.1"
I've recently upgraded to recent OCA bits for 6.1 and wanted to give the webkit report engine a try.

Looks great, in particular the spreadsheet export, but unfortunately the pdf output has issues for all pages after the very first.

That is, it appears as if the header margin loses a point or two every subsequent page causing overwriting
of the column labels by the first data line.

Any fix or wo

[2017-01-06 09:48] ghost commented on #261
Does this have something to do perhaps with the file

[2017-01-17 07:49] abdallamhafeez opened #262 "[8.0] account_financial_report_webkit Open Invoices Report error"
Hello
I have problem when print "Open Invoices Report" with mark "Group Partner by currency" appear this error:

'account.account' object has no attribute 'ledger_lines'

<type 'exceptions.AttributeError'>,'account.account' object has no attribute 'ledger_lines',<traceback object at 0x7f7999bc33f8>

[2017-01-20 21:57] qupro opened #263 "[9.0] mis_builder: MIS builder rounds to entire numbers"
Every KPI I have created results in an entire number, not sure if It's a bug , normal behaviour or it's due to my lack of understanding of this.

For example I am using   this query:
- Name : invoice_sales
- Model : invoice
- Fields : amount_total_company_signed
- Aggregate : Sum
- Date field : Accounting Date
- Domain : [('journal_id.type','=','sale'),('state','not in',['draft','cancel'])]

and f

[2017-01-20 22:07] sbidoul commented on #263
Rounding is controlled by the style. Please try to create and assign a style at the report or kpi level.

[2017-01-20 22:17] qupro commented on #263
I didn't find any documentation about styling in MIS builder , could you give me an example or  resource url? Thanks

[2017-01-21 18:19] qupro commented on #263
Ok , I catched it.

In Accounting > Configuration > MIS  Reports Styles , Create a new style , uncheck
"Rounding inherit" and set the number of decimals then select it on report or kpi form

[2017-01-21 18:19] #263 closed, assigned to nobody

[2017-01-24 20:17] alexis-via commented on #252
I am also impacted by this bug on odoo 10 community.

Steps to reproduce the problem:
1) install account_financial_report_qweb on an Odoo 10 with demo data
2) create a customer invoice and validate it
3) as "admin" user, go to "Accounting > OCA accounting reports > Aged partner balance", keep default options in the wizard and print as PDF or XLSX => you see at least one line corresponding to your

[2017-01-26 10:06] alexis-via commented on #252
@jcoux @yvaucher @simahawk If you have a clue or a direction about this bug, please tell us. I'd like to fix it, but I need some hints about this strange access-rights bug in account_financial_report_qweb.

[2017-01-26 10:23] sbidoul commented on #252
I confirm the issue. As far as I can tell, it happens only with the aged partner balance.
The total amount is correct but no line is displayed when using any other login than admin.

[2017-01-26 11:11] sbidoul commented on #252
I have no idea on the source of the error. The fact that the total is correct may be a hint for someone familiar with that code.

@jbeficent have you seen that too?

[2017-01-29 21:39] alexis-via commented on #252
If you add an ACL with full rights on ir.ui.view for the Accountant group, you don't have the error message any more, but you still have the bug. So the error log line is probably unrelated.

[2017-01-29 21:54] alexis-via commented on #252
If you look at the table report_aged_partner_balance_qweb_partner when the report is generated as demo user, you see that the data is generated fine. I think we have to investigate in the report inclusion (the qweb report is made of several qweb report templates included in the main qweb report).

[2017-01-29 22:27] alexis-via commented on #252
I now focus my debug on the XLSX output, because it's easier to print data in the middle of the report generation.

If you print "partner.line_ids" at this line of code https://github.com/OCA/account-financial-reporting/blob/10.0/account_financial_report_qweb/report/aged_partner_balance_xlsx.py#L161
you have an empty value when run as demo user... although a "select * from report_aged_partner_bala

[2017-01-29 22:42] alexis-via commented on #252
All the data of the report is computed in SQL and then there is a call of self.refresh():
https://github.com/OCA/account-financial-reporting/blob/10.0/account_financial_report_qweb/report/aged_partner_balance.py#L229
which I guess is supposed to force the ORM to sync with the SQL...
I think the key of the problem is here...

[2017-01-29 23:45] alexis-via commented on #252
Bug found and fixed. PR coming !

[2017-01-29 23:52] alexis-via commented on #252
PR ready to review: https://github.com/OCA/account-financial-reporting/pull/265

[2017-02-15 13:57] SAFAD opened #271 "[10.0] mis_builder: KPI style identation only applied in Excel export"

[2017-02-19 11:02] #271 closed, assigned to sbidoul

[2017-02-19 13:39] sbidoul commented on #271
@SAFAD The bug is fixed on the 10.0 branch. Thanks for reporting!

[2017-03-05 13:25] sbidoul commented on #236
Implemented in https://github.com/OCA/account-financial-reporting/commit/f0239b739134acf44e0df5f2198971afbba817c6, pending 9.0 backport

[2017-03-05 13:26] sbidoul commented on #252
This one is fixed.

[2017-03-05 13:26] #252 closed, assigned to nobody

[2017-03-15 17:51] JordiBForgeFlow commented on #236
@sbidoul currently it does not support also empty expressions in Kpi's. When exporting to XLSX it crashes.

An example:
![image](https://cloud.githubusercontent.com/assets/7683926/23963001/310bd906-09b0-11e7-999f-36a52d5139c8.png)

Template definition:
![image](https://cloud.githubusercontent.com/assets/7683926/23963055/5ca112b6-09b0-11e7-98af-3fd2fd69ea88.png)

Error when you try to export to Exc

[2017-03-15 17:52] JordiBForgeFlow commented on #236
Crashes here: https://github.com/OCA/account-financial-reporting/blob/9.0/mis_builder/report/mis_report_instance_xlsx.py#L126

[2017-03-15 18:12] sbidoul commented on #236
@jbeficent Can you test https://github.com/OCA/account-financial-reporting/pull/275 ?

[2017-03-15 19:16] JordiBForgeFlow commented on #236
Sure! Will do tomorrow first thing

[2017-03-16 14:39] JordiBForgeFlow opened #279 "[9.0][mis_report] Issues creating monthly periods"
In 9.0 and 10.0 (#275) it is not straightforward to create a mis report that uses monthly periods.

The user has to choose the mode "Relateive to report base date", select the period type "Date Range" and date range type "Month". But then, how does the system know how to compute a month?

![image](https://cloud.githubusercontent.com/assets/7683926/24001534/ac3041f4-0a5e-11e7-9127-fae9734103ee.png)

[2017-03-16 14:39] JordiBForgeFlow commented on #279
cc @sbidoul

[2017-03-16 14:44] JordiBForgeFlow opened #280 "[9.0][mis_builder] Add special u mode (unallocated P&L) to the legend for KPI expressions"
Starting from 9.0 onwards the special mode 'u' (e.g. balu) is essential to compute the profit/loss results from prior years. Should be included in the legend for MIS Report Templates.

![image](https://cloud.githubusercontent.com/assets/7683926/24001846/79faf926-0a5f-11e7-9dea-680231625880.png)

[2017-03-16 14:44] JordiBForgeFlow commented on #280
cc @sbidoul

[2017-03-16 14:46] sbidoul commented on #279
The system does not actually *known* what a month is. However, if the user has previously created the date ranges corresponding to each month (possibly using the generator in the date_range module), it should just work as expected.

In your example, if From and To remain empty, it's probably because the corresponding date ranges do not exist yet.

If they do exist, then it's a bug.

In essence, it

[2017-03-16 14:52] JordiBForgeFlow commented on #279
OK, I understand.

[2017-03-16 14:52] #279 closed, assigned to nobody

[2017-03-16 16:34] JordiBForgeFlow opened #281 "[10.0][mis_builder] Cannot delete mis report template if it contains sub kpi's"
Testing #275
If I define a mis report template with sub-kpi's, when I try to delete the whole report template I get the error:

`The operation cannot be completed, probably due to the following:
- deletion: you may be trying to delete a record while other records still reference it
- creation/update: a mandatory field is not correctly set

[object with reference: mis.report.subkpi - mis.report.sub

[2017-03-16 16:54] JordiBForgeFlow opened #282 "[10.0][mis_builder] When copying a mis report template, the subkpi's of the kpi lines are not copied referencing to the copied sub-kpì's"
One would expect that when a mis report template is copied, the whole structure is copied to a new mis report template, maintaining the internal coherence.

Instead, the sub kpi's are copied, but the use of the sub-kpis in the kpi lines is not.

Example:
Original:
![image](https://cloud.githubusercontent.com/assets/7683926/24008255/6c99a900-0a71-11e7-91bc-68bf395c33db.png)

Coped mis report templa

[2017-03-16 16:54] sbidoul commented on #281
Should be fixed in https://github.com/OCA/account-financial-reporting/pull/275/commits/1d480d2bbe38b5e8ebdeeeea6c39c7c39c82eee5. Thanks for reporting!

[2017-03-16 17:27] JordiBForgeFlow opened #283 "[10.0][mis_builder] Add constraint on mis report instance to avoid required fields that are blank"
For example, when you create a MIS Report Instance and change to comparison mode a new line is created with name 'Actuals' where the fields 'Date From' and 'Date to' are blank. This is ok, but the user should then complete the necessary follow-up steps to make the mis report instance line correct.

![image](https://cloud.githubusercontent.com/assets/7683926/24009624/d4320f2c-0a75-11e7-978b-f8813c3

[2017-03-16 17:30] JordiBForgeFlow commented on #283
Related to #275

[2017-03-16 17:30] JordiBForgeFlow commented on #282
Related to #275

[2017-03-16 17:30] JordiBForgeFlow commented on #280
Also in #275

[2017-03-16 18:00] sbidoul commented on #282
Fixed at 96b60d0

[2017-03-17 05:15] JordiBForgeFlow commented on #282
I can look into that. There was a similar issue years ago creating projects from templates with regards to task relationships

[2017-03-17 07:20] sbidoul commented on #282
@jbeficent it should be fixed at https://github.com/acsone/account-financial-reporting/commit/76f4efaede996361266a15846e0650ed998d718f

[2017-03-17 09:02] JordiBForgeFlow opened #285 "[10.0][mis_builder] error exporting string-type kpis to XLSX"
When you define a line as a string as indicated below, fails when exporting to XLSX:
![image](https://cloud.githubusercontent.com/assets/7683926/24036172/b42a5e18-0af8-11e7-9ef9-15784ec0ed91.png)

![image](https://cloud.githubusercontent.com/assets/7683926/24036189/ce3aaf7e-0af8-11e7-944a-0d0bd049ca16.png)

cc @sbidoul

[2017-03-17 09:02] JordiBForgeFlow commented on #285
Related to #275

[2017-03-17 09:11] JordiBForgeFlow commented on #282
I confirm that is now fixed. Thanks!

[2017-03-17 09:11] #282 closed, assigned to nobody

[2017-03-17 09:15] JordiBForgeFlow commented on #283
I can now see that the lines become red when you change the mis builder instance to comparison mode

![image](https://cloud.githubusercontent.com/assets/7683926/24036626/9f7383da-0afa-11e7-9fe3-c97a8fb65440.png)

But allows to save it.

Is that the expected behaviour?

[2017-03-17 09:23] sbidoul commented on #283
Yes, and you get a nice error message when you generate the report.

[2017-03-17 09:28] JordiBForgeFlow commented on #283
Ok, thanks. Works fine!

[2017-03-17 09:28] #283 closed, assigned to nobody

[2017-03-17 09:31] JordiBForgeFlow commented on #281
Works correctly now. Thanks!

[2017-03-17 09:31] #281 closed, assigned to nobody

[2017-03-21 09:37] StefanRijnhart opened #287 "account_financial_report_qweb breaks installations without report_xlsx in module path"
Traceback (most recent call last):
  File "/home/odoo/odoo/eggs/Werkzeug-0.11.11-py2.7.egg/werkzeug/serving.py", line 193, in run_wsgi
    execute(self.server.app)
  File "/home/odoo/odoo/eggs/Werkzeug-0.11.11-py2.7.egg/werkzeug/serving.py", line 181, in execute
    application_iter = app(environ, start_response)
  File "/home/odoo/odoo/parts/odoo/odoo/service/wsgi_server.py", line 184, in applica

[2017-03-22 10:34] rayalfy opened #289 "Open items adding up credit notes"
The Open items report adds up credit notes as if they are invoices thereby showing a wrong balance

[2017-03-22 13:37] #287 closed, assigned to nobody

[2017-03-24 17:29] sbidoul opened #292 "[9.0][10.0] account_tax_balance performance"
I notice account_tax_balance is very slow even when there are few account moves.

A little bit of sql tracing show it repeats this pattern for each tax:
* select all move lines for that tax
* perform additional filtering on move lines

[code]

I guess it's due to the many2many relation between move lines and taxes which is not optimizable with auto-join.

[2017-03-24 17:30] sbidoul commented on #292
@eLBati do you see the same problem? Any idea on how to optimize this?

[2017-03-24 18:47] sbidoul commented on #292
And this query pattern is repeated for each tax (we have ~400 in Luxemburg...).

[2017-03-25 08:08] sbidoul commented on #292
Another important performance hit is due to `_search_balance_field` which is used to filter out lines with no data. This could be improved by doing a preliminary search on taxes which are actually used in the reporting period (even if the balance is 0).

[2017-03-26 07:54] sbidoul commented on #292
I implemented my comment above in #293. The query pattern in the issue description is still present, but only for taxes actually used, so it's a bit better.

[2017-03-26 13:11] sbidoul commented on #292
Experimenting an Odoo improvement that should fix this and many more: https://github.com/odoo/odoo/pull/16066

[2017-04-06 08:20] Martronic-SA opened #295 "[9.0][10.0] mis_builder: multi-company consolidation"
As said in the Readme, we might add a list of companies (which might have their own currencies) and convert amounts for each company/currency to user company currency. That's what Odoo does in account_reports.
As we probably will have to implement this in the mis builder, could you give us advices or ideas to start the project?
Thanks!

[2017-04-06 08:30] sbidoul commented on #292
Resolved with #293 and odoo/odoo#16066

[2017-04-06 08:30] #292 closed, assigned to nobody

[2017-04-20 12:04] Cedric-Pigeon commented on #178
@sbidoul issue can be closed

[2017-04-20 12:05] Cedric-Pigeon commented on #193
@sbidoul issue can be closed

[2017-04-20 12:05] Cedric-Pigeon commented on #194
@sbidoul issue can be closed

[2017-04-20 12:15] #194 closed, assigned to nobody

[2017-04-20 12:15] #178 closed, assigned to nobody

[2017-04-20 12:15] #193 closed, assigned to nobody

[2017-04-23 04:08] mslokhat opened #299 "[9.0] - Customer Outstanding Statement : does not work with child customers"
Hi,
i have setup one parent company and 2 sub companies
when invoicing to the sub companies , the statement show any data
i have to choose the parent company to be able to view outstanding invoices
but i cannot separate the invoices as per the sub companies ( i should have 3 statement)
Rgds

[2017-04-23 13:05] chynwey opened #300 "Customer Outstanding Statement Computing Error on Refunds"
Aging bucket is not calculated correctly. Aging bucket total due does not sum up to the actual balance

Example as attached.

[Statement Action to PDF-2.pdf](https://github.com/OCA/account-financial-reporting/files/949724/Statement.Action.to.PDF-2.pdf)

[2017-04-24 09:18] MiquelRForgeFlow commented on #299
These reports only consider receivables, so it is normal that the invoices of the company are seen only in the report of the company. In your case, the sub companies are just customers.
If you think I am not answering what you are asking, please clarify your issue and/or put an example.
Regards

[2017-04-24 10:08] MiquelRForgeFlow commented on #300
In your statement, you have an unclaimed refund. That means it's not reconciled. The Aging buckets in the beginning were designed to take into account just unpaid invoices because it's no common to have unclaimed refunds and outstanding payments.

But after a thought, I think you have a point. So, I made the PR https://github.com/OCA/account-financial-reporting/pull/301 to fix this.

[2017-04-24 14:25] mslokhat commented on #299
![image](https://cloud.githubusercontent.com/assets/8535048/25341709/cdeba326-291a-11e7-858f-d3114591f543.png)

![image](https://cloud.githubusercontent.com/assets/8535048/25341731/e24de4be-291a-11e7-8ebb-a5e17c66b04d.png)
[Statement Action to PDF.pdf](https://github.com/OCA/account-financial-reporting/files/952031/Statement.Action.to.PDF.pdf)

BBB and CCC are sub companies of AAA
i have invoiced

[2017-04-24 14:37] MiquelRForgeFlow commented on #299
These two sub companies BBB and CCC are just two contacts. These contacts work for the company AAA and so all the invoices go the the account of receivables that the company has. You can go and check the partner assigned to the journal items created by invoices for BBB and CCC.

[2017-04-24 14:40] mslokhat commented on #299
Ok, i see them allocated to AAA. any idea how to allocate them to BBB and CCC? maybe i have used odoo wrongly

[2017-04-24 14:46] mslokhat commented on #299
found it ,
Thanks , you can close this issue

[2017-04-24 14:47] #299 closed, assigned to nobody

[2017-04-25 10:52] clxadmin opened #302 "[10.0] How to translate for user language"
can not find the way to translate the menus and content of charts to users language

there is no technical translation visible with 'settings' - technical translations

[2017-04-25 12:35] JordiBForgeFlow commented on #300
Fixed.

[2017-04-25 12:35] #300 closed, assigned to nobody

[2017-04-27 11:56] Maurice67205 opened #304 "account_financial_report_webkit wrong Initial Balance"
When requesting a Partner Balance report for FY2015, the initial balance is retrieved from an entry in an opening period which is not in FY2015 but rather FY2016 or FY2017 depending on the data
Therefore the Partner Balance report is not in line with the Balance View on the screen

[2017-04-29 22:17] beso4u opened #305 "Problem running the report"
when i am trying to run the report i am getting this msg
any help

File "/usr/lib/python2.7/site-packages/odoo/addons/base/ir/ir_qweb/qweb.py", line 317, in _compiled_fn
    raise e
QWebException: 'NoneType' object has no attribute 'id'
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/odoo/addons/base/ir/ir_qweb/qweb.py", line 315, in _compiled_fn
    return compiled(sel

[2017-05-01 17:50] mquandalle commented on #304
Indeed, it seems to me that accounting moves registered in opening/closing journals aren't taken into account.

[2017-05-04 14:21] Maurice67205 commented on #304
Hello let me be more accurate
In the partner_balance.py code there is a comment saying
"Force computing of initial balance for the partner balance,
        because we cannot use the entries generated by
        OpenERP in the opening period."
But the balance computation for FY-1 is false because it ads somehow the same amounts as the one that are registred in the FY opening period.
As I'm not a pr

[2017-05-09 08:52] Maurice67205 commented on #304
After further review, there was a wrong data in the database
An account_move_line had a date='2017-02-28' where it should be '0217-02-28';
We corrected this wrong entry and reports are fine now.
So there was no bug in the code itself

[2017-05-09 08:52] #304 closed, assigned to nobody

[2017-05-11 12:38] AlainVanUtterbeeck opened #307 "[9.0][mis_builder] breaks base_report_to_printer (oca/report-print-send branch 9.0)"
After installation of MIS Builder, print report to printer fails with:
(uninstalling MIS Builder fixes the problem but I need the MIS Builder to)

Traceback (most recent call last):
File "/home/alain/DRGTDEV/odoo/openerp/http.py", line 648, in _handle_exception
return super(JsonRequest, self)._handle_exception(exception)
File "/home/alain/DRGTDEV/odoo/openerp/http.py", line 685, in dispatch
result

[2017-05-11 15:20] sbidoul commented on #305
Please provide a precise description of the steps to reproduce the error.

[2017-05-11 15:22] sbidoul commented on #307
Is the stack trace complete? It's not immediately obvious to me how it relates to mis_builder.

[2017-05-11 15:23] sbidoul commented on #302
How does this issue relate to the code in this repository? This looks like a generic Odoo question, therefore I'm closing it and recommand you post it to community@odoo.com. Feel free to reopen if it is a bug in one of the OCA modules.

[2017-05-11 15:23] #302 closed, assigned to nobody

[2017-05-11 15:53] AlainVanUtterbeeck commented on #307
Hello,

Yes, that is all the info that I get. I believe that the problem is
situated in the class Report   -->  get_pdf
This function is defined in both and I believe that there must be a problem
with the one in mis_builder when the super is done in print to printer....

Thanks for taking a look at it, and feel free to ask me for more info or
assistance...

Greetings,
Alain

On Thu, May 11, 2017 a

[2017-05-11 18:31] jayo2005 opened #309 "customer_activity_statement"
Are there any plans on porting customer_activity_statement to Odoo 10. I tried installing and it installs ok but I get an error when exporting to PDF

[code]

[2017-05-12 07:24] clxadmin commented on #302
It's more like the translation files to this module do not work as usual -- all languages mixed up, missing labels etc... You can easely reproduce this by just install the module on a fresh Odoo 10

thats why I thought it is related to this module

[2017-05-12 09:05] AlainVanUtterbeeck commented on #307
I changed (localy on my pc) mis_builder/report/mis_report_instance_qweb.py :
import logging

from openerp import api, models

_logger = logging.getLogger(__name__)

class Report(models.Model):
    _inherit = "report"

    @api.v7
    def get_pdf(self, cr, uid, ids, report_name, html=None, data=None,
                context=None):
	print "MIS Builder: self=", self
	print "MIS Builder: ids=", ids

[2017-05-12 12:25] sbidoul commented on #307
@AlainVanUtterbeeck good you found it! Can you do a Pull Request with your fix?

[2017-05-12 13:33] AlainVanUtterbeeck commented on #307
I'm willing to give that a try but it's new to me, do you have some
documentation an how I should do that?

On Fri, May 12, 2017 at 2:25 PM, Stéphane Bidoul (ACSONE) <
notifications@github.com> wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mail is

[2017-05-12 13:37] sbidoul commented on #307
@AlainVanUtterbeeck you could start [here](https://odoo-community.org/page/code).

[2017-05-12 13:49] AlainVanUtterbeeck commented on #307
Thanks for the info, I'll try to follow that guideline and create the pull
request on Monday.

On Fri, May 12, 2017 at 3:37 PM, Stéphane Bidoul (ACSONE) <
notifications@github.com> wrote:

--
*Alain Van Utterbeeck*

*ODOO Developer*

*DR Gaming Technology Europe nv/saOffice: +32 50 60.81.85 | Cell: +32
485.69.37.90*

*––––––––––––––––––––––––––––––––––*

*DISCLAIMER*

*This e-mail is from DR Gamin

[2017-05-16 06:03] erickoeoen opened #312 "Odoo Server Error"
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 638, in _handle_exception
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 675, in dispatch
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 331, in _call_function
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\service\model.py", line 119, in wrapper

[2017-05-18 13:37] amcor opened #314 "[9][10] OCA Reports doesn't work properly when filtering by accounts (receiv/payab options)"
Module **account_financial_report_qweb**

There's an error when selecting payable/receivable boolean options. I think the problem is on the onchange function, the onchange works well in view, but when printing it does not work, and all accounts are printed.

(I've checked general ledger and partner balance reports and it's wrong in both)

[2017-05-23 18:12] omar7r commented on #314
Check this issue https://github.com/odoo/odoo/issues/14761
Meanwhile you can change the widget of account_ids field to many2many_tags, but we need a solution for the many2many widget bug if it was loaded from on_change.

[2017-05-31 09:32] NiyasOdootec opened #318 "Translation of Account name is not working"
I tried to print trail balance report in arabic language. But still account names are coming in english

[2017-05-31 09:33] pedrobaeza commented on #318
Version? Module? Steps to reproduce? Is the translation made? If you put on English your string appears?

[2017-05-31 10:21] NiyasOdootec commented on #318
I installed "account_financial_report_webkit" in odoo8. I am using multi language such that English and Arabic. Then when i print trail balance or general ledger in Arabic language,  translation of account name is not coming.

[2017-06-07 15:07] amcor commented on #314
Thanks omar!! It's a temporal fix but at least it's working now. I'll be waiting the final solution to this bug.

[2017-06-07 15:07] #314 closed, assigned to nobody

[2017-06-14 14:33] Martronic-SA commented on #295
I would like to add a field "company_ids" in MIS Report Instance so that it would be possible to search account move lines in different companies.
I see that now only the company defined in the MIS Report Instance is passed to the AccountingExpressionProcessor.
Why not passing the whole MIS Report Instance on init to the AccountingExpressionProcessor so we can get useful data from the AccountingEx

[2017-06-14 16:04] sbidoul commented on #295
@Martronic-SA I want the AEP to stay as independent as possible from the rest to avoid useless coupling.

But I'm happy to change `company` to `companies` everywhere in `mis_builder`. The change should be relatively easy.

If you plan to work on this, I recommend doing a PR on top of #275.

[2017-06-16 06:47] Martronic-SA commented on #295
Thank you for your reply.
I understand your point of view, in particular if the AEP has to be used somewhere else.
It's important to have the main company for which the other companies will be consolidated.
All the account move lines amounts from other companies have to be converted in main company's currency (rates depending on dates / periods).
In enterprise financial report, they are simply usi

[2017-06-16 06:48] Martronic-SA commented on #295
Is this available for v 9.0 also ? (or at least compatible?)

[2017-06-16 07:12] sbidoul commented on #295
It should be compatible with v9. I need some more tests on this branch, before merging then backporting to 9.

[2017-06-16 07:16] sbidoul commented on #295
Regarding currency conversion, I've not fully thought about the design yet. At first glance I'd say AEP should accept 3 parameters:
* a list of companies (added automatically to the domain filters, an generalization of the current `company`)
* a target currency (default to the currency in `companies`, error if it is not present and the companies don't have the same currency)
* a date for currency

[2017-06-16 07:41] Martronic-SA commented on #295
For a client we have had to implement the currency rate feature in the financial reports.
They have many companies some with different currencies.
We have added four options:
today,
end of period (eg 31.12.2016)
start of period (1.1.2016)
average on period (this takes the arithmetic average of rates for the period)

The target currency might be the user's company currency or can be fixed in the MI

[2017-06-16 07:51] Martronic-SA commented on #295
What do you think of adding
"company", "company_ids", "exchange_rate_time" to MIS report instance
with domain changed to:
'|',('company_id', '=', self.company.id), ('company_id', 'in', self.company_ids.ids)
So we keep main company (for example MyCompany International or user company if empty?)
And we can add MyCompany Egypt, MyCompany India, MyCompany Germany to the report?

[2017-06-16 08:17] sbidoul commented on #295
I'm not convinced there must be a concept of main company in mis builder.

I see you need it to provide de default currency for the report. I think that would be better handled with a dedicated "report currency" field possibly with an onchange to populate it.

Are there other ways that main company would have special treatments in the algorithm?

[2017-06-16 12:50] Martronic-SA commented on #295
Ok, the currency might be enough if we don't need other informations from the mother company which seems to be the case.

[2017-06-16 12:54] Martronic-SA commented on #295
I'm developing for Odoo 9.0 and I can't fork [#259](https://github.com/OCA/account-financial-reporting/pull/275) as it's using "from odoo import api" and odoo is not declared in Odoo 9.0 (it's from openerp import ...)

[2017-06-16 13:39] sbidoul commented on #295
@Martronic-SA would it work for you to develop that on 10.0? Doing the backport after will be easy. On the contrary maintaining PR's on two different branches will be a real pain.

[2017-06-19 05:24] sathwiksunderreddy opened #325 "Odoo server error"
Hi I have setup Odoo Saas module configuration in my system I am able to login as odoo.local
But when I am creating a Plan and entering to "Create template Database" It throughs the below error

I tried setting the ngix time to 300000 and even changed the workers to 4(more than 3)
still having this issue can anyone help in this regards

Odoo Server Error:
Traceback (most recent call last):
  File

[2017-06-19 09:36] Martronic-SA commented on #295
There might be useful to have a main company for getting fiscal year dates (instead of taking first company) in aep.py:
`fy_date_from = self.company_ids[0].compute_fiscalyear_dates(date_from_date)['date_from']`

[2017-06-19 11:54] sbidoul commented on #325
Hello,

The saas_portal portal module is not part of this project, and AFAIK is not maintained by OCA.

Please contact the author of that module for assistance.

[2017-06-19 11:54] #325 closed, assigned to nobody

[2017-06-23 11:44] m3asmi opened #331 "ReferenceError: pyeval is not defined"
version **10.0**

When I  click **Export XLSX** on the **General Ledger**  I get the error : **pyeval is not defined**

![screenshot from 2017-06-23 11-40-12](https://user-images.githubusercontent.com/7910752/27480752-df4a724c-5808-11e7-81e4-83d06791aea1.png)

is there a bug addons ?

[2017-06-29 09:35] Martronic-SA opened #332 "[mis_builder] display data in chart, pivots, etc"
Is there a way to use the KPI report datas in pivot or graph views?

[2017-06-29 09:38] sbidoul commented on #332
No. Excel exports works nicely though.

[2017-06-29 12:28] Martronic-SA commented on #180
_Shouldn't we use the nvd3 javascript class [tree](http://nvd3.org/examples/indentedtree.html) ? That would also allow the use of bar, pie and other types of charts_.
ok this is no more supported.

[2017-07-30 16:20] DidierLACOMBE opened #340 "Issue in Qweb financial report windows 10 odoo 10- relation does'nt exist !!"
hello

I got the following error

ProgrammingError: ERREUR:  la relation « report_general_ledger_qweb » n'existe pas
LINE 1: INSERT INTO "report_general_ledger_qweb" ("id", "centralize"...

I have install xlsxwriter in python 2.7 no changes

can someone help thanks

[2017-07-30 20:59] pedrobaeza commented on #340
You must update the module in Odoo.

[2017-07-30 20:59] #340 closed, assigned to nobody

[2017-07-31 10:46] DidierLACOMBE commented on #340
hello

that's OK it works after updating module
thanks

[2017-09-03 10:37] sbidoul commented on #307
Fixed at 48fdc72

[2017-09-03 10:37] #307 closed, assigned to nobody

[2017-09-03 12:36] sbidoul opened #344 "[mis_builder] automatic period labels"
Originally reported by @martronic-sa https://github.com/acsone/account-financial-reporting/issues/21

For mis periods, maybe the Label should not be required and if empty it would take either the date range label or make a label with the type of period.

[2017-09-03 13:09] sbidoul opened #345 "[mis_builder] extended account selectors"
Accounting expressions in mis_builder have the form

`(bal|crd|deb)(p|i|e)[account selector]([optional move line domain])?`

The account selector is currently based on account codes (eg `70%`).

Further account filtering can be added in the move line domain, eg `('account_id.type', '=', ...)`. But that is slow because additional database queries must be done, whereas the account selector boils don

[2017-09-03 13:12] JordiBForgeFlow commented on #345
We use mostly gl account tags. And can only use donain selection now, which
makes it slow. Would be great that tags was in the selecion options, to
make searches faster.

On Sep 3, 2017 3:09 PM, "Stéphane Bidoul (ACSONE)" <notifications@github.com>
wrote:

[2017-09-03 15:17] sbidoul commented on #345
Absolutely! So you will be able to write `balp[('tag_ids.name', '=', '...')]`.

On a related topic, optimizing selection on taxes would be interesting too, so you could write an efficient tax report with mis_builder.

[2017-09-15 11:49] jbaudoux opened #347 "8.0 - Aged Open Invoices from/to date does not take into account open invoices before from date"
Hello,
I cannot find a way to render open invoices of e.g. year 2016.
The amount never matches the partner balance (from partner balance report or opening entry).
In the report Aged Open Invoice you can filter from/to. When I select from 1/1/2016 to 31/12/2016, it renders all open invoices from 2016 + invoices before 2016 where there was a payment. However it does not include the open invoices cre

[2017-09-24 10:32] sbidoul commented on #285
Fixed in #275

Note that if you want to display empty cells for kpis that are otherwise numerical, it's best to use `AccountingNone` as their value: it will display empty and nicely participate in arithmetic operations.

[2017-09-24 10:47] sbidoul commented on #295
See https://github.com/acsone/account-financial-reporting/pull/16

[2017-09-24 10:51] sbidoul opened #350 "[mis_builder] multi currency support"
Preliminary work exists in https://github.com/acsone/account-financial-reporting/pull/16 and https://github.com/acsone/account-financial-reporting/pull/22.

Some calculations are not efficient enough to be included as is.

#295 must be implemented first.

[2017-09-24 11:09] sbidoul opened #351 "[mis_builder] new month/year relative period types"
This is doable with date ranges, but is more intuitive if it also appears as relative period types.

WIP https://github.com/acsone/account-financial-reporting/pull/20/files

[2017-09-27 08:35] Martronic-SA commented on #350
We should also have an average rate on period (fiscal year) frequently used in P&L consolidated

[2017-09-30 09:56] sbidoul commented on #351
This issue was moved to OCA/mis-builder#2

[2017-09-30 09:56] #351 closed, assigned to nobody

[2017-09-30 09:57] sbidoul commented on #350
This issue was moved to OCA/mis-builder#3

[2017-09-30 09:57] #350 closed, assigned to nobody

[2017-09-30 09:57] sbidoul commented on #345
This issue was moved to OCA/mis-builder#4

[2017-09-30 09:57] #345 closed, assigned to nobody

[2017-09-30 09:57] sbidoul commented on #344
This issue was moved to OCA/mis-builder#5

[2017-09-30 09:57] #344 closed, assigned to nobody

[2017-09-30 09:58] sbidoul commented on #332
This issue was moved to OCA/mis-builder#6

[2017-09-30 09:58] #332 closed, assigned to nobody

[2017-09-30 09:58] sbidoul commented on #295
This issue was moved to OCA/mis-builder#7

[2017-09-30 09:58] #295 closed, assigned to nobody

[2017-09-30 09:58] sbidoul commented on #285
This issue was moved to OCA/mis-builder#8

[2017-09-30 09:58] #285 closed, assigned to nobody

[2017-09-30 09:59] sbidoul commented on #280
This issue was moved to OCA/mis-builder#9

[2017-09-30 09:59] #280 closed, assigned to nobody

[2017-09-30 09:59] sbidoul commented on #236
This issue was moved to OCA/mis-builder#10

[2017-09-30 09:59] #236 closed, assigned to nobody

[2017-09-30 09:59] sbidoul commented on #180
This issue was moved to OCA/mis-builder#11

[2017-09-30 09:59] #180 closed, assigned to nobody

[2017-10-01 15:05] melroy89 commented on #318
I actually have the same issue with the Dutch language. I installed the 4 modules which are available for Odoo v10 (OCA).

Installed it in: /var/lib/odoo/.local/share/Odoo/addons/10.0/
I do see the nl_NL.po file located in the il18n directory. Odoo is in Dutch, but these modules are still in English, see:

![translation_issue](https://user-images.githubusercontent.com/628926/31055926-ad8bced4-a6ca

[2017-10-02 13:36] melroy89 commented on #238
@pedrobaeza "account_financial_report_horizontal" can also marked as done.
It's merged.

[2017-10-02 13:38] pedrobaeza commented on #238
Right, done!

[2017-10-03 13:56] pedrobaeza opened #358 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] account_chart_report
- [ ] account_export_csv
- [x] account_financial_report_date_range - By @mreficent - #479
- [ ] account_financial_report_horizontal
- [x] account_financial_report_qweb > account_financial_report - By @jbeficent - #367
- [ ] account_journal_report_xls
- [ ] account_move_l

[2017-10-03 15:05] melroy89 commented on #318
I should maybe ask:
 - How can I help to translate? I guess I need to use Poedit (iso transifex).

Since I have the feeling it's not fully translated (or the translation file is not correctly recognized: nl_NL.po or nl_.po).

@pedrobaeza
Can somebody generate the latest greatest nl.po files for all add-ons? So we don't miss any translation string (new strings that are added in the past, which is n

[2017-10-03 16:16] luc-demeyer commented on #318
This issue if fixed in https://github.com/OCA/account-financial-reporting/pull/123.
Unfortunately the PR never got merged but you can take the diff of this PR, apply it on your system and it will work.

[2017-10-04 12:37] melroy89 commented on #318
I tried to trigger the people to merge the PR.. Hopefully they will....

[2017-10-23 13:22] jbaudoux commented on #347
@luc-demeyer @alexis-via @pedrobaeza @sbidoul Dear all, any experience on this reported issue? Thanks. Kind regards, J-E

[2017-10-23 14:42] jbaudoux commented on #347
Here is PR that could solve the issue: https://github.com/OCA/account-financial-reporting/pull/362

[2017-10-23 17:00] pedrobaeza commented on #347
Sorry, version too old for me already...

[2017-10-23 17:08] sbidoul commented on #347
Sorry I don't know. The expert on the topic is probably @fclementic2c.

[2017-11-02 19:46] luc-demeyer commented on #347
There is to my knowledge no OCA module that covers your request in all cases.
You can download the 'account_open_receivables_payables_xls' module from apps.odoo.com or https://github.com/luc-demeyer/noviat-apps/tree/8.0.

That module solves the issue that you have.

[2017-12-06 15:33] jbaudoux commented on #347
Here is second PR that solves another issue with reconciliation date: https://github.com/OCA/account-financial-reporting/pull/369

With the PR https://github.com/OCA/account-financial-reporting/pull/362 and https://github.com/OCA/account-financial-reporting/pull/369, now the report provides the right lines and the totals on client/supplier accounts in the open invoices report match the amount of t

[2018-01-07 01:25] melroy89 commented on #358
account_financial_report_qweb & account_tax_balance can be checked above.

[2018-01-07 13:13] pedrobaeza commented on #358
Noted

[2018-01-08 09:46] jalzaga opened #375 "[11] account_tax_balance depends on module date_range which is not yet in v11"
the v11 module account_tax_balance depends on module date_range which is not  yet in v11

[2018-01-08 10:05] pedrobaeza commented on #375
That's not true. See the repository split.

[2018-01-08 11:03] jalzaga commented on #375
OK, thank you @pedrobaeza now it is in the repository https://github.com/OCA/server-ux, I couldn't find it directly, I didn´t see a specific reference in the original repository, ¿is there any direct way?

[2018-01-08 11:09] pedrobaeza commented on #375
Check always migration issue: https://github.com/OCA/server-tools/issues/1008

[2018-01-08 11:09] #375 closed, assigned to nobody

[2018-01-15 10:04] AaronHForgeFlow opened #376 "[8.0]translation files for unexisting modules. mis_builder."
Transifex seems to create translations files for previously existing modules in this repo, e.g. mis_builder. For some reason odoo server is not able to locate those modules when the addons path in the config file refers to this repo before mis_builder repo.

[2018-01-15 10:55] pedrobaeza commented on #376
We have to manually remove that translations from Transifex. Doing...

[2018-01-15 10:57] pedrobaeza commented on #376
Done.

[2018-01-15 10:57] #376 closed, assigned to nobody

[2018-01-25 21:25] marek-vavricka opened #378 "[10.0] Windows; account_financial_report_qweb to XLSX export error"
Hi,

PDF works at all reports, export to XLSX raises "Access denied" error. Details from Odoo log:

  File "C:\erp10\addons\web\controllers\main.py", line 72, in wrap
    return f(*args, **kwargs)
  File "C:\erp10\addons\web\controllers\main.py", line 1480, in index
    action["report_name"], report_ids, report_data, context])
  File "C:\erp10\odoo\http.py", line 118, in dispatch_rpc
    result =

[2018-02-13 07:25] fgarcia-humanoide opened #381 "[odoo 10] account_financial_report_qweb not workig , this error appears"
Hy,

When launching general ledger of the oca reports, this error appears:

  File "/opt/odoo/odoo-server/odoo/modules/registry.py", line 178, in __getitem__
    return self.models[model_name]
KeyError: 'report_general_ledger_qweb'

Same with other reports

 File "/opt/odoo/odoo-server/odoo/modules/registry.py", line 178, in __getitem__
    return self.models[model_name]
KeyError: 'report_trial_ba

[2018-02-13 09:03] pedrobaeza commented on #381
You haven't installed it correctly, updated or restarted the service.

[2018-02-13 09:03] #381 closed, assigned to nobody

[2018-02-22 07:21] satish-opensys opened #384 "Upgrade for Customer Outstanding Statement to v11.0"
Upgraded module for Customer Outstanding Statement for v11.0
[customer_outstanding_statement.zip](https://github.com/OCA/account-financial-reporting/files/1746950/customer_outstanding_statement.zip)

[2018-02-22 09:19] rosenvladimirov opened #385 "Contrapart account in account_financial_report_webkit"
In General ledger to showi contrapart account. Exacly when used account filter: to group entries just by counter part and to show debit's and credit's sum for each counterpart.

[2018-03-09 08:05] pedrobaeza commented on #384
Please make a PR instead. https://odoo-community.org/page/code

[2018-03-09 08:05] #384 closed, assigned to nobody

[2018-03-09 08:06] pedrobaeza commented on #378
This is a problem of your Windows deployment or Windows itself. Any way, our target is not Windows, so please try on Linux.

[2018-03-09 08:06] #378 closed, assigned to nobody

[2018-03-09 08:06] pedrobaeza commented on #318
PR is merged, so I close.

[2018-03-09 08:06] #318 closed, assigned to nobody

[2018-03-09 08:07] pedrobaeza commented on #312
No steps to reproduce the error, so I close. If more details are given, feel free to open a new one.

[2018-03-09 08:07] #312 closed, assigned to nobody

[2018-03-09 08:07] pedrobaeza commented on #305
No answer, so I close.

[2018-03-09 08:07] #305 closed, assigned to nobody

[2018-03-09 08:09] pedrobaeza commented on #261
Sorry, but very old version and wkhtmltopdf not officially supported.

[2018-03-09 08:09] #261 closed, assigned to nobody

[2018-03-09 08:09] pedrobaeza commented on #331
Please try again in runbot, and if you are able to reproduce the error, indicate the steps to reproduce it.

[2018-03-09 08:10] pedrobaeza commented on #347
As there are opened PRs, I close this issue.

[2018-03-09 08:10] #347 closed, assigned to nobody

[2018-03-09 08:10] pedrobaeza commented on #385
Sorry, but this is a feature or a question, not a bug report, so I close.

[2018-03-09 08:10] #385 closed, assigned to nobody

[2018-03-09 08:11] pedrobaeza commented on #255
If you want to add that support, please open a PR. This version is being very old and the support is limited.

[2018-03-09 08:11] #255 closed, assigned to nobody

[2018-03-09 08:15] pedrobaeza commented on #262
Can you please try to reproduce the error in runbot and put steps to get it.

[2018-03-09 08:15] pedrobaeza commented on #132
Bad installation.

[2018-03-09 08:15] #132 closed, assigned to nobody

[2018-03-09 08:15] pedrobaeza commented on #93
Very old version, sorry.

[2018-03-09 08:15] #93 closed, assigned to nobody

[2018-03-09 08:16] pedrobaeza commented on #75
Sorry, but this is a question, not an issue. Closing.

[2018-03-09 08:16] #75 closed, assigned to nobody

[2018-03-09 08:16] pedrobaeza commented on #70
You are not indicating version, it's not a bug itself, and very old. Closing. Sorry.

[2018-03-09 08:16] #70 closed, assigned to nobody

[2018-03-09 08:17] pedrobaeza commented on #58
This is not an issue of the module itself and not supported version of wkhtmltopdf. Closing.

[2018-03-09 08:17] #58 closed, assigned to nobody

[2018-03-09 08:18] pedrobaeza commented on #8
This is a limitation of XLS itself. As there's now report_xlsx, I close this.

[2018-03-09 08:18] #8 closed, assigned to nobody

[2018-03-09 08:18] pedrobaeza commented on #10
Closing as this has been handled in new versions.

[2018-03-09 08:18] #10 closed, assigned to nobody

[2018-03-09 08:18] pedrobaeza commented on #22
It was migrated in v9 to QWeb, so I close.

[2018-03-09 08:18] #22 closed, assigned to nhomar

[2018-03-09 08:19] pedrobaeza commented on #24
Closing as it was fixed.

[2018-03-09 08:19] #24 closed, assigned to nobody

[2018-03-09 08:19] pedrobaeza commented on #33
This is very old and should be already handled. Closing.

[2018-03-09 08:19] #33 closed, assigned to nobody

[2018-03-09 08:20] pedrobaeza commented on #34
Is this fixed, @sbidoul ?

[2018-03-09 08:20] pedrobaeza commented on #42
Is this still happening, @sbidoul ?

[2018-03-09 08:21] pedrobaeza commented on #57
Closing this as now in new versions doesn't happen and there's a workaround any way.

[2018-03-09 08:21] #57 closed, assigned to nobody

[2018-03-09 08:21] pedrobaeza commented on #76
This seems to be fixed and any way, it's a very old version. Closing.

[2018-03-09 08:21] #76 closed, assigned to max3903

[2018-03-09 08:22] pedrobaeza commented on #91
Closing as this is old and seems to be a solution (limiting the wizard).

[2018-03-09 08:22] #91 closed, assigned to nobody

[2018-03-09 08:22] pedrobaeza commented on #95
Closing as triaging this old issue.

[2018-03-09 08:22] #95 closed, assigned to nobody

[2018-03-09 08:23] pedrobaeza commented on #114
Seems to be fixed.

[2018-03-09 08:23] #114 closed, assigned to max3903

[2018-03-09 08:23] pedrobaeza commented on #150
This seems a bad installation or an outdated version. Closing.

[2018-03-09 08:23] #150 closed, assigned to nobody

[2018-03-09 08:24] pedrobaeza commented on #138
This was already fixed. Please try latest version.

[2018-03-09 08:24] #138 closed, assigned to nobody

[2018-03-09 08:24] pedrobaeza commented on #133
The PR is merged and solves this issue, so I close.

[2018-03-09 08:24] #133 closed, assigned to nobody

[2018-03-09 08:25] pedrobaeza commented on #152
Closing this as very old. If you want to make a PR, feel free to open it.

[2018-03-09 08:25] #152 closed, assigned to nobody

[2018-03-09 08:25] pedrobaeza commented on #289
I don't think that's an error, but the expected behavior.

[2018-03-09 08:25] #289 closed, assigned to nobody

[2018-03-09 08:26] pedrobaeza commented on #309
The module is now migrated.

[2018-03-09 08:26] #309 closed, assigned to nobody

[2018-03-09 08:26] pedrobaeza commented on #331
I close this meanwhile.

[2018-03-09 08:26] #331 closed, assigned to nobody

[2018-03-09 08:26] pedrobaeza commented on #262
I close this meanwhile.

[2018-03-09 08:26] #262 closed, assigned to nobody

[2018-03-09 12:01] sbidoul commented on #42
I dont know. No time to check, I'm not so much in 8 these days.

[2018-03-09 12:58] pedrobaeza commented on #42
OK, let's close it then. If anyone hits this, he/she can open a new issue.

[2018-03-09 12:58] #42 closed, assigned to nobody

[2018-03-09 13:00] pedrobaeza commented on #34
Let's close it. If anyone hits this, he/she can open a new issue.

[2018-03-09 13:00] #34 closed, assigned to nobody

[2018-03-10 03:57] feketemihai opened #394 "Naming issue on Financial Reports module."
We have a naming issue on account_financial_report, the module already exists in Odoo Apps, done by Vauxoo on version before 7.0:
https://www.odoo.com/apps/modules/7.0/account_financial_report/
That's why the module doesn't appear in apps store.
How can we treat this one?
@mreficent @jbeficent @pedrobaeza @moylop260 @nhomar

[2018-03-10 06:38] JordiBForgeFlow commented on #394
@nhomar, seems that you have discontinued this module after v6.1. Could you remove from the app store?

[2018-03-10 14:37] pedrobaeza commented on #394
I think he can't simply remove the module, but ask to the Apps responsibles to change the owner somehow.

[2018-03-11 05:05] seancallahan88 opened #395 "[10] customer_activity_statement - report cannot be used as email attachment"
The CustomerActivityStatement report cant be emailed: if you add it to an email template for res.partner it wont call '_prepare_activity_statement' (function is in the wizard) so 'data' in

`def render_html(self, docids, data):
        data = {
            'date_start': str(date.today() - timedelta(days=120)),

            'date_end': str(date.today()),

            'company_id': self.env.user.com

[2018-03-13 15:33] CasVissers-360ERP opened #396 "Aged Partner Balance - Invoice Date"
Hi,

Should the aged partner balance not be on invoice date instead of due date?

The term aged balance already tells us that we want an aged balance, not an overview on how long an invoice is due. I think it's standard accounting to calculate age on the invoice date:

https://www.reviso.com/accountingsoftware/accounting-words/customer-balance-list
https://www.accountingtools.com/articles/what-is-

[2018-03-13 15:39] pedrobaeza commented on #396
I don't think so. We want to know when is payment expected.

[2018-03-15 11:17] JordiBForgeFlow commented on #394
In any case, @nhomar would you agree? Can we mail to Odoo and put you in copy?

[2018-03-15 14:57] hbto commented on #394
I @hbto Agree on renaming the module on behalf of @nhomar
endorse my decision @moylop260

Regards

[2018-03-15 15:03] moylop260 commented on #394
👍

[2018-03-15 15:24] JordiBForgeFlow commented on #394
Thank you guys!

[2018-03-15 15:25] JordiBForgeFlow commented on #394
Let us know when you have done so, and we'll oversee if the issue is resolved in the next days.

[2018-03-15 15:27] feketemihai commented on #394
@nhomar @hbto @moylop260 Thanks for your quick reaction and decision. Hope you will use the module on newer versions..

[2018-03-16 17:12] pedrobaeza commented on #394
I think you have to start the request to Apps Manager from your side...

[2018-03-17 09:04] othmasoft opened #397 "can not install on odoo 11"
can not install it
i think it dependency issue

[2018-03-17 10:08] pedrobaeza commented on #397
If you don't put more information, it will be hardly solved.

[2018-03-17 10:08] #397 closed, assigned to nobody

[2018-03-19 10:16] othmanNiceOne commented on #397
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo/http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo/http.py", line 309, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/opt/odoo/odoo/http.py", line 685, in dispatch
    result = self

[2018-03-19 13:21] dynapps opened #398 "Module account_financial_report changes fonts in backend"
This is an issue in Odoo 11.
The stylesheet "report.css" inherits from web.assets_backend. This causes a change in the default font everywhere in the Odoo backend, because of this section:
body, table, td, span, div {
    font-family: Helvetica, Arial;
}
Shouldn't the stylesheet inherit from report_assets_common instead?
Because the font is changed to Helvetica in the backend, this has an impact w

[2018-03-20 14:08] feketemihai commented on #398
@dynapps @pedrobaeza @jbeficent I update it locally, i am trying to improve report styles, and i will push after.

@dynapps You can change first style block with:
.body, .table, .td, .span, .div {
    font-family: Arial,Helvetica,sans-serif;
}
and it's solved.

[2018-03-20 14:09] pedrobaeza commented on #398
OK, thanks!

[2018-03-22 10:06] dynapps commented on #398
@feketemihai Thank you for the quick follow-up! I do wonder if the font of all the screens should be updated in this module, because it seems to me that the module is meant for reports. So I'm hesitant to change the style block as you suggest. Or did you just wanted to offer a quick workaround?...

[2018-03-22 10:09] feketemihai commented on #398
@dynapps By applying the modifications, the fonts will be restored as the Odoo one, and this will be loaded only the report...

[2018-03-22 11:26] HviorForgeFlow opened #400 "OCA financial reports are not rendered properly"
There seems to be a problem with an specific database and pdf reports are not render properly. With same module installed in a new demo-data database instance is working fine. Content is render but table format is skipped generating and huge amount of pages in the report.

Has anybody been in a similar situation? Any solution?

Thanks,

[2018-03-22 12:11] HviorForgeFlow commented on #400
Finally I found the solution:
https://www.odoo.com/forum/help-1/question/problem-with-qweb-reports-rendering-to-pdf-html-version-ok-68445

[2018-03-22 12:11] #400 closed, assigned to nobody

[2018-03-26 13:47] #396 closed, assigned to nobody

[2018-03-27 08:56] HviorForgeFlow opened #404 "Add foreign currency to Trial balance report"
Relating to #402 #403

Is it worth that this report shows foreign currencies?

If there is an account with more than one foreign currency, I assume that in this kind of environments there will be an account to every specific foreign currency used, but if not, this report won't be useful.

I assume too that in high volatile currency exchange rate should be perform on the time operation is performed

[2018-03-27 09:34] fclementic2c commented on #404
Yes, definitely the balance in currency would be a great information on the trial balance... but on accounts with a secondary currency only.

[2018-03-27 11:53] feketemihai commented on #404
@hveficent @fclementic2c From my side, i don't see it printed in foreign currency, in most of the case the balance won't match the amount in different currency, only after you launch the multicurrency reevaluation, so it can be a nice improvement, but not as default one, a checkbox in wizard, if you want to print it with foreign currency to check it.

[2018-03-28 00:27] elicoidal opened #406 "Improve multi-company field in the report generating wizard"
Current wizard allows only to select one company for the report generation
Expected behaviour: the wizard generating the report allows to select no company or multiple companies via many2many_tags

[2018-03-29 16:31] fclementic2c commented on #404
Yes as a display option is better.

[2018-04-06 08:01] aitorbouzas commented on #358
Isn't account_financial_report already migrated?

[2018-04-06 08:02] pedrobaeza commented on #358
Well, that's the old one. A long history coming from 6.1...

I have removed it for avoiding confusions.

[2018-04-06 08:06] fclementic2c commented on #358
I have the feeling that some modules do the same job
account_financial_report_horizontal -> Mis builder
customer_activity_statement & customer_outstanding_statement -> Open items
report in the account_financial_report

Don't you think ?

*camptocamp*

INNOVATIVE SOLUTIONS
BY OPEN SOURCE EXPERTS

*Frédéric Clementi*
Project Manager
Business Solutions

+41 21 619 10 41

www.camptocamp.com

2018-04-0

[2018-04-06 08:09] pedrobaeza commented on #358
account_financial_report_horizontal > @hbrunn maintains this module across versions. I don't know if they can switch to mis_builder.

customer_activity_statement & customer_outstanding_statement > @jbeficent is the promoter of this 2, and I think they are more complete, covering other parts, like sales and so on, but maybe then the repository is not the correct one.

[2018-04-21 11:54] nhomar commented on #394
sorry for the delay, I will ask for the app manager to be removed.

[2018-04-21 11:56] JordiBForgeFlow commented on #394
They have already fixed https://www.odoo.com/apps/modules/11.0/account_financial_report/

[2018-04-21 11:56] #394 closed, assigned to nobody

[2018-04-24 08:35] mrezki opened #414 "account_financial_report_qweb access_denied"
Hello i was installing account_financial_report_qweb on my local computer. while export to XLSX. I get error access_denied. this is log while error

Traceback (most recent call last):
  File "/opt/odoo10/odoo-custom/falinwa_branch/web/controllers/main.py", line 68, in wrap
    return f(*args, **kwargs)
  File "/opt/odoo10/odoo-custom/falinwa_branch/web/controllers/main.py", line 1463, in index

[2018-04-24 08:43] pedrobaeza commented on #414
Please update your Odoo and module code, because this is solved in latest versions.

[2018-04-24 08:43] #414 closed, assigned to nobody

[2018-05-07 10:45] thegunshow opened #417 "Statements show wrong partner with multi company"
Hi

Using Odoo 11.0

There seem to be some problems when generating statements, the following problems have been found:
1. The wrong partner(company) details at the top of the statement, this happens regardless of the selection used.
2. When you sell to another partner, for instance, Company A creates a statement for Company B(both A & B are companies within the multi company), the statement will

[2018-05-18 09:48] treviser opened #418 "[9.0]QWeb Financial Reports: Entries quadrupled in German language!"
This is a very strange issue, which seems to affect all QWeb Financial Reports:

This is what should be correctly reported and also gets correctly reported when the user language preference is set to English:
![selection_049](https://user-images.githubusercontent.com/1814941/40228332-4691b984-5a91-11e8-80c2-0a3040f2b1b1.png)

This is what I get when I launch exactly the same report, but with the u

[2018-05-18 09:49] pedrobaeza commented on #418
Can you replicate it in runbot? Exact steps for replicating it?

[2018-05-18 09:51] treviser commented on #418
How can I install the QWeb reports on runbot?

[2018-05-18 09:57] pedrobaeza commented on #418
On our OCA runbot. Each repository has its own. There should be a button "Try me on runbot" on the README of the module.

[2018-05-18 10:02] treviser commented on #418
I can not replicate it on runbot. So that is strange, where should I start to dig further?

[2018-05-18 10:06] treviser commented on #418
New observation: It seems as this is related to the number of translation records per account. If an account has only one translation record, the german report is correct. But there are accounts, which have 3 translation records, and therefore we have 4 records in the report, 1 for the source term, and 3 more for the 3 translation lines.
Therefore this seems only to be possible for multilanguage c

[2018-05-18 10:09] pedrobaeza commented on #418
Uhm, why these duplicated translation entries? Are you talking about l10n_multilang?

[2018-05-18 10:11] treviser commented on #418
Yes, exactly, it is l10n_multilang

[2018-05-18 10:13] pedrobaeza commented on #418
Well, it seems this is incompatible with that module then :(

@jcoux @jbeficent any idea of this?

[2018-05-18 10:26] jcoux commented on #418
@pedrobaeza @treviser I don't know exactly the problem, and my first implementation don't consider languages, but that pull request:
https://github.com/OCA/account-financial-reporting/pull/227
has added features to translate names of accounts.

Like I see the code, I think if you duplicate translations for a same lang/account, maybe we have a problem. (Normally this case mustn't happen.)

Maybe it

[2018-05-18 11:39] pedrobaeza commented on #418
@jcoux thanks for the insights!

@lbeopennet you added this change, so please check the possible problems that has been notified here.

[2018-05-18 13:20] treviser commented on #418
I have to further investigate on what exactly the issue could be...

[2018-05-18 14:43] treviser commented on #418
I did test all possible permutations concerning language, translation field name and translation status.
My observation:
Account totals and account move lines appear (and are counted) as many times as a translation value for the "account.account,name"-field in the report user language exists.

Example:
account.account,name = "Account Receivables" = source term
account.account,name = "Debitoren" =

[2018-05-18 14:46] pedrobaeza commented on #418
@treviser but the abnormal thing is that you have more than one translation term for each language. I think that's the problem.

[2018-05-18 15:09] treviser commented on #418
@pedrobaeza I agree with you, but if I remember it correctly, it only came with Odoo 10.0 that it was not possible anymore to update the account translations by uploading another .po file, which I did in 2016 because of the many translation errors.
However, it seems strange to me to select and aggregate account moves based on account name translation entries.

[2018-05-18 15:13] pedrobaeza commented on #418
Then remove that duplicated translation terms and all should go normal again. I don't think this can be easily reproduced in other environment except yours.

[2018-05-18 15:17] treviser commented on #418
That's what we do now. But it might be helpful to know for others having manipulated their multilingual accounting localization.

[2018-05-18 15:18] #418 closed, assigned to nobody

[2018-05-19 16:52] pedrobaeza opened #419 "[11.0] Feedback on hierarchy for account_financial_report"
HI, @feketemihai @jbeficent, I would like to share with you several things after testing `account_financial_reporting` to see possible fixes/improvements:

* If you mark "Hide account ending balance at 0", indeed the accounts are hidden, but not their hierarchy parents, getting an ugly report:

![seleccion_010](https://user-images.githubusercontent.com/7165771/40270859-e7fc4254-5b94-11e8-9d01-08b8

[2018-05-28 11:43] fclementic2c opened #421 "account_financial_report should override default odoo report from chart of account"
account_financial_report should override default odoo report from chart of account

![screenshot-smartliberty odoo camptocamp ch-2018 05 28-13-43-00](https://user-images.githubusercontent.com/5735158/40613011-1519d8f2-627d-11e8-9076-8f616372d47e.png)

[2018-06-08 14:45] JordiBForgeFlow commented on #404
Question resolved. Closing.

[2018-06-08 14:45] #404 closed, assigned to nobody

[2018-06-19 09:27] jjordaan79 opened #426 "General Ledger can be computed only if selected company have only one unaffected earnings account."
Issue when trying to pull General Ledger report.

General Ledger can be computed only if selected company have only one unaffected earnings account.

No Errors in the log.

[2018-06-25 11:47] yajo opened #430 "account_financial_report_qweb: CSS conflicts with backend"
STR:

1. Install odoo 10.
1. Install `account_financial_report_qweb`
1. Go edit some view in configuration > Technical > user interface > views.

Problem: Fonts should be monospace, but are Helvetica:
![captura de pantalla de 2018-06-25 12-43-39](https://user-images.githubusercontent.com/973709/41848633-f7071564-7875-11e8-8416-b1208c9389b4.png)

I'd say this addon is injecting some report-only lay

[2018-06-25 16:12] pedrobaeza commented on #430
@jbeficent was it you who changes this?

[2018-06-28 19:07] pedrobaeza commented on #430
@Yajo are you able to fix it?

[2018-06-29 07:51] yajo commented on #430
I guess so, but the problem is that I don't really know what that addon does, and I saw it includes report things (expected) and backend widgets (not expected). I'm not sure if moving the CSS to reports only would break the widgets...

I guess that somebody that actively uses the addon could be better off fixing it, but yes, I could try anyways.

[2018-06-29 07:55] pedrobaeza commented on #430
@jbeficent please help here at least to answer @Yajo's question.

[2018-06-29 09:45] HviorForgeFlow commented on #430
On statics/css/src/*.css there is a definition on top about font usage, in
that case Helvetica or Arial, removig that css definition would be
sufficient to display fonts as default/¿monospace?

On Fri, 29 Jun 2018, 09:55 Pedro M. Baeza, <notifications@github.com> wrote:

[2018-06-30 17:45] drmedrme opened #434 "Odoo Server Error: request of type 'http' but called with a request of type 'json'"
I have the below error popping up whenever I double click on a number in debt/credit or inital/ending/cumul balance amounts for the generated reports (trial balance, general ledge, etc.).   I read where you could run a nginx reverse proxy and error would not occur, but that does not seem to help.  Currently using odoo server port 8069.  Version 11 Odoo.  Any help or directions on where to look wou

[2018-07-02 08:18] yajo commented on #430
I think the bigger problem is including report css files in backend assets, isn't it?

[2018-07-02 22:29] pedrobaeza commented on #417
Please put the detailed steps to reproduce the problem, preferable on runbot infrastructure for being reproducible again.

[2018-07-04 08:27] HviorForgeFlow commented on #430
Yes, I noticed in v11 is happening too.

[2018-07-16 10:35] pedrobaeza commented on #419
@feketemihai I haven't received any reply from you, and haven't seen you around for a while. Are you OK?

[2018-07-18 06:23] fgarcia-humanoide opened #442 "odoo [8]"
Error when using webkit reports

  | execv() arg 2 must contain only strings<type 'exceptions.TypeError'>,execv() arg 2 must contain only strings,<traceback object at 0x7f7bb0ad2ea8>
-- | --

[2018-07-18 06:24] fgarcia-humanoide commented on #442
Works fine exporting to excel , the problem appears when printing pdf.

[2018-07-18 10:30] sbidoul commented on #442
Looks similar to #200, can you please check the workaround there?

[2018-07-18 10:37] fgarcia-humanoide commented on #442
Solved restoring the database in another odoo 8 instalation. The difference was:
in ubuntu 14.04 does not work
in ubuntu 16.04 works fine

[2018-07-18 10:37] #442 closed, assigned to nobody

[2018-07-18 10:38] MarcoCalcagni opened #443 "[10] customer_outstanding_statement - Error on SQL"
Hi, i found an error on calculation of debit value.
If I have an invoice of 1000 and on this invoice I have 2 payment of 200 balance 600 the report will show import of document 2000 (because on the account_move_line  there are more account_partial_reconcile record )
to fix I think to change
`CASE WHEN (l.currency_id is not null AND l.amount_currency > 0.0)
                THEN sum(l.amount_currenc

[2018-07-21 14:03] fanha99 commented on #426
in your chart of account, (**Accounting / Configuration / Chart of Account**), select one account and set account type to "**Current Year Earnings**"

[2018-07-21 14:34] pedrobaeza commented on #426
Yeah, this is not an Odoo issue, but configuration question, and @fanha99 has gently already answered you, so closing this.

[2018-07-21 14:34] #426 closed, assigned to nobody

[2018-07-26 16:27] HviorForgeFlow commented on #430
Solved with #437 waiting FF in #436
Issue should be closed after that

[2018-08-13 23:14] ovnicraft opened #450 "IMP: Add option to avoid group by partner in Ledger report"
I am looking for add the option to avoid group lines by partner in ledger report for payables & receivables accounts.

[2018-08-14 05:07] pedrobaeza commented on #450
That option doesn't exist right now.

[2018-08-14 05:07] #450 closed, assigned to nobody

[2018-08-17 05:43] gdgellatly commented on #395
@seancallahan88 Just call _prepare_activity_statement

https://github.com/odoonz/odoonz-addons/blob/ac8ca60527eb52d9d2b1de5ae87db4729c9d5bfd/customer_activity_statement_monthly/report/customer_activity_statement.py#L32

[2018-08-31 11:29] open-net-sarl opened #459 "SQL error in report/abstract_report.py"
Hi

We've had a flood of error messages while updating a database, caused by an SQL error in the file **_account_financial_report/report/abstract_report.py_**, line 18:
"self.create_date" not understood by Odoo

Thanks in advance.

[2018-09-18 07:18] miquelalzanillas opened #462 "11.0:account_financial_report - res = {**res, **foreign_currency} SyntaxError: invalid syntax"
This error related to foreign_currency avoid to initialize the addon.

2018-09-18 07:12:58,470 27465 DEBUG ? odoo.http: Loading account_financial_report
2018-09-18 07:12:58,486 27465 WARNING ? py.warnings: /opt/odoo/odoo11-venv/lib/python3.4/site-packages/werkzeug/filesystem.py:63: BrokenFilesystemWarning: Detected a misconfigured UNIX filesystem: Will use UTF-8 as filesystem encoding instead of '

[2018-09-18 07:40] pedrobaeza commented on #462
You should use Python 3.5, as Odoo is prepared for that version, but I'm not sure if this specific issue is due to that.

[2018-09-18 16:34] fgarcia-humanoide opened #463 "odoo [11] account-financial-reporting Trial balance does show acounts properly ordered"
odoo [11] account-financial-reporting Trial balance does show acounts properly ordered

expected behaviour:

197
199
200

actual behaviour:
goes from 199 to 60
![capturasumasysaldos](https://user-images.githubusercontent.com/7599709/45702182-72694400-bb71-11e8-8c9a-338a79c2e2a5.JPG)

[2018-09-18 16:37] fgarcia-humanoide commented on #463
In Spain, we are used to a trial balance ordered by numbers and not grouped as balance sheet.

[2018-09-18 16:41] pedrobaeza commented on #463
That's because you have incorrect group assigned to that accounts.

[2018-09-18 16:41] #463 closed, assigned to nobody

[2018-09-20 09:04] EdgarNaranjo opened #464 "Ubuntu 18.04 - AccessDenied: Access denied"
Hello,
We are running the latest Odoo Community 10 (from git) with OCA (spain) modules.
And get  "Access Denied" to extract any XLST report from accounting

How to reproduce the issues:
1) Go to OCA Accounting reports
2) Select General Ledger
3) Introduce the range of dates
4) Select Export to XLSX

2018-09-20 08:51:16,115 18029 ERROR test1 odoo.addons.web.controllers.main: An exception occured du

[2018-09-20 09:07] pedrobaeza commented on #464
Is this reproducible on runbot? https://runbot.odoo-community.org/runbot/91/10.0

[2018-09-20 09:14] EdgarNaranjo commented on #464
Thank you for your quick answer.
The issue is not reproducible on runbot. On Ubuntu 16.04 neither!
It appears at Ubuntu 18.04 LTS

[2018-09-20 09:59] pedrobaeza commented on #464
Then it seems a deployment problem. We have been running this in 18.04 without problems.

[2018-09-20 09:59] #464 closed, assigned to nobody

[2018-09-21 15:28] EdgarNaranjo commented on #378
Hello good afternoon @marek-vavricka . Could you solve the error? Now I've run into the same error, I've updated modules, checked dependencies, libraries and continues the same error.

Thank you

[2018-09-21 15:28] EdgarNaranjo commented on #414
Hello good afternoon @mrezki . Could you solve the error? Now I've run into the same error, I've updated modules, checked dependencies, libraries and continues the same error.

Thank you

[2018-09-27 00:02] OCA-git-bot opened #466 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] account_financial_report - ~~By @wpichler - #509~~ - By @eLBati - #559
- [x] account_tax_balance - By @astirpe - #468
- [x] customer_activity_statement > partner_statement - By @gdgellatly - #477
- [x] customer_outstanding_statement > partner_statement - By @gdgellatly - #477

[2018-10-01 15:14] astirpe commented on #466
account_tax_balance #468

[2018-10-02 13:11] pedrobaeza commented on #434
This seems to be a deployment issue, not a bug itself, so closing.

[2018-10-02 13:11] #434 closed, assigned to nobody

[2018-10-02 14:09] pedrobaeza commented on #430
Already solved

[2018-10-02 14:09] #430 closed, assigned to nobody

[2018-10-13 11:09] astirpe commented on #459
Fixed in https://github.com/OCA/account-financial-reporting/pull/465.
This issue can be closed.

[2018-10-13 11:09] #459 closed, assigned to nobody

[2018-10-14 16:51] ovnicraft commented on #466
After odoo remove [financial reports](https://github.com/odoo/odoo/blob/11.0/addons/account/report/account_financial_report.py)  from v12 i want to keep them here, so i need to extract commits from odoo and add it to a module here as any other migration ? @pedrobaeza

[2018-10-14 18:55] pedrobaeza commented on #466
That reports are wrong most times and useless. Use instead `account_financial_report` module for a better replacement. You have also `mis_builder` for P&L and BS.

[2018-10-15 01:23] ovnicraft commented on #466
@pedrobaeza we use them, btw we use old financial report from odoo to create COA in levels like old parent/child structure in older versions and easy to use than mis-builder with one template can query in months.

If its considered for OCA i can work to port here that engine report as alternative with fixes needed.

[2018-10-15 07:45] pedrobaeza commented on #466
I don't get which report do you need that is not in the mentioned ones, but what you should do is one of this:

- Improve existing reports for having the feature you miss right now.
- Extract only that part into a module.

[2018-10-19 09:35] #462 closed, assigned to nobody

[2018-10-29 22:47] lauracvilla-zz commented on #419
There is an option to get Hierarchy or Account Parents Information con Odoo 10 with account_financial_report? I like this module but I don't know how show parents account information on this module or how I need to create this accounts? Thanks for your help.

[2018-10-29 22:48] pedrobaeza commented on #419
@lauracvilla no. Please don't hijack threads.

[2018-10-31 21:56] gdgellatly commented on #466
@pedrobaeza I am nearly completed a complete refactor of customer_activity_statement and customer_outstanding_statement for V12. PR in next 24 hours.

[2018-10-31 21:59] pedrobaeza commented on #466
Great, @jbeficent will be interested.

[2018-10-31 22:02] JordiBForgeFlow commented on #466
@gdgellatly Looking forward to seeing your improvements!!

[2018-11-02 05:00] gdgellatly commented on #466
@jbeficent Its taken me a little longer than expected to nail down the finishing touches.  Will have to finish up over the weekend.

[2018-11-26 20:49] Danisan opened #486 "Proposal to hide journal selection in general ledger wizard"
In account_financial_report_qweb, there is a selector for al journals, that by default is empty.

If you have your system plenty of journals, It is an annoyance for users to select all of them. Actually I don't find sense to have a selector for journals, since that way, there is no guarantee that there are no movements for the same selected accounts in the same selected date range in not chosen jo

[2018-11-26 21:15] pedrobaeza commented on #486
-1 to first proposal. If you don't want to use journal selection, don't use it. Leave it empty will show everything.

About the other proposal, it's interesting, but you can get similar things with "Search more..." option + multi-select (web_widget_many2many_tags_multi_selection).

[2018-11-28 07:24] rafaelbn opened #487 "[11.0][account_financial_report] Aged Partner Balance doesn't show any relevant information"
Hello,

Any Account financial PSC is using daily this Report? @alexis-via @sbidoul ?

You will see that the Aged Partner Balance doesn't work in any case (doesn't work by invoice date and doesn't work by due date)

- Make a payment term for generating 3 different due date in a invoice (I did 30, 60, 90)
- Make and invoice using this payment term and set the invoice date 30 days before you make thi

[2018-11-28 07:32] rafaelbn commented on #487
Sorry for the noise. I tested wrongly :cry:

It works...

![2018-11-28_8-30-25](https://user-images.githubusercontent.com/8736623/49135824-30cee500-f2e8-11e8-86b7-f7ea5411a6b7.png)

[2018-11-28 07:34] #487 closed, assigned to nobody

[2018-11-28 16:05] cierek opened #488 "[9.0][10.0][11.0] Customer Outstanding Statement - error when attaching to partner mass mail"
customer_outstanding_statement
Hi,

When I am trying to attach it to the "Partner Mass Mailing" it gives me the following error:
  File "/odoo11/custom/addons/customer_outstanding_statement/report/customer_outstanding_statement.py", line 325, in get_report_values
    company_id = data['company_id']
TypeError: 'NoneType' object is not subscriptable

Video: https://youtu.be/f0aAkMeAm_U

How would yo

[2018-11-30 09:04] fclementic2c commented on #486
I need this selector. we added it quite recently in fact.

The idea is to be able isolate closing entries since there is no special closing period to handle this.
It is also used for some specific analysis.

But I agree that this is not the most important feature and it could be in a separate tab or at the bottom...

[2018-12-07 09:23] jeroenev commented on #466
what about account_financial_report_date_range ?

[2018-12-07 10:01] pedrobaeza commented on #466
@jeroen7s that one is not needed anymore as standard financial reports have been removed in community. Any way, not all modules might be here if the migration in previous version is done after the creation of the new branches, but we can add them later without problem.

[2018-12-19 13:06] Cedric-Pigeon opened #492 "[10.0] account_financial_report_qweb: huge performance issues when trying to compute trial balance for all partners"
On a huge database, the computation of the report takes more than 18 minutes for this request:
![image](https://user-images.githubusercontent.com/7813258/50221855-cbc25880-0396-11e9-9bc2-f318393651e4.png)

Because of an empty filter on partner I enter this line https://github.com/OCA/account-financial-reporting/blob/10.0/account_financial_report_qweb/report/general_ledger.py#L253

I have 2 questio

[2018-12-19 13:07] Cedric-Pigeon commented on #492
@jcoux I think you can help me as you wrote the code on which I have questions through this commit https://github.com/OCA/account-financial-reporting/commit/9ad59f8a2b40b1ad2d9b70a05b192c260dccf80a

[2018-12-19 13:08] pedrobaeza commented on #492
Without the intention of offending anyone, this module, getting things with SQL by the fear of being slower than with ORM, is a total mess that has grown very badly. Getting things with `read_group` would have the same performance and be far more readable. I want to refactor this for v12.

[2018-12-19 14:13] fclementic2c commented on #492
jcoux is off for few weeks.

The idea of using SQL was to avoid memory errors, as we used to have in previous versions, even for longer reports. Saying that, I am not competent to judge this.

[2018-12-19 14:16] Cedric-Pigeon commented on #492
@fclementic2c Thanks, my concern is not about SQL but more about the method called ;-)

[2018-12-19 14:17] pedrobaeza commented on #492
Yes, sorry for the offtopic, but each of the problems arisen in this module are a total pain to be debugged/solved due to this SQL thing.

About memory usage, I'm sure with `read_group` it's not a problem. I'll tell in v12.

[2018-12-19 14:58] Cedric-Pigeon commented on #492
I just upgraded to last version and the problem seems to be fixed. Sorry

[2018-12-19 14:58] #492 closed, assigned to nobody

[2018-12-24 10:48] primes2h opened #494 "[12.0] ERROR when updating translations on account_tax_balance"
Running the following command:

odoo-bin --update=account_tax_balance  --i18n-overwrite

I get this error (and 500 internal server error on browser):

2018-12-24 10:30:39,903 6921 INFO odoo12-test odoo.addons.base.models.ir_translation: module account_tax_balance: loading translation file (it) for language it_IT
2018-12-24 10:30:39,903 6921 INFO odoo12-test odoo.tools.translate: loading
/home/----

[2018-12-24 11:34] pedrobaeza commented on #494
Please check on `it.po` that there are no duplicated `msgid` strings in the file.

[2018-12-24 12:40] primes2h commented on #494
it.po file is ok.
The strange thing is that I translated the module yesterday using weblate but still no import commit since then.

https://translation.odoo-community.org/projects/account-financial-reporting-12-0/account-financial-reporting-12-0-account_tax_balance/it/

P.S.:
.pot file has still
"Project-Id-Version: Odoo Server 11.0\n"

[2018-12-24 13:23] primes2h commented on #494
Just to let you know, no import commits also for other translations I made yesterday

e.g.
https://translation.odoo-community.org/projects/contract-11-0/contract-11-0-agreement/it/

https://translation.odoo-community.org/projects/l10n-italy-12-0/l10n-italy-12-0-l10n_it_withholding_tax/it/

[2018-12-24 13:26] pedrobaeza commented on #494
@sbidoul is there any problem on the hourly cron?

[2018-12-26 10:49] sbidoul commented on #494
The config (on components) was 24h. My hypothesis is that what was a global config before became a per component config with some weblate upgrade.

Anyway AFAICS your translations have been pushed to GitHub automatically.

I changed the default to 2h and updated all components.

[2018-12-26 13:12] primes2h commented on #494
In fact this is true for account_tax_balance in account-financial-reporting but not for other repositories I mentioned above (e.g. contract 11.0 and l10n_italy 12.0).
I only see some commits about it.po files creation, not translated ones.
I had to create some in weblate prior to translating them because they didn't exists.

https://github.com/OCA/contract/commits/11.0
https://github.com/OCA/l10n-

[2018-12-26 13:32] primes2h commented on #494
I tried running
odoo-bin --update=account_tax_balance --i18n-overwrite
again using updated it.po but I still get the error.

P.S.: .pot an all .po files have still wrong version set.
"Project-Id-Version: Odoo Server 11.0\n"

[2018-12-26 13:41] sbidoul commented on #494
Hm, when pot files are out of date, look at travis.yml

https://github.com/OCA/account-financial-reporting/commit/fd2e003670fd47f8b89d06039c6fbac9fb01a8d1 should help.

[2018-12-26 13:55] sbidoul commented on #494
@primes2h ok, that should resolve the problem with account_tax_balance.

Now about your two other addons with new translations, I don't understand why weblate is not pushing them to github. It looks like it behaves differently with new translation files? I'm not sure.

I gave push permission to the OCA Translators role, that should not create any additional risk.

Can you look in the component men

[2018-12-26 14:18] primes2h commented on #494
@sbidoul
Yes, I see it. Thank you!
Anyway, I think that giving all translators access to that button is a bit risky. Maybe It should be better to enable reviewer role and use it for this kind of thing. That could help improving translations quality too.

P.s.: the email with workflow suggestions is still in my to-do list, please be patient. :)

[2018-12-26 15:18] sbidoul commented on #494
What kind of risk do you see? AFAIU, it would only push things that weblate would push anyway automatically later.

No worries :)

[2018-12-26 15:55] primes2h commented on #494
The original blocking error has gone and translation are now updated in existing databases. :-)

But now I get this instead (e.g. updating account_tax_balance only):

odoo-bin --update=account_tax_balance --i18n-overwrite

2018-12-26 15:37:55,929 27978 WARNING odoo12-pp odoo.models: The model wizard.open.tax.balances has no _description
2018-12-26 15:37:56,088 27978 INFO odoo12-pp odoo.modules.reg

[2018-12-26 16:00] primes2h commented on #494
I saw that the same issue (missing MAKEPOT="1") is present also in 11.0 and 10.0 versions.
Could you please update them as well? Thanks.

[2018-12-26 16:04] sbidoul commented on #494
@primes2h 10 and 11 have TRANSIFEX=1 which is supported for backward compatibility, so these should be ok.

[2018-12-26 17:11] primes2h commented on #494
You are right, the risk I refer to is not about the button itself, but to the related translator role.
With current settings, translations are open to anyone registered on the website, without any kind of quality assurance.
For instance, if you finish a translation you can't be sure that anyone else change it (in a wrong way) afterwards.
To ensure quality you need guidelines, rules, context knowle

[2018-12-26 17:13] sbidoul commented on #494
Ok, I tend to agree translation reviewers would be nice to have. It's mostly a question of defining a process that is manageable OCA-wide. How to decide who is reviewer, etc.

[2018-12-26 19:54] primes2h commented on #494
Exactly, those things are all in the "not yet ready" email. ;-)

[2018-12-26 21:00] primes2h commented on #494
Sorry, this last was my fault.
Now it works as expected.
Thanks!

[2018-12-26 21:01] #494 closed, assigned to nobody

[2018-12-26 23:40] primes2h commented on #494
Ok, thanks :+1:

[2018-12-27 22:45] emagdalenaC2i commented on #466
Please add the PR number #477 to customer_activity_statement and customer_outstanding_statement By @gdgellatly this 2 modules are merged into one with a new name --> partner_statement

[2018-12-27 22:52] emagdalenaC2i commented on #358
Please, add account_financial_report_date_range #479 to the list
customer_activity_statement is merged in #389
customer_outstanding_statement is merged in #388

[2019-01-02 14:11] lauracvilla-zz opened #495 "10.0 Order"
Hi,
I create the groups, but the report shows me accounts in other order, for example:

Groups Information:
Group 1
Group 11 , Child of 1
Group 13,  Child of 1
Group 17,  Child of 1

And Group 11, 13 an 17 have child accounts. The report is showing:

Report:
1
13
1355
1330
1305
17
1710
1705
11
1110
1120

The group account's are not showing on the correct order, what can it be?

Thanks for your hel

[2019-01-03 08:28] lukebranch commented on #466
Due to the fact migrating (or rewriting) account_financial_report for version 12.0c will likely be quite a significant undertaking, and the fact there is a substantial need for this in version 12.0c, would the OCA, or any OCA members be interested in starting a kickstarter campaign, or something similar to help crowd-fund and expedite the development of this feature in Odoo 12.0c?

A number of my

[2019-01-03 09:14] pedrobaeza commented on #466
Well, strictly speaking, you can migrate the module as is easily to v12. The problem is that the module is not very mantenible due to the bad decision of doing everything in SQL, and each bug/behavior change is a total pain to be debugged/changed, so a rewriting of it would be very advisable. I'm not sure a campaign for that would be something interesting if not promoted by OCA, and any way, it re

[2019-01-04 22:30] Vartkat opened #496 "[11] Non zero still show zero"
Odoo 11.
Ubuntu 16

Even if I check the box saying 'only non zero accounts' the reports (Trial Balance and General Ledger) are showing zero lines (even some with -0.00).
If I look into my database I see that some numbers are stored as '-24.900000000000002'.
My decimal precision is set to two digits. So when a calculation is made, it sure end with something like 0.000000002' which is obviously not

[2019-01-06 02:48] lukebranch commented on #466
@pedrobaeza , thanks for taking the time to clarify all that, I was under the impression it would be far more complicated than it seems.

I may do a quick migration to 12.0 myself first as a stop-gap measure, but would still be interested in contributing if there is some sort of campaign run by the OCA for funding/driving a rewrite as you suggested (eg. something along the lines of bountysource or

[2019-01-06 03:55] gdgellatly commented on #466
@pedrobaeza @lukebranch My preference here would be to see feasibility of rewriting a basic set in mis-builder rather than continue with migrating the crappy old reports. Maybe just as a seperate module, say mis_builder_default_financial_reporting - was kinda something I was planning on doing but a bit low on the list.

\cc @jbeficent

[2019-01-06 13:16] pedrobaeza commented on #466
@gdgellatly `mis_builder` is not suitable for that kind of reporting, so it's not a simply tiny module. See for example the problems for adding account hierarchical groups I had: https://github.com/OCA/mis-builder/issues/115

[2019-01-06 20:51] pedrobaeza commented on #496
I can confirm this. @jbeficent do you know where to touch for this?

[2019-01-07 16:18] pedrobaeza commented on #496
Fixed in https://github.com/OCA/account-financial-reporting/commit/5924c5c718c271a4bde7ed65445fed9b1eb986b1

[2019-01-07 16:18] #496 closed, assigned to nobody

[2019-01-13 07:32] iman99 opened #506 "Support Odoo 12"
How can i install it on odoo 12?

[2019-01-13 13:07] pedrobaeza commented on #506
This is still not migrated to v12.

[2019-01-13 13:07] #506 closed, assigned to nobody

[2019-01-17 17:47] lauracvilla-zz opened #510 "10.0 Historial"
Hi,
For some account this situation is happening:

Example:
January Report:
Account1
Initial balance: -5
Debit: 5
Credit: 0
Period balance: 5
Ending Balance: 0

February Report:
Account1
Initial balance: -5
Debit: 0
Credit: 0
Period balance: 0
Ending Balance: -5

The report is not taking the Ending balance for the next month.

[2019-01-23 10:29] clxadmin opened #511 "Odoo [9][10] missing data for 9999 profits/losses on first year and follow up years have wrong amounts"
I'm writing here to first thank the people from OCA for the great work, making Odoo Community to this great solution :-)

I'm facing some issues with the module account_journal_report with V9 / V10. I can reproduce the same behavior on your runbot with a simple sample. Please have a look to the attached screenshots explaining the two issues:

first year 2016 (starting accounting) - missing profit/

[2019-01-31 08:52] yung-wang opened #513 "[11.0] Error Aged Partner Balance when you choose details."
I get this error when I choose details in the Aged Partner Balance
Sorry, but I cannot provide the database for research and I have no idea how to reproduce this in a clean database. Maybe someone can help and knows what is wrong when reading the error message.

Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo-server/odoo/addons/base/ir/ir_qweb/qweb.py", line 343, in _c

[2019-01-31 08:55] JordiBForgeFlow commented on #513
@mreficent can you check?

[2019-01-31 08:56] fclementic2c commented on #513
I cannot reproduce. I tested it on a big DB and it works fine :\

[2019-01-31 15:39] MiquelRForgeFlow commented on #513
@yung-wang the error seems to come from the `template_account_financial_report_report_aged_partner_balance_move_lines_3727` xml template, that have a wrong code. Could you put here the code of this template?

[2019-01-31 16:31] MiquelRForgeFlow commented on #513
No, sorry, I think I have found the error.

@yung-wang could you check if with https://github.com/OCA/account-financial-reporting/pull/514 the error is solved?

[2019-02-03 12:53] pedroortega-punt opened #515 "[11.0] account_financial_report: General ledger - Total ending balance does not take into account filtered partners"
In the general ledger report that is normally used to extract the statement to the client or supplier, it is not normal to indicate the balance of the general accounts, in the case of selecting a general account it should be normal, but not selecting a company .

![imagen](https://user-images.githubusercontent.com/18347857/52176978-f50a3d00-27ba-11e9-8e96-3a3bd28c32b8.png)

Ledger companies:
Is th

[2019-02-19 14:47] pedrobaeza commented on #510
This is working AFAIK, so please try on runbot and tell back if still happening. Closing meanwhile.

[2019-02-19 14:47] #510 closed, assigned to nobody

[2019-02-20 15:01] ghost commented on #358
I have detected on runbot that if the amounts are bigs, the PDF report doesn't show properly. The value doesn't fit in the box. On these fields the box doesn't adjust to the value as other fields do.
![1](https://user-images.githubusercontent.com/25029267/53100732-8ce08880-3528-11e9-86ec-fbe90bab63d0.png)

[2019-03-08 10:49] glauco70 opened #521 "[11.0] Open Items report"
There is a way in the open items report to have the Expired totals ?

[2019-03-08 10:57] fclementic2c commented on #521
You will rather find this information in the aged balance report.

[2019-03-08 11:12] glauco70 commented on #521
Thank you

[2019-03-08 11:12] #521 closed, assigned to nobody

[2019-03-10 21:17] OthmaneGhandi opened #522 "[10.0] VAT Report missing !"
You mentioned in README of V10 that there is a VAT report, but I didn't find it
Am I missing someting ?
Thanks

[2019-03-11 07:05] fclementic2c commented on #522
mmm. I think this is a newly added report. I saw it on version 12 - not 11.

[2019-03-11 08:20] pedrobaeza commented on #522
The report is present AFAIK in 10.0 and 11.0 (12.0 module is not yet migrated). Please check in the proper section (OCA financial reports).

[2019-03-11 08:20] #522 closed, assigned to nobody

[2019-03-11 08:23] fclementic2c commented on #522
for Odoo12 there is this PR not merged yet but very much operational (except pdf export still a bit ugly): https://github.com/OCA/account-financial-reporting/pull/509

[2019-03-18 14:26] ghost commented on #358
Hi, does anyone know anything about this last post?

[2019-03-19 07:13] mannoble opened #523 "Trial balance"
An account with current earning type it's opening balance shows more value than actual at initial balance section.

[2019-03-19 12:46] pedrobaeza commented on #523
Sorry, but this is working fine on my end. Try on runbot and put a video/screenshots to demonstrate the problem you are talking about.

[2019-03-19 12:46] #523 closed, assigned to nobody

[2019-03-20 08:16] mannoble commented on #523
![one](https://user-images.githubusercontent.com/9113379/54669019-61d65e00-4b01-11e9-912e-09cb1060b297.PNG)
This is an openining balance for this account on 10/102018
the Excel trial balance report is showing below
![two](https://user-images.githubusercontent.com/9113379/54669079-829eb380-4b01-11e9-8bab-2be398f31105.PNG)
However, Odoo default trial balance report is showing the exact amount

[2019-03-20 09:01] pedrobaeza commented on #523
You are not mentioning even Odoo version and it seems you haven't got latest code version.

[2019-03-20 10:23] mannoble commented on #523
Am working on version 10 and Account_financial_reporting version is '10.0.1.5.2'

[2019-03-24 15:30] lili94 opened #525 "PDF PRINT ERROR V11"
hi, when i print repport in pdf i get this , the repport not inline please help
![Capture](https://user-images.githubusercontent.com/32308220/54881636-21087d00-4e52-11e9-8264-74fbd54a6c70.PNG)

[2019-03-25 09:06] pedrobaeza commented on #525
The screenshot is the PDF? Please try on runbot to reproduce the problem.

[2019-03-25 09:32] lili94 commented on #525
yes, the screenshot from pdf that i got after print , in runbot work perfect but in my local i got these

[2019-03-25 09:33] pedrobaeza commented on #525
Then it's a problem in your configuration (check report.url system config parameter).

[2019-03-25 09:33] #525 closed, assigned to nobody

[2019-03-25 15:14] lili94 opened #526 "Could not find client action 'account_financial_report_backend'."
hi, after installation of module and try it , when i click in view button i got these error "Could not find client action 'account_financial_report_backend'."
i didin't inderstand what is mean pleas help

[2019-03-25 15:24] pedrobaeza commented on #526
It seems you haven't installed the module properly. Try to restart Odoo service and make sure everything is properly update. Any way, this is not an issue of the module itself, so closing.

[2019-03-25 15:24] #526 closed, assigned to nobody

[2019-03-26 08:21] lili94 commented on #526
restart server work for me thanks

[2019-03-26 10:06] lili94 opened #528 "show Cmputing entry befor calculate initial balance"
hi can anyone help me to calculate all entry than calculate the price off all entry with initial balance
thanks

[2019-03-26 10:50] pedrobaeza commented on #528
Sorry, this is not an issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups, https://odoo-community.org/groups), but not here.

Closing this by the reason above.

[2019-03-26 10:50] #528 closed, assigned to nobody

[2019-03-27 10:26] lili94 opened #529 "FILTER WITH PARTNER SHOW NOTHING"
HI WHEN THE ACCOUNT OF PARTNER IS IN DEBIT AND MAKE THE FILTER PARTNER ON HIM D'ONT WORK JUST WITH COMPTE WORK

[2019-03-27 10:31] pedrobaeza commented on #529
Sorry, but the steps to reproduce the problem are not completed to understand the problem. And please don't write everything in upper.

[2019-03-27 10:36] lili94 commented on #529
hi,sorry for write everything in upper.My problem is when i filter by partner when the account is credit account is work perfect but when the account is debit account nothing show

[2019-03-27 10:37] pedrobaeza commented on #529
Debit account? That doesn't exist... Put the detailed steps to reproduce the problem, with screenshots if needed.

[2019-03-27 10:48] lili94 commented on #529
thanks i fix it, the solution is that to show the detail when filter by partner ,it must have the same account in partner because i change chart of accounts thanks

[2019-03-27 10:48] #529 closed, assigned to nobody

[2019-03-27 11:02] JordiBForgeFlow commented on #515
@vipvalen When you want to send the statement of activity to customers of suppliers you should use https://github.com/OCA/account-financial-reporting/tree/11.0/customer_activity_statement

[2019-03-28 08:01] lili94 opened #530 "ending cumul show just one row"
hi , i want to personnalise the ending cumul table make somthing like the picture
![Capture55](https://user-images.githubusercontent.com/32308220/55141221-39221a00-513a-11e9-9ac8-22d88c4355dc.PNG)
, but i always get duplicate row how can i fix it please help . thanks

[2019-04-01 10:53] lili94 commented on #530
i fixe it thanks

[2019-04-01 10:53] #530 closed, assigned to nobody

[2019-04-01 10:55] lili94 opened #531 "show date _range_id in report general ledger"
hi, i want to show date range_id in general ledger put i got it empty please help

[2019-04-01 10:57] pedrobaeza commented on #531
I don't get what is the issue you have. Are you talking about custom development?

[2019-04-01 11:09] lili94 commented on #531
hi, thanks for replay i want to show the date range on
![Capture6](https://user-images.githubusercontent.com/32308220/55323387-de106000-5476-11e9-836c-73bd4e197155.PNG)
 the form in my genral ledger because it was my fiscal year
![Capture7](https://user-images.githubusercontent.com/32308220/55323431-f84a3e00-5476-11e9-8a4d-374021d1a773.PNG)

[2019-04-01 11:12] pedrobaeza commented on #531
You already have the date interval just below in "Plage de dates". That's what is done right now. Other things will require development.

[2019-04-01 11:12] #531 closed, assigned to nobody

[2019-04-01 11:18] lili94 commented on #531
it s mean that i can't add 2019 in title of my report

[2019-04-01 11:19] pedrobaeza commented on #531
Not right now.

[2019-04-01 11:21] lili94 commented on #531
ok thanks for help

[2019-04-02 14:27] omarshatnawi39 opened #532 "[10.0] account_financial_report_qweb: trial balance"
In the Trial Balance Report when i set the field (Hide accounts at 0) is True

the result in report remove lines if credit equal debit only

for Example: i have tow account is (Initial balance greater than zero) and (credit equal debit) it is removed from report

i think the solve in
general_ledger.py Lines 555 to 559
and function: _get_final_account_sub_subquery_sum_amounts

Thanks for the great

[2019-04-02 14:27] pedrobaeza commented on #532
Are you using latest code version?

[2019-04-02 14:29] omarshatnawi39 commented on #532
Yes, the code was downloaded yesterday

[2019-04-02 14:40] pedrobaeza commented on #532
@jbeficent didn't you fix this on the past?

[2019-04-03 07:28] lili94 opened #533 "openning debit/credit for initial balance"
hi, i want in trial balance , initial balance make separation between debit and credit
if debit in case debit /if credit in case credit
please help

[2019-04-03 07:31] pedrobaeza commented on #533
And again your issues description is not very understandable, but issues are for notifying bugs, not for asking questions.

[2019-04-03 07:31] #533 closed, assigned to nobody

[2019-04-03 07:59] lili94 commented on #533
hi when i try to call initial debit from general ledger account in trial balance account line i got these error thanks

[2019-04-03 09:43] lili94 commented on #533
i fixe it by make condition initial_balance  <0

[2019-04-03 09:46] lili94 opened #535 "ending cumul in trial balance"
hi trial balance don't show ending cumule . i want to show total of credit and debit

[2019-04-03 10:03] pedrobaeza commented on #535
Please, more information, screenshots, etc. It's impossible to deduce the issue, although again I think this is only a feature request.

[2019-04-07 14:04] Brainoids001 opened #536 "Error While Installing"
i got following error while installing qweb financial report :
Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 642, in _handle_exception
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 684, in dispatch
  File "C:\Program Files (x86)\Odoo 10.0\server\odoo\http.py", line 334, in _call_function
  File "C:\Program Files (x86)\O

[2019-04-07 15:20] pedrobaeza commented on #536
Restart your Odoo service and update again.

[2019-04-07 15:20] #536 closed, assigned to nobody

[2019-04-08 07:48] lili94 commented on #535
hi @pedrobaeza  i change the trial balance to make it withe 6 colomun , now i wont to the sum of account group come after  the line and make total in the end of page to each colomun
![screencapture-file-C-Users-Asmaa-Downloads-Trial-Balance-24-pdf-2019-04-08-08_42_45](https://user-images.githubusercontent.com/32308220/55707247-0cdc8800-59db-11e9-82a4-c3ff89d713e9.png)

[2019-04-08 08:23] lili94 commented on #463
hi @fgarcia-humanoide  and @pedrobaeza  i have the correct group assigned to the account but i have incorrect order
![Inkedscreencapture-localhost-8069-web-2019-04-08-09_19_58_LI](https://user-images.githubusercontent.com/32308220/55709271-dc4b1d00-59df-11e9-84de-5358baa18961.jpg)

[2019-04-09 09:42] lili94 commented on #535
@pedrobaeza  can you help me please

[2019-04-09 15:02] pedrobaeza commented on #535
Sorry but no, I haven't understood yet most of your issues and this is for notifying issues, not questions or feature requests

[2019-04-10 07:36] Brainoids001 opened #538 "issue in configuration of server on ubuntu"
**When i give this code :**

ns]
admin_passwd = odoo
db_host = False
db_port = False
db_user = odoo
db_password = FALSE
addons_path = /opt/odoo/addons
xmlrpc_port = 8069

I  got an error command not found

What could be the possible solution ?
![error](https://user-images.githubusercontent.com/49274384/55860266-48b74f00-5b8d-11e9-8a72-c1d6e7a2bafe.png)

[2019-04-10 07:37] pedrobaeza commented on #538
Sorry, but this is for issues with the modules of this repository, and this is not an issue nor related.

[2019-04-10 07:37] #538 closed, assigned to nobody

[2019-04-18 15:49] MOGwebz commented on #426
Hi Actually still after doing as prescribed as @fanha99 still getting the same error

[2019-05-10 08:28] farazbdm commented on #522
@pedrobaeza
the VAT report is not available in the OCA reports Menu.
in Odoo 10.0 i even checked in the menu lists.

[2019-05-14 07:59] fclementic2c opened #542 "[11.0] wrong domain on wizard for partners"
We can only select contacts instead of companies on all OCA financial report

![screenshot-c2c odoo camptocamp ch-2019 05 14-09-58-36](https://user-images.githubusercontent.com/5735158/57680909-ed1a2e80-762e-11e9-8726-b8b789c39f21.png)

[2019-05-14 15:39] labaggio opened #543 "[11.0] Error in Trial Balance report"
https://github.com/OCA/account-financial-reporting/blob/2e4430f7263efea1e0b790ad30be1ec8a791d8eb/account_financial_report/report/trial_balance.py#L575

Value 'compute' is not valid, the correct value is 'computed'

[2019-05-14 15:40] pedrobaeza commented on #543
Thanks for detecting that. Please do the corresponding PR for attributing the fix properly.

[2019-05-17 08:45] Arvinman opened #545 "[11.0] Trial Balance's Journal option does nothing"
By changing Journal Field in Trial Balance Report. Only thing that changes in result is Profit/Loss Account. All other general account still take all entries from all journal.

Is this Journal field still valid for use? Or do you have any plan to make it obsolete?

[2019-05-17 12:43] gdgellatly opened #546 "[BUG] Activity/Partner Statements Aging Balances"
This is a bit tricky to explain and I can't quite diagnose it as I didn't do the original SQL.

The aging takes into account partial reconciliations, initially from Q0, but here is where the action happens. I guess the issue could be tied to Q0, and need to check the date of the associated full_reconcile_id?

https://github.com/OCA/account-financial-reporting/blob/348fb0489d0ae2717e7213cfe8e226198

[2019-05-17 14:02] i-vyshnevska commented on #542
https://github.com/OCA/account-financial-reporting/pull/512

[2019-05-17 16:42] MiquelRForgeFlow commented on #546
No, the Aging buckets only show the outstanding. You should compare the Outstanding Statement with the Aging buckets, not the Activity Statement with the Aging buckets.

But I checked your issue and yes, there is an error in the outstanding and the aging buckets. The problem is in the Q0 subquery and also maybe the Q1 and Q2. I will try to fix.

Aging | 1 mth | 2 mth | 3 mth | Total
-- | -- | -- |

[2019-05-17 22:34] gdgellatly commented on #546
@mreficent no that is incorrect. The closing balance of an activity statement must equal the sum of aging.

Also I don't know why you have changed the expected again here. That is also wrong. The 1 payment for $1000 is unreconciled as at 30/04/2019 in the example. It therefore must be -$1000 in the 3 mth column.

What happens is when you reconcile a full payment, that also includes another credit

[2019-05-17 22:57] gdgellatly commented on #546
@mreficent Actually I wonder if there isn't a bug in Odoo in `_compute_max_date` when the partial reconciliation occurs as part of a full reconciliation. What do you think? Or why there is even a partial reconciliation at all.

[2019-05-20 10:14] MiquelRForgeFlow commented on #546
I saw in your example, that when I reconciled the $1000 of Feb with a 10,000$ invoice of March, the date of this partial reconciliation is the same of the invoice. Thus, that's why in date of 30/04, this 1000$ is already reconciled and thus I changed the expected.

I do not know if it's correct o no, but what Odoo does is that, when there is a partial reconciliation between an invoice and a paymen

[2019-05-20 11:09] gdgellatly commented on #546
@mreficent But that is not correct. Not least of which is because the invoice reconciled against is indeterminate. Take a second example.

In May.
Reconcile nothing.
Print Statement for 30/04/2019
Part reconcile just the $1000 against a march invoice.
Print Statement for 30/04/2019

You have different aging, but nothing has changed from an April perspective.

But as I say it is even worse in the o

[2019-05-20 11:19] MiquelRForgeFlow commented on #546
And that partial reconciliation record is assigned the date of the invoice (March), thus at printing the Statement for 30/04/2019, it should consider that reconciliation.

[2019-05-20 12:59] dfragni commented on #463
![image](https://user-images.githubusercontent.com/50833152/58023283-b9984200-7b0f-11e9-848f-42df4dffac23.png)

Same here, why the 4 is between the 1 and the 2 ?

[2019-05-20 13:01] gdgellatly commented on #546
No it shouldn't.

Given NO transactions have occurred, NO new entries, NO nothing except a May payment which has been reconciled. The user didn't even create a partial reconciliation, they processed a full reconciliation which happens, due to Odoo internals create a partial reconciliation record, and this bug change the aging.

The customer provided no remittance saying apply this $1000 to invoice

[2019-05-20 13:27] MiquelRForgeFlow commented on #546
Well, maybe we are speaking of different type of reconciliations. The one I am speaking is the one done manually in the invoice:
![Selection_062](https://user-images.githubusercontent.com/25005517/58024945-a25b5380-7b13-11e9-808d-1844a806fa66.png)

[2019-05-21 00:34] gdgellatly commented on #546
@mreficent I'm just talking about plain old normal payment matching using either bank reconciliation, or reconciliation widget.

[2019-05-21 10:57] MiquelRForgeFlow commented on #546
Yes, and when you do that reconciliation, and then you go again to the first invoice, you will still see that same image. I tested it with the reconciliation widget. All types of reconciliations, no matter which, Odoo does partial reconciliations between invoices and payments, and always chose different dates for those partial reconciliations (the maximum date between the invoice and the payment).

[2019-05-22 02:38] lili94 opened #550 "remove ref from label"
hi in general ladger i want to remove ref from label and make it in other cell how to do that

[2019-05-22 07:33] pedrobaeza commented on #550
See the code and make the tweak. You can propose the change in a PR.

[2019-05-22 07:33] #550 closed, assigned to nobody

[2019-05-22 10:54] lili94 commented on #550
i didn't find please help

[2019-05-22 13:31] #546 closed, assigned to nobody

[2019-05-22 13:32] gdgellatly commented on #443
@As400it This can be closed

[2019-05-22 13:33] gdgellatly commented on #488
@cierek It is resolved in v12, not sure about prior versions. The problem is it is a wizard not a report.

[2019-05-22 13:34] #443 closed, assigned to JordiBForgeFlow

[2019-05-22 20:21] MarcoCalcagni commented on #443
yes

[2019-05-24 01:00] dominiquekonsuntack opened #551 "Bug with customer outstanding statement"
Steps to reproduce:
- Create a sales invoice (e.g. 1,000)
- make a partial payment (e.g. 100)
- make a second partial payment (e.g. 200)
- Print the customer outstanding statement

Bug:
--> the invoice original amount is 2,000 (instead of 1,000). The amount due is correct

[2019-05-28 08:29] astirpe commented on #513
This issue can be closed

[2019-05-28 08:32] #513 closed, assigned to nobody

[2019-05-28 08:48] astirpe opened #553 "[11.0] account_financial_report: error in aged partner balance report"
Reproduced in Runbot.

Steps to reproduce:

- Go to Invoicing -> Reporting -> OCA accounting reports -> Aged Partner Balance
- Set Show Move Line Details = True
- Click on View
- Click on one of the cells under column Residual or Current (value of cell must be not null)

Result:

[code]

[2019-05-28 09:56] MiquelRForgeFlow commented on #543
can be closed

[2019-05-28 09:57] MiquelRForgeFlow commented on #542
can be closed

[2019-05-28 10:05] MiquelRForgeFlow commented on #551
I was unable to reproduce your issue.

![Selection_063](https://user-images.githubusercontent.com/25005517/58469879-bf5ddb00-8140-11e9-80fd-4eb4f3d75a50.png)

Please, ensure you have the module updated to last version.

[2019-05-28 10:11] #543 closed, assigned to nobody

[2019-05-28 13:06] dominiquekonsuntack commented on #551
oh .. it seems to be fixed in v11, but I was referring to v10 ...
any chance to get this backported ?

[2019-05-28 13:10] dominiquekonsuntack commented on #551
My mistake .. this is fixed also in V10.
Sorry for the wrong bug report....
Thanks.

[2019-05-28 13:11] mreficent commented on #551
It was backported in https://github.com/OCA/account-financial-reporting/pull/549. I don't know if the PR will get merged someday.

[2019-05-28 13:12] MiquelRForgeFlow commented on #551
No problem. Then close this issue haha

[2019-05-28 13:25] #551 closed, assigned to nobody

[2019-05-28 15:00] MiquelRForgeFlow commented on #553
Fixed in https://github.com/OCA/account-financial-reporting/pull/555. Could you check?

[2019-05-29 09:19] fclementic2c opened #556 "[11.0] General Ledger pdf export layout issues"
Few corrections to do on GL report:

Switch to landscape
Do not display any currency symbol
the account title should not be wrapped
do not display the account ending balance on payable/recevable account type when filtering on partners

[2019-05-29 09:32] gdgellatly opened #557 "[BUG] Activity Statement Balances"
To reproduce

In Jan 2019 Create an invoice for $100.00
Mark the journal item as blocked/ no follow-up
In month prior to today
Create an invoice for $200.00
Create a payment for $100.00
Reconcile payment against blocked journal item.
Print Activity Statement.

Shows opening balance of $0.00, closing balance of $100.00
Aging is correct. (or is it wrong)

Expected
Closing balance $200.00, opening ba

[2019-05-29 16:01] Tonow-c2c opened #558 "[11.0][account_financial_report] :warning: pdf and html report have same name"
![image](https://user-images.githubusercontent.com/32262135/58571765-b6e9cb00-823a-11e9-9540-9bfe1684805b.png)

For report creation we pass by this method [_get_report_from_name](https://github.com/odoo/odoo/blob/11.0/odoo/addons/base/ir/ir_actions_report.py#L424-L425)

So in some case (like change paperformat of one of them) we have a issue if we have same name for different reports  :warning:

I

[2019-05-30 06:36] pedrobaeza commented on #558
OK, good for me.

[2019-05-30 08:12] patel1008b opened #560 "[10.0] Aged Partner Balance : Expected singleton: account.partial.reconcile(2999, 3000, 3001)"
QWebException: Expected singleton: account.partial.reconcile(2999, 3000, 3001)
Traceback (most recent call last):
  File "/opt/odoo/odoo-10.0/odoo/addons/base/ir/ir_qweb/qweb.py", line 315, in _compiled_fn
    return compiled(self, append, values, options, log)
  File "<template>", line 1, in template_account_financial_report_qweb_report_aged_partner_balance_move_lines_545
  File "<template>", lin

[2019-05-30 08:13] patel1008b commented on #560
@pedrobaeza Can you please help on this?

[2019-05-31 11:15] #553 closed, assigned to nobody

[2019-06-01 13:44] emagdalenaC2i commented on #466
@jbeficent Please, mark customer_activity_statement > partner_statement - By @gdgellatly - #477 and customer_outstanding_statement > partner_statement - By @gdgellatly - #477 that are already merged

[2019-06-02 13:19] lili94 opened #563 "general ledger filter with partner not work v.11"
hi when i filter with account work  perfect , but when i choose account then filter partner show nothing egg 411100 (account) then  partner BNA => nothing show

[2019-06-03 07:43] sergiuga opened #564 "[11] Customer outstanding statement - show already reconciled invoices"
Hello,

I'm using Odoo 11 Community, on a Centos7 VPS.
After updating to the last version of the module customer_outstanding_statement, the report shows all the invoices for the customer, not only the open ones.

Thank you,
Sergiu

![image](https://user-images.githubusercontent.com/28352258/58784552-6385cd00-85ec-11e9-9daf-7c050dc206eb.png)

[2019-06-04 13:12] pedrobaeza commented on #560
You have to reproduce the problem in runbot and put all the needed steps to reproduce the problem.

[2019-06-05 17:09] SilvioGregorini opened #567 "[11.0] [BUG] account financial report - missing style in PDF"
Hello everyone,
I'm experiencing a few problems using the reports implemented within module `account_financial_report`.
Whenever I create an HTML view from the “OCA accounting reports“ menu, everything goes straight; yet, when I try to download the PDF version of it, the report has no styling whatsoever.

Here you can find two pdf reports I created a few minutes ago:
[Trial Balance.pdf](https://gi

[2019-06-06 08:13] eLBati commented on #567
Similar problem fixed in v12 with https://github.com/OCA/account-financial-reporting/pull/559/commits/0fb37f484a666ca2df369031bef19aa910d16f36#diff-d4acce339ed5a97f2ad218fbe91081b7R13

[2019-06-06 08:18] pedrobaeza commented on #567
Can you put the PR with the fix, please?

[2019-06-06 09:52] SilvioGregorini commented on #567
@eLBati @pedrobaeza

Just opened PR #568 that might solve this issue.
It is just a backporting of commit 0fb37f4 as suggested above.

[2019-06-06 14:19] lili94 opened #569 "filter account and partner in same time show nothing in general ledger"
hi when i  try to filter with partner and account in the same time nothing show in general ledger  thanks

[2019-06-07 18:31] alexeirivera87 opened #571 "In account_financial_report, href to an unexisting css file"
In account_financial_report/report/templates/layouts, branch 11.0, we have this line
`<link href="/account_financial_report/static/src/css/report.css" rel="stylesheet"/>`

but that file report.css does not exists

Regards

[2019-06-07 20:35] pedrobaeza commented on #571
Fixed in 2fe67661b1433b810902727fa1db8ff8c3ea210a

[2019-06-07 20:35] #571 closed, assigned to nobody

[2019-06-07 20:36] pedrobaeza commented on #567
I'm reverting 3aae117362f48c846e1ecdc772967f3b52ebbe3c in 2fe67661b1433b810902727fa1db8ff8c3ea210a, as the proposed fix can have side effects.

[2019-06-07 20:36] #567 closed, assigned to nobody

[2019-06-08 06:55] i-vyshnevska commented on #571
@pedrobaeza reverting for v11 is wrong, as reported branch is wrong
in v11 used **account_financial_report_qweb** and bug reported about **account_financial_report**

[2019-06-13 04:13] seancallahan88 commented on #564
I too am showing this issue in V12e.

Also to prevent confusion on the customer end, perhaps the outstanding statement should be titled 'abbreviated' or condensed statement?

[2019-06-13 19:26] pedrobaeza commented on #466
Closing as completed

[2019-06-13 19:26] #466 closed, assigned to nobody

[2019-06-14 11:39] jalzaga opened #575 "General ledger - Total ending balance does not take into account filtered partners"
When selecting partners in general ledger, the total ending balance is not the sum of the selected partners but the total of the account.
It creates confusion since the user expect to find the total of the selected partners instead of the global balance for the account.
I enclose two screenshots, one with partner selection and another one without selection
![2019-06-14 13_04_34-General Ledger - Od

[2019-06-14 13:56] pedrobaeza commented on #569
Tried on runbot and not happening, so unless more proofs are presented, closing.

[2019-06-14 13:56] #569 closed, assigned to nobody

[2019-06-14 13:56] pedrobaeza commented on #563
Tried on runbot and not happening, so unless more proofs are presented, closing.

[2019-06-14 13:56] #563 closed, assigned to nobody

[2019-06-14 13:57] #542 closed, assigned to nobody

[2019-06-14 13:58] pedrobaeza commented on #575
Duplicated of #515

[2019-06-14 13:58] #575 closed, assigned to nobody

[2019-06-14 13:59] pedrobaeza commented on #511
The behavior has been improved for showing more why computations are done that way, so closing this.

[2019-06-14 13:59] #511 closed, assigned to nobody

[2019-06-14 14:00] pedrobaeza commented on #421
This has been achieved already and in v12, there's no such problem.

[2019-06-14 14:00] #421 closed, assigned to nobody

[2019-06-16 03:09] lili94 opened #576 "how to call context_timestamp in journal ledger base"
hi when i try to add

 ` <span t-esc="context_timestamp(datetime.datetime.now()).strftime('%Y-%m-%d %H:%M')"/>`

 to journal ledger base i get object non callable how can i fix it please

[2019-06-17 05:02] patel1008b commented on #560
@mreficent , I think it's related to #513

[2019-06-17 09:53] MiquelRForgeFlow commented on #560
I think you don't have updated the module. please, update it and try again

[2019-06-17 17:45] patel1008b commented on #560
The fix is not merge in 10.0 branch. I have took the fix commit code from 11.0 branch.

So we can apply that 10.0 to resolve this.

[2019-06-18 12:41] sbidoul opened #580 "record rules in account_financial_report"
Following the recent issue about the security of account_financial_report that I raised with @jbeficent, I'm wondering if there might not be an easy way to improve security for account_financial_report (short of rewriting it using the ORM which is an undertaking that  probably no one is willing to tackle right now).

Since most reports are based on account.move.line, it might be relatively easy to

[2019-06-21 07:08] astirpe opened #581 "[12.0][BUG] account_financial_report: error clicking on currency"
Reproduced in Runbot:

1. Open one report (eg.: General Ledger"). In the wizard click on "View".
2. Click on the currency symbol (eg: $).

Result:

[code]

[2019-06-30 14:45] lili94 opened #586 "General ledger filter partner have many move_line in deferent journal show nothing"
hi thanks for the module is very helpful, but i got nothing i think it 's an issue , when you filter with partner that have many account in deferent move_ line for  exemple
partner : AADL  journal 1   acouunt 411300 debit credit
               AADL  journal 4   acouunt 411200 debit credit

can you check this for me please
@pedrobaeza @sbidoul

[2019-06-30 15:08] #576 closed, assigned to nobody

[2019-07-02 10:13] glauco70 opened #587 "[10.0] account_financial_report_qweb: trial balance"
When I create a trial balance report selecting the VIEW button, I see the result not in a readable mode
![trial_balance](https://user-images.githubusercontent.com/13453706/60504846-b5d90d00-9cc2-11e9-9546-b395eb5b550d.png)

[2019-07-02 10:14] pedrobaeza commented on #587
This seems a deployment issue. Please try to reproduce the problem in OCA runbot following link in the README.

[2019-07-02 12:39] glauco70 commented on #587
thank you

[2019-07-02 12:55] manuelviejo opened #588 "[10.0]Account_financial_report_qweb"
Regards,

I have a doubt about the module account_financial_report_qweb, specifically about the generation of the general ledger. I would like to know why only accounts that are type To pay or To collect are grouped by company, and why accounts that are not of these types can not be grouped. Is it for a specific reason? Is there a reason why it is not allowed to group by company the accounts that

[2019-07-02 12:57] pedrobaeza commented on #588
That accounts are the one that should be grouped by partner. The rest are not meaningful with that grouping.

[2019-07-03 07:48] glauco70 commented on #587
Pedro,
I found the problem : we use the last stable versione of the module (10.0.1.5.2 of july 2018), instaed runbot use the last version ( 10.0.3.1.0.99.dev12 ); is not possible to create stable version when yo fix problems ?
![module_version](https://user-images.githubusercontent.com/13453706/60573317-bed7e600-9d77-11e9-86b1-88edf62c4eff.png)

[2019-07-03 07:53] pedrobaeza commented on #587
No, if using pip, you must always use the modules with `--pre`

[2019-07-03 07:53] #587 closed, assigned to nobody

[2019-07-03 08:33] eLBati commented on #587
Hi @glauco70 and @pedrobaeza

I think that if, from now on, @OCA-git-bot  will be used to merge PR increasing version (see https://odoo-community.org/blog/the-oca-blog-1/post/the-oca-github-bot-can-now-merge-pull-requests-92) the problem will be solved.

See for example https://pypi.org/project/odoo12-addon-l10n-it-ddt/#history and the related commits https://github.com/OCA/l10n-italy/commits/12.0

[2019-07-03 08:42] pedrobaeza commented on #587
If used, yes, but not all contributors do it, so the only way to be sure is to use that option.

[2019-07-03 10:23] eLBati commented on #587
I think we should encourage to merge increasing version. It's costless

[2019-07-03 10:28] sbidoul commented on #587
Now that bumping the version numbers can be easily done by maintainers without burdening the contributors, there is no reason not to bump versions anymore.

Further improvements will come with https://github.com/OCA/oca-github-bot/issues/15, https://github.com/OCA/oca-github-bot/issues/16, and https://github.com/acsone/setuptools-odoo/issues/39

[2019-07-03 10:33] Byloth commented on #587
Hi, @pedrobaeza.
Thanks for your reply.

Actually, we know pretty well how to use `pip`.
The focus of the discussion, here, it's slightly different.

As you already know, Odoo modules can define external Python dependencies directly inside `__manifest__.py` file via `"external_dependecies"` key.
In those cases, if you force `--pre` flag during installation, you will also install the **unstable** v

[2019-07-03 10:42] sbidoul commented on #587
I do and I'm well aware `--pre` is not ideal. That said, in practice, it does not really create issues as the vast majority of python libs in Odoo dependencies don't have unstable version on pypi anyway.

Anyway, it's in part to solve this that I wrote the bot merge command, so the issue will now mostly resolve itself naturally.

[2019-07-07 16:06] microsound1 opened #590 "[12.0] VAT Report amount incorrect for 0% VAT"
Some 0% VAT vendor bill not including on VAT report.
Tax balance report displays correctly all amount.

[2019-07-09 10:28] cubells opened #591 "[11.0] account_financial_report: incorrect order"
As the criteria to order account moves in report is by date, name

https://github.com/OCA/account-financial-reporting/blob/f685a2fb5557e91b2ea06cd294a29f597f8756fb/account_financial_report/report/journal_ledger.py#L223

Then the order of lines are incorrect because different records of the same date will be ordered by this way:

[code]

And we need to order by this way:

[code]

If order is set by

[2019-07-09 10:30] pedrobaeza commented on #591
Why is this a problem? What "name" means in this context?

[2019-07-09 10:31] cubells commented on #591
name is the number of the account_move but name is an string.

When you list the journal, journal are ordered incorrectly.

[2019-07-09 10:33] pedrobaeza commented on #591
Then it is correct as is. The journal number must have the needed padding for avoiding this problem. Change the sequence and renumber moves.

[2019-07-09 10:33] #591 closed, assigned to nobody

[2019-07-09 10:34] cubells commented on #591
Ok, you are right.

[2019-07-09 12:13] manuelviejo commented on #588
Regards,

we think there are some cases that are meaningful. For example, we have a client who works in loan managment. We've defined that loans have to be count in the account 542000 by default, what is that is determinated by law, but this account is no To pay or To collect and we can't change account's type because then the balance would fail.
When we count the loan in this account, we assign t

[2019-07-09 12:16] pedrobaeza commented on #588
You are perverting the concept, so if you want this, you must develop the option, and if you want, contribute it back to the module, but it must be an opt-in option, not the default one.

[2019-07-18 11:43] jalzaga commented on #545
How is the status of this issu? I have tried also in version 10 and no filtering is done for journals.

[2019-07-18 14:28] lili94 opened #594 "how to make consolidation in account-financial-report"
hi i have tow company : CETIC and ENSI . CETIC is consolidation company. i want when the accounting enter to Cetic and consolidate ENSI they will have trial balance , general ledger with consolidation of the tow company

thanks for help

[2019-07-18 14:58] MiquelRForgeFlow commented on #560
Is it solved now? can be closed this issue?

[2019-07-18 15:02] JordiBForgeFlow commented on #560
Fixed and merged.

[2019-07-18 15:02] #560 closed, assigned to nobody

[2019-07-18 15:31] patel1008b commented on #560
Yes, it's solved now.

[2019-07-21 19:24] gdgellatly commented on #564
@mreficent I can reproduce this. I think it comes from this change https://github.com/OCA/account-financial-reporting/pull/547/files where originally q0 by chance happened to filter these because its case statement excluded the case of `l.balance == 0.0`. Maybe we just need to add that to the Q1 where clause?

[2019-07-21 19:35] gdgellatly commented on #564
@mreficent I tried this in local as a fix and it works. What do you think

[code]

[2019-07-22 13:46] MiquelRForgeFlow commented on #564
LGTM! why don't you do the PR?

[2019-07-23 09:43] hitrosol opened #595 "How to create balance sheet, profit & loss and Cash Flow Report using this modul"
Is it possible to create balance sheet, profit & loss and cash flow report using this module ?

[2019-07-23 09:45] pedrobaeza commented on #595
Sorry, but this issue tracker is for registering issues with modules, not questions. Ask them on forums or mailing lists.

[2019-07-23 09:45] #595 closed, assigned to nobody

[2019-07-23 10:28] lili94 opened #596 "General ledger initial balnce false when have 2 fiscal years"
hi ,
in my database i have tow fiscal year 2019 and 2018 when i try to see general ledger in period
1/1/2019->31/12/2019 i find that the initial balance calculate from 2018 and i want just in the fiscal year 2019
please help @pedrobaeza @rvalyi @christophlsa @mreficent @ageficent

[2019-07-24 08:56] bealdav commented on #466
account_export_csv #597

[2019-07-25 09:40] jayo2005 opened #598 "[10.0]Base Amount Wrong"
I am using Odoo 10. I have two vat rates 23% & 13.5%. When running the Tax balance report or the Sale/Purchase report the Base amount is wrong. On the 23rd I have one invoice with 13.5%. Prices include Tax

![1](https://user-images.githubusercontent.com/7015925/61863648-f134b900-aec7-11e9-85d3-4828b96ff02e.jpg)

So the VAt on 13.5% is 11.81.

When I run the Sale/Purchase report.

![2](https://user

[2019-07-25 11:02] pedrobaeza commented on #598
This has nothing to do with this repository, and the answer is simple: you did the invoice before changing the configuration "tax included in price".

[2019-07-25 11:02] #598 closed, assigned to nobody

[2019-07-25 11:10] jayo2005 commented on #598
tax included in price" was always set from the beginning. Even if I did the figures still don't make sense

[2019-07-25 11:16] jayo2005 commented on #598
@pedrobaeza is the tax_balance module not part of this repository?

[2019-07-25 11:21] pedrobaeza commented on #598
Yes, but it only showcases what you have in the account move lines, so the problem comes from before.

[2019-07-25 11:24] jayo2005 commented on #598
I can create a video to prove that the tax included in the price is set before the invoice is created. We are using system 2 months and prices always included tax

[2019-07-25 11:27] pedrobaeza commented on #598
As said, this problem should be handled in Odoo, not here (you are showing the tax summary in the invoice report, so that should give you a hint that is not a problem in the tax balance), but proving that is a real problem. Try to reproduce it on runbot (http://runbot.odoo.com/runbot - admin/admin).

[2019-07-26 09:08] gva-acsone opened #600 "OCA accounting reports /General ledger : Errors with the filters / group by"
Hello everyone,

While having a look at the general ledger in the OCA accounting reports, I found the following problem (that is present on all OCA accounting reports in V11 / V12):

- In V10, no filters or 'group by' options appear above the general ledger report.

- In V11, the filters and 'group by' options are visible above the general ledger report, but when you select them, nothing happens.

[2019-08-08 12:32] drmedrme opened #604 "[12.0] Trial Balance - Account Group Hierarchy presentation not correct"
When I run trial balance, the account group hierarchy seems to not work if you have child groups.  This worked fine in 11.0, but when testing 12.0, it doesn't seem to present the same way.  In my case I have Parent Group, Child Level 1, Child Level 2, Account Level.  The multilevel accounts are not presented in proper order.  The actual amount shown of the Parent group is correct though.  See jpeg

[2019-08-08 13:48] pedrobaeza commented on #604
It seems your `parent_path` is not correct in `account.group` model. Have you migrated your DB?

[2019-08-08 19:00] drmedrme commented on #604
Yes.  I migrated database.

[2019-08-08 19:06] pedrobaeza commented on #604
Then you need to recompute parent_path:

https://github.com/OCA/OpenUpgrade/blob/018d2b962859bab237812dcaa57bd80da11abd8f/addons/account/migrations/12.0.1.1/post-migration.py#L230

[2019-08-08 19:06] #604 closed, assigned to nobody

[2019-08-08 21:18] drmedrme commented on #604
Thanks.  I will try that.

[2019-08-09 10:30] pedrobaeza commented on #580
I'm begging for an ORM rewrite for a long time to go out of the SQL hell, but I admit is not easy now and will require some stabilization time.

[2019-08-10 18:01] ivanporras commented on #426
Hello @MOGwebz, I have the same issue, Could you fix it? I have only Current Year Earnings account but behavior is the same.
![Screenshot(20)](https://user-images.githubusercontent.com/13451948/62825275-d53f4180-bb6e-11e9-9025-5a3c0954e15e.png)

[2019-08-20 10:18] javiermatos opened #607 "[11.0] Transient model clean up hangs"
I have an Odoo v11.0 instance with issues because of a cron task.

I was getting the following in the log:

[code]

I realized the failing task is the Auto-vacuum in Odoo which has the following Python code:

[code]

After a lot of `print('I am reaching this point X')` I realized the problem was in `_gc_transient_models` which called `model._transient_vacuum(force=True)` that was running the follo

[2019-08-20 10:19] pedrobaeza commented on #607
Please see #582

[2019-08-20 10:21] javiermatos commented on #607
Ups, I was looking for the same or a related issue but did not find it. Thank you!

[2019-08-20 10:21] #607 closed, assigned to nobody

[2019-08-28 09:02] MiquelRForgeFlow commented on #564
This issue can be closed.

[2019-08-28 09:27] gaikaz opened #609 "[BUG] account_financial_report: Trial Balance groups order"
module: account_financial_report
version: 12.0 (11.0 and even 10.0 seems to also be effected)

Probably related issues #604 #463 #495 that people might find when having this problem.

**Current behavior**
In Trial Balance report, groups are ordered incorrectly. See image below. As far as I figured it out, this is caused by how the module uses `account.group` module's field `parent_path` to generat

[2019-08-28 09:28] pedrobaeza commented on #609
AFAIK, `parent_path` is not composed of IDs, but group codes + account code.

[2019-08-28 09:34] gaikaz commented on #609
Exported all groups from this database in CSV format:
[code]

The second column here is the actual internal ID and it seems to be used in `parent_path`. Best seen with the very last records which is `3` but ID is `10`

[2019-08-28 12:32] #564 closed, assigned to nobody

[2019-08-28 14:53] pedrobaeza commented on #609
If you do `"1/" > "10/"`, it's False, so they are not sorted that way. There should be something more. Is this DB a migrated one?

[2019-08-28 15:02] gaikaz commented on #609
This was (maybe still is) reproduced on runbot.odoo-community.org
Would it help if I find the exact database?

[2019-08-28 15:04] gaikaz commented on #609
I don't know if it's a good idea to add links like this here, as it will expire, but It's still there: http://3383961-12-0-4cc432.runbot3.odoo-community.org

[2019-08-28 15:10] gaikaz commented on #609
It's the other way around. `"1/" < "10/"` which is True. But this is not the problem, because this is talking about ID `1` which is Group `1` and ID `10` which is Group `3`. Then it's correct. `1/` goes before `10/`. The problem is `"2/" > "10/"` which evaluates to True because of string comparison, when we actually need the integers `2` and `10` to be compared.

[2019-08-28 15:31] pedrobaeza commented on #609
Thanks for extra info. Checking...

[2019-08-28 15:40] pedrobaeza commented on #609
There are no groups on OCA runbot you mention:

![Selección_023](https://user-images.githubusercontent.com/7165771/63870742-dcfa4500-c9ba-11e9-8502-4e148428c1a6.png)

so how have you check it?

[2019-08-28 15:48] gaikaz commented on #609
I created a custom menu item to add them: `Invoicing > Configuration > [TEST] Account Groups`
But I didn't attach the accounts to groups. This is besides the point. This is why in the "How to reproduce" section, I wrote to uncheck the **Hide accounts at 0** checkbox. Then all groups are displayed, even without accounting data.

*Thought, I see where you are coming from. It's very odd how in the re

[2019-08-28 15:54] gaikaz commented on #609
Thinking about this more, I see the little flaw in my test. It's not a real use case to show empty groups (even if it's possible and wrongly ordered anyway). I could add all the current demo accounts to groups on that DB, if you want? And if the theory here is right, it should still stay badly ordered in the report.

[2019-08-28 15:58] pedrobaeza commented on #609
Yes, please! I'm any way checking on local installations.

[2019-08-28 16:34] gaikaz commented on #609
Done. Attached accounts to groups that would make sense if these were the only groups available. The theory seems to still be valid, as predicted.
![image](https://user-images.githubusercontent.com/17097810/63874420-2b631000-c9ca-11e9-8567-bccda9267327.png)

Still had to uncheck the **Hide accounts at 0** as accounts in group 3 do not have any journal entries and I need it in the report to show th

[2019-08-28 16:36] pedrobaeza commented on #609
OK, thanks for the extended info. We need to find other sorting method for this.

[2019-08-28 16:46] gaikaz commented on #609
Maybe I'm missing something, but I really think a proper `sequence` field should be added to `account.group` in the core Odoo. It wouldn't hurt, yet would solve this and be a very welcome feature in some other use cases for specific reports or client needs.

If that's not something we can expect to happen with v12 (probably not even v13 at this point), would something like `account_group_sequence`

[2019-08-28 16:51] pedrobaeza commented on #609
But sequence doesn't serve on a hierarchy topology. It's supposed that `parent_path` solves this in replacement of parent_left/parent_right, but as you have proved, it's not enough. I will think about a possible solution.

[2019-08-28 16:59] gaikaz commented on #609
Good point, but menu item records (`ir.ui.menu`) use an integer `sequence` field, yet are very hierarchical by design.

[2019-08-28 17:02] pedrobaeza commented on #609
Yeah, but they are populated other way, and with no handler at UI level. Here we are dumping to a table the "final order" and ordering by that column.

[2019-08-28 17:14] gaikaz commented on #609
Sorry, I didn't fully understand that. But also, I do not want to be persuasive about something I don't fully understand, so I will not get in your way here. 🙂
Though, I will be active here and help as much as I can. ✌

[2019-08-30 09:48] cvinh commented on #488
@tglukhov can you confirm ?

[2019-08-30 09:54] cvinh commented on #395
@tglukhov

[2019-09-06 12:01] tm-up commented on #590
This happens because no move lines are generated if the tax amount is zero. Applies also to 11.0.
We fixed this by changing the test for tax amount == 0 in account_invoice.py, line 1031, "if tax_line.amount_total:" to "if 1:"

The problem also happens with 100% VAT bills from the government (EZV in Switzerland) or an import-company like Fedex.

[2019-09-06 12:18] tm-up opened #610 "VAT report issue regarding periods with purchase receipts"
When using purchase receipts, one can enter a "Accounting Date" and a "Bill Date". If the two dates are not within the same reporting period, some reports will disagree on the amounts of tax:

The VAT report of OCA seems to use the "Accounting Date " (account_date) to calculate the VAT sums of a period. If you use filters to extract the data from the Purchase receipts grid, you get a different sum

[2019-09-06 12:56] hitrosol opened #611 "[12] VAT Report Summary Amount in Net column incorrect calculation"
There are 2 issues here :
a. The Summary calculation shows incorrect calculation in the NET Column. The summary formula is supposed to deduct the PPN 10 % Keluaran to PPN 10 % Masukan. The Summary formula in Column Tax is correct, but not in the NET Column.

![image](https://user-images.githubusercontent.com/5949936/64429797-06b11b80-d0e1-11e9-9d0a-2cd3f6480aa8.png)

It's also better to show the P

[2019-09-06 20:48] JordiBForgeFlow commented on #610
Hi,

This is not correct. The accounting date is what must be used for VAT
reports.

The reason is simple. You might receive bills from vendor and not be able
to enter them or report them to the authorities within the period of the
bill date. Imagine, for example, that the bill was mailed to you
(physically) and you receive it 10 days after the reporting period was
finished.

That is why, for vend

[2019-09-06 22:14] pedrobaeza commented on #610
Yes, the explanation given by @jbeficent is correct, so closing this.

[2019-09-06 22:14] #610 closed, assigned to nobody

[2019-09-16 11:28] gaikaz commented on #609
@pedrobaeza I know you are very busy, but could there be a point in the schedule to look at this issue again?

[2019-09-16 14:20] pedrobaeza commented on #609
Sorry, but it's going to be impossible for me to work on this until after Odoo XP. I will comment this any way in OCA days to see if someone does it.

[2019-09-23 10:21] pepitovadecurt opened #616 "General ledger without analytic parent"
Hi have a ODOO CE 10 with account_analytic_parent installed but in the General Ledger doesn't appears the analytic parent.
Example: with the analytic account AC and parent AA only shows AC (not AA).
It should appear?

[2019-09-23 10:23] pedrobaeza commented on #616
No, it shouldn't appear. They are different modules and no bridge is planned. See parent analytic accounts in the view provided by the module or develop this bridge.

[2019-09-23 10:23] #616 closed, assigned to nobody

[2019-09-23 10:25] pepitovadecurt commented on #616
Thanks pedrobaeza, I will try to make the bridge if I am capable with my little knowledge.

[2019-09-23 15:47] pepitovadecurt commented on #616
This is the temporary modification that I have:
In the code field of the analytic account module I have manually put the full text, similar to: "motheraccount / account".
Then in the module account_financial_report_qweb file general_ledger.py, line 910, change aa.name to aa.code

I hope it helps someone

[2019-09-26 07:58] PyaePhyoKhant commented on #426
There should be **exactly one** account with type "Current Year Earnings".
[code]

[2019-09-29 21:26] OCA-git-bot opened #618 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] account_bank_reconciliation_summary_xlsx - By @alexis-via - #699
- [x] account_financial_report - By @ernestotejeda - #663
- [x] account_tax_balance - By @astirpe - #619
- [x] partner_statement - By @MiquelRForgeFlow - #654

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/

[2019-09-30 09:24] astirpe commented on #618
I'm working on `account_tax_balance`

[2019-10-09 08:53] MarcoCalcagni opened #622 "[12.0] statement account error with reconciled entry in report"
Impacted versions:
12.0
Steps to reproduce:
create an invoice of 464,09
create a payment of 464,19 (extra payment of 0,10)
reconcile and add a 0,10 adjustment .

the invoice is full paid . noting to reconcile .

Current behavior:
in the report statement account there is 3 line

Expected behavior:
in the report statement account it should 0 line

![image](https://user-images.githubusercontent.com/1

[2019-10-11 13:23] #609 closed, assigned to nobody

[2019-10-12 14:04] adduzz opened #624 "[12.0] account_financial_report: VAT Report - Tax details are not being fetched"
Getting Odoo Client Error when clicked on any Tax amount

Error:
Uncaught Error: Object can not be converted to JSON

http://3390685-12-0-2bf0f6.runbot2.odoo-community.org/web/content/498-ebf2f8c/web.assets_backend.js:206
Traceback:
Error: Object can not be converted to JSON
    at F.toJSON (http://3390685-12-0-2bf0f6.runbot2.odoo-community.org/web/content/498-ebf2f8c/web.assets_backend.js:206:44)

[2019-10-12 15:00] pedrobaeza commented on #624
Which Odoo version? Please try to reproduce the problem in OCA runbot.

[2019-10-12 15:50] adduzz commented on #624
I am using v12 on runbot, above error is from OCA runbot

[2019-10-12 16:10] pedrobaeza commented on #624
And detailed steps to reproduce the problem?

[2019-10-12 16:21] adduzz commented on #624
I tried to normally generate VAT report by:
- select its menu item, Reporting --> VAT Report
- Enter dates and with Detail Taxes checked
- When report it displayed, clicked on any values in Net or Tax columns to view its details (not sure if it supports that)
- Odoo client error is popped up

I wanted to check details of the Net or Tax amount calculated based on which invoices/partners etc.

[2019-10-13 15:33] pedrobaeza commented on #624
Thanks for the details. @sbidoul you were the one that added this report, isn't it?

[2019-10-13 15:40] sbidoul commented on #624
I don't remember having worked on this report. Much less that it was clickable. Maybe a colleague of mine?

[2019-10-13 15:41] pedrobaeza commented on #624
Not sure... I remember you mentioned about introducing this report as  `account_tax_balance` was not enough for you.

[2019-10-13 15:45] sbidoul commented on #624
Must be someone else. I tend to do the tax reports with MIS Builder.

[2019-10-13 15:50] pedrobaeza commented on #624
OK, my memory has tricked me. Then this issue will serve for whom do this.

[2019-10-17 16:51] izzihector opened #625 "The check balance report helps"
The check balance report helps, does not allow grouping as in other versions to issue balance for months.
How can I do?

[2019-10-17 17:19] pedrobaeza commented on #625
I don't get what do you want to say. You are not even saying which version.

[2019-10-23 20:18] pedrobaeza commented on #625
No, there's no option for that, as it's not intended for that.

[2019-10-23 20:18] #625 closed

[2019-10-23 20:21] izzihector commented on #625
OK thanks

[2019-10-31 10:23] pedroortega-punt opened #628 "[11.0/12.0] account_financial_report"
In version v10 of the balance of sums and balances, when we mark the options.

Limit hierarchy levels = True
Hierarchy Levels to display = 3
Do not display parent levels = True

Show only 3-digit account groups.

V10

![imagen](https://user-images.githubusercontent.com/18347857/67938741-618e5d00-fbd0-11e9-82cb-954aa7adb7ed.png)

In V11 an V12

The information does not show it correctly.

The accou

[2019-11-08 09:38] witoszek opened #630 "[odoo 8.0] Error export report inform with slash"
Hello

I've got an error with a report with title like 27/12/2019.
The problem is with " / " so the answer is ok quit slashes, but how can i used with slashes?

Thansk