[2019-11-08 09:39] pedrobaeza commented on #630
That's a forbidden OS character, so nothing to do with the module itself. Use `-` instead.

[2019-11-08 09:39] #630 closed, assigned to nobody

[2019-11-08 10:46] witoszek commented on #630
Ok thanks Pedro

[2019-11-12 07:37] 1500cc opened #631 "[11.0] Account Finanical report - Initial balance not shown for Current Year Earnings account"
I have a Journal with an opening balance credit $1000 for a Current Year Earnings account (account.data_unaffected_earnings) on **2018-1-1**.

when I generate the General Ledger report with date range:
2018-10-1 to 2018-12-31

The initial balance is showing **0** whereas it should have been **$1000** in the **credit** column and -$1000 in balance

(All the journals in the database are dated in 201

[2019-11-13 18:42] kh-badep opened #633 "[12.0][partner_statement] Display the payment ref instead of 'Payment' string"
Hello,

When printing an activity statement it seems logical that the column Description is supposed to display additional information about the transaction, which can be:
- The invoice reference (account.move,name) if it's an invoice
- The transaction communication (account.payment,communication) if it's a payment, which can be the check number, etc.

However, that column seems to be filled with

[2019-11-26 18:27] rvalyi opened #636 "[12.0] mis_builder_cash_flow: forecast line values don't accumulate anymore to the next column weeks"
Hello,

the mis_builder_cash_flow demo data doesn't contain any Cash Flow Forecast Line. But if you add such a line via Reporting>Cash Flow Forecast Line. Then add for instance a line "Sales" on the account 101200 Account Receivable with a balance of 1000 and a date 2 weeks in the future. When you select the Cash Flow report in Reporting>Mis Reports and refresh it.
You will have something like:
![

[2019-11-26 18:30] pedrobaeza commented on #636
Why it should be propagated? It happens in that week, not in others, and I don't see in the video that propagation.

[2019-11-26 18:37] rvalyi commented on #636
@pedrobaeza Thank you for your interrest. Well the money you expect to receive in that week should still be there in your balance the next week, no? (unless you spend it explicitely which is not the case here). In the 2nd screenshot from Youtube ( https://www.youtube.com/watch?v=dYJdZBqpV6U&t=23s ) , in week 3, you still have the 1000 you forecasted in week 2 as you have -2150=850-3000. You would

[2019-11-26 18:39] pedrobaeza commented on #636
OK, now I get you. You are talking about the balance, not the entry on the line. Yes, the balance should be affected and indeed seems a bug in the module.

[2019-11-28 02:21] jjscarafia commented on #636
Hi @rvalyi !
Thanks one more for the detailed explanation.
This error is fixed with this pr https://github.com/OCA/account-financial-reporting/pull/638

[2019-11-28 15:32] rvalyi commented on #636
@jjscarafia thank you very much for the quick fix. I'll soon test and review your PR!

[2019-11-28 18:07] JordiBForgeFlow opened #640 "[11.0] Refactor account_financial_report"
The current design associated to the `account_financial_report` has several important drawbacks:

- Makes heavy use of transient models, which are hard to autovacuum after they have been generated and perform slowly due to the number of inserts to the database (often creating one record for each move line).
- Makes heavy use of direct SQL queries, which is in general bad practice, and these querie

[2019-11-30 00:07] rvalyi commented on #636
FYI I approved the fix from @jjscarafia #638, thanks a lot for it!
let's see if we get other approvals...

[2019-12-02 10:17] LGodoo opened #641 "[partner_statement] Unposted journal entries appear in partner_statement reports."
Is this intended? If so I think there should be an option to include or exclude unposted/draft entries.

[2019-12-04 10:40] kittiu commented on #640
@jbeficent
To address the performance of big report, I am planning to make abstract class to extend running reports using queue. I could make it also as addon for account_financial_report. WDYT?

I wanted to check first whether similar thing already exists ?

[2019-12-10 18:56] rvalyi commented on #636
so closing as it was fixed by #638

[2019-12-10 18:56] #636 closed, assigned to nobody

[2019-12-20 11:33] qgroulard opened #645 "[12.0] Trial Balance shows account groups from other companies"
Context:

- Our customer has a company in France and one in Spain, thus he is using multi-company.
- The Spanish accounting is installed for the Spanish company.
- Spanish account groups come with the Spanish accounting, but are shared between all companies.
- All account groups are displayed on the Trial Balance report, thus groups installed with the Spanish accounting appear in the French Trial

[2019-12-20 20:51] gdgellatly commented on #633
Yes this was a deliberate decision. Hence why there was a special case created. To be honest I don't really remember the reason why now, but it was necessary at the time.

@metamasterplay I remember why now, it all looks fine when you have a single payment paying a single invoice. But when you have a single payment paying hundreds of invoices it is a complete messs.

[2019-12-20 20:59] gdgellatly commented on #622
This is an activity statement, as such it shows all activity, so it is correct. What you want is an Outstanding statement

[2019-12-23 12:10] pedroortega-punt commented on #628
I have detected the error.

The error is that if you indicate to show limit hierarchy levels = 2 and marks do not show parent levels, the information that comes out is 3 digits.
![imagen](https://user-images.githubusercontent.com/18347857/71357239-3ba88780-2585-11ea-8e58-5efebc799bb7.png)

![imagen](https://user-images.githubusercontent.com/18347857/71357276-6561ae80-2585-11ea-8fed-668120d2a470.pn

[2019-12-26 11:43] pedrobaeza commented on #645
Yeah, this happens when some localizations add account groups, as they are shared between all companies. The only solution I see is to hide them if no accounts found containing them.

[2019-12-26 12:49] eguane opened #646 "[12.0][account_export_csv] no data in exported csv?"
Account report empty. Also tested with runbot.
csv sheet is generated without data, just first row with colonn description.
No error in log file. I tested sql request (copied from account_export_csv.py  for journal entries) directly into pgadmin succeffully.

Rgds

[2019-12-30 11:50] kh-badep commented on #633
Hello,
The only scenario I have found matching your description is when a user select multiple invoices from the tree view and then run the action `Register Payment` and then `Group Invoices`. And even then the user can choose to input a custom memo instead of the concatenated invoice numbers:
![image](https://user-images.githubusercontent.com/12763123/71580789-6ef99200-2b02-11ea-8938-efb5ba0e9c29

[2020-01-03 07:12] gdgellatly commented on #633
@metamasterplay It is nothing to do with the string choice, we use the same string for grouping purposes. Otherwise a single payment, paying 100 invoices printed as 100 lines when reconciled through the bank statement interface or the reconciliation widget (because the process of paying created loads of seperate move lines, each with their own ref). Or at least it used to, there's actually been qu

[2020-01-04 07:19] gdgellatly commented on #641
Nah they shouldn't be in there, actually will be even more problematic in v13 so make a PR and we can check

[2020-01-09 04:05] patel1008b commented on #640
Hi, @JordiBForgeFlow  big thanks for this PR.

Often when we see the code its looks very complex also very hard to debug the SQL queries for me too.

I also prefer ORM calls as much as possible. Looking forward to having this refactor module.

[2020-01-09 04:53] JordiBForgeFlow commented on #640
@kittiu Using queue would be useful. I am not aware of anyone that has worked on this. Please go ahead. We'll see how to adjust after the refactoring.

[2020-01-09 05:58] kittiu commented on #640
@JordiBForgeFlow
https://github.com/OCA/reporting-engine/pull/355
Would appreciate your comment.

[2020-01-20 09:43] aliomattux commented on #646
I can also verify this issue. I am not sure exactly the issue but know it has to do with the StringIO object not having any data.

line 36
data = self.queue.getvalue()
If you check the row before it has a value but the self.queue which is just a stringio is empty. It may have something to do with it initializing, not sure. I am not using the default functionality. I am working on 12 but was used t

[2020-02-04 13:13] MiquelRForgeFlow commented on #618
partner_statement https://github.com/OCA/account-financial-reporting/pull/654

[2020-02-04 13:13] MiquelRForgeFlow commented on #641
This issue can be closed, as your PR has been merged.

[2020-02-04 13:16] #641 closed, assigned to nobody

[2020-02-07 09:50] rousseldenis opened #656 "[10.0] account_financial_report_qweb: Residual amount"
When launching several times the open items report, the residual amount is cumulated.

First one :
![image](https://user-images.githubusercontent.com/19529533/74019176-7af53100-4997-11ea-8b85-be86712574df.png)

Second one :

![image](https://user-images.githubusercontent.com/19529533/74019207-8ea09780-4997-11ea-9d1e-3a4c65446aa0.png)

@JordiBForgeFlow @jcoux

[2020-02-12 14:25] eguane commented on #646
well thanks for your help,
It seems running (not for invoice journal entries, "memoryError when")
When I replace the code with:
    def writerow(self, row):
        # we ensure that we do not try to encode none or bool
        row = (x or '' for x in row)
        self.writer.writerow(row)
        # Fetch UTF-8 output from the queue ...
        data = self.queue.getvalue()
        # ... and reencod

[2020-02-14 04:10] kittiu opened #658 "[12.0][ENH] account_financial_report -- want to add summary total line."
Hi, we would like to enhance the reports by adding total line like this. Any object opinion?
If you agree, we can do it a PR. Thanks!

![Selection_225](https://user-images.githubusercontent.com/1973598/74500766-8954c700-4f1a-11ea-9f34-00498027cb31.png)

[2020-02-14 04:17] kittiu commented on #658
I saw this issue https://github.com/OCA/account-financial-reporting/issues/535 from @lili94 that wnat subtotal as well as total.
My functional guy thinks total is enough.

[2020-02-14 11:30] sm2x opened #659 "Invoice Address on Activity Statement"
How do you replace "contact address" with "invoice address" on Outstanding/Activity Statement?

[2020-02-21 19:35] dreispt commented on #645
Hello, does it make sense to add a "Group By Company" option, to still see all data, but have it each company in it's own section?

[2020-02-25 08:48] bitsnaps commented on #57
trying odoo v9 in container it doesn't work (it throws the same error)

[2020-02-26 10:48] CasVissers-360ERP opened #661 "[13.0] Account tax balance not working correctly in multicompany"
https://drive.google.com/file/d/19Y-gqaw2XEFHdXFc9Lko30rtsoYH3vxa/view

Two issues:
1. the company is not loaded correctly in the wizard
2. if company != main company the tax balances are not loaded

[2020-02-26 12:44] #661 closed, assigned to nobody

[2020-03-27 16:15] gaikaz opened #668 "[12.0][BUG] account_financial_report: Unformatted date in aged partner balance xlsx report"
`Date at filter` field is being printed unformatted on Aged Partner Balance report in XLSX document.

Impacted versions: **12.0** _(but most likely goes all the way back to 9.0 and up to 13.0)_

The bug is probably on (or close to) this method:
https://github.com/OCA/account-financial-reporting/blob/4ed29bb5a5f32e99feea3dd8ad0f2b8f04882623/account_financial_report/report/aged_partner_balance_xlsx.

[2020-03-28 16:03] theopensourcerer opened #669 "[13.0] General Ledger Report crash"
[code]

Looking at the error I guess it might be because I have some move_lines in an invoice which have a display type of either "line_section" or "line_note". i.e. they are not real accounting moves - just notes on the invoice for printing/display to the customer?

I'm on a test database and just trying stuff out for now so happy to help with debugging if necessary.

[2020-03-28 16:44] theopensourcerer commented on #669
Just FYI - I didn't want to create multiple issues but the Journal Ledger and Trial Balance reports in this module also crash. Not sure if they are all related or not. The errors are different. Shout if you want me to post these errors too.

[2020-04-09 08:18] CasVissers-360ERP opened #672 "[13.0] Account Financial Report - Aged Partner Balance & Open Items"
Both reports use date and due_date for calculation of the reports, should this not be updated to "invoice_date or date" and "invoice_date_due or due_date". The reports should be based on invoices when possible?

@JoanSForgeFlow

[2020-04-09 12:47] pedrobaeza commented on #672
AFAIK `invoice_date_due` is the due date you put manually on invoice if no payment_term is specified. Then, when posted, the valid due date is the one on the account.move.line, which has been transferred from the other field, but subsequent modifications must be done on aml field, isn't it?

[2020-04-09 14:10] CasVissers-360ERP commented on #672
@pedrobaeza
My main issue is invoices where account_move.date != account_move.invoice_date. The option to do this is standardly available only on supplier invoices, but with a simple invisible = 0 also possible on customer invoices. I think you are correct about the due_date , but if we can use invoice dates throughout I think we should.

[2020-04-09 14:13] pedrobaeza commented on #672
I don't agree, at least on due dates. Imagine a payment term that split the payment in several parts: you will have several aml with different due dates corresponding to that parts.

Showing the invoice date when applicable in these reports though can be important. How was done in previous versions?

[2020-04-09 14:26] CasVissers-360ERP commented on #672
I agree on the due dates. Current workflow is better. Missed the several parts use case.

From what I can see (version 12) it contains the same workflow:
[code]
Since the date on move line is not always equal to the invoice date I think it's incorrect there as well. Or maybe I'm missing something?

[2020-04-09 14:31] pedrobaeza commented on #672
I think both dates (aml date and invoice date) can be put in the report, but I would qualify this as improvement.

[2020-04-13 16:03] kh-badep commented on #633
I was not able to reproduce this behavior. When using the bank statement reconciliation the payment ref always take the statement line ref. whether it's reconciling 1 or 100 invoices.

I'll close this issue since I'm not entirely sure what we're up against. For the time being this behavior can be emulated with a [custom module](https://github.com/BADEP/addons/tree/12.0/partner_statement_fix) for w

[2020-04-13 16:03] #633 closed, assigned to nobody

[2020-04-14 17:30] CasVissers-360ERP commented on #672
Well I think an aged partner balance is oftenly used to check state of unpaid invoices. Not showing the invoice date seem illogical to me. Anyhow if considered an improvement, not a bug, I will close the issue.

[2020-04-14 17:31] #672 closed, assigned to ernestotejeda

[2020-04-15 13:11] ernestotejeda commented on #669
Shouldn't this be closed since https://github.com/OCA/account-financial-reporting/pull/673 is mixed?
ping @pedrobaeza

[2020-04-15 13:38] #669 closed, assigned to ernestotejeda

[2020-04-19 10:24] eguane commented on #646
This is the code modified into account_export_csv.py

`    def writerow(self, row):
        # we ensure that we do not try to encode none or bool
        #row = (x or '' for x in row)
        self.writer.writerow(row)
        # fetch UTF-8 output from the queue ...
        data = self.queue.getvalue()
        # ... and reencode it into the target encoding as BytesIO
        data = self.encoder.enc

[2020-04-19 10:40] eguane opened #675 "[12.0][account_export_csv] format VAT"
Hi I have modified export to include VAT number into journal entries with regexp_replace format.
With pgadmin sorted like expected. For example for belgium BE0841. 387.106 is transformed to 0841.387.106
But with account_export_csv module I have only the two dot  ..
Is suspect the encoding utf8 or base64  or something similar ? Any idea

`
			CASE
				WHEN res_partner.vat IS NULL
					THEN ''
				W

[2020-04-23 18:48] eLBati commented on #545
Hi, can you check the following fix?
 - v10: https://github.com/OCA/account-financial-reporting/pull/677
 - v11: https://github.com/OCA/account-financial-reporting/pull/679
 - v12: https://github.com/OCA/account-financial-reporting/pull/678

[2020-04-28 14:39] rreyes2 opened #680 "Error al tratar de instalar este modulo"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 314, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/odoo/odoo-server/odoo/tools/pycompat.py", line

[2020-04-28 14:40] rreyes2 commented on #680
Esto ocurre en la version 12

[2020-04-28 14:55] ValentinVinagre commented on #680
Hello,
What module is it about?

a greeting

[2020-04-28 14:59] pedrobaeza commented on #680
In English, please

[2020-04-30 10:32] fa-odoo opened #681 "[13.0] General ledger XLSX error"
Hi i have a error that i can not debug when i try to print a not centralized general ledger:

![image](https://user-images.githubusercontent.com/42148719/80700700-b18da400-8acd-11ea-9e2d-56f13e398b3d.png)

![image](https://user-images.githubusercontent.com/42148719/80700668-a3d81e80-8acd-11ea-804c-ec499a74f275.png)

![image](https://user-images.githubusercontent.com/42148719/80700835-e568c980-8acd

[2020-05-03 15:40] pasgou opened #684 "[BUG][12.0] account_financial_report: VAT Report - Invoices and Refunds are added"
When we have invoices and refunds, bases are added (but the taxes are ok).
I have tested this issue in a french version with only a company with the french chart of account.
I can't find the code but it seems that it is related about the fact that the amounts are not signed in the account.move model.

seems to be the same error as the first one reported in #611

[2020-05-06 19:54] jpcass opened #687 "[13.0] Label or description of the move item is not displayed as it was for older version"
The report is not showing the description or label of the move item, it only shows the reference, in older version the label was shown in the same column.

It is important to have the description (label) becuase it has valid information for analysis as for example tax name, product, name, invoice description and others.

[2020-05-09 11:23] pedrobaeza commented on #687
Screenshots? Which report? Which module?

[2020-05-10 22:09] jpcass commented on #687
For General Ledger report in financial report app, attached screenshots.
Regards
![General Ledger report v10](https://user-images.githubusercontent.com/29762062/81511716-bdf5d600-92f1-11ea-9fb1-9fc962b59bdb.jpg)
![General Ledger report v13](https://user-images.githubusercontent.com/29762062/81511717-bf270300-92f1-11ea-8efc-eb3fcdc4ea3d.jpg)

[2020-05-11 05:52] pedrobaeza commented on #687
Well, not sure when this change was done, as you are talking about an old v10, but let's see if @JordiBForgeFlow can say as he has made several refactoring in this.

[2020-05-14 09:52] fa-odoo commented on #681
@pedrobaeza can you please help with this

[2020-05-14 10:39] MiquelRForgeFlow commented on #681
@JoanSForgeFlow

[2020-05-15 11:34] yung-wang opened #690 "[13.0] clicking on amount wont show you the details of the account move lines"
1. Go to runbot and go to reports OCA General Ledger.
2. Click on View, so you can see the report on screen.

Try to click on amounts. Nothing happens. This used to work in V12.

I see the click event in the JS file.
https://github.com/OCA/account-financial-reporting/blob/13.0/account_financial_report/static/src/js/account_financial_report_widgets.js

            "click .o_account_financial_report

[2020-05-30 11:22] microsound1 opened #694 "[12.0] Partner activity statement reference number"
After customer payment a payment receipt is issued with a number (CUST.IN/YYYY/XXXX) and also a journal entry is created either Bank, Cheque or cash payment (BNK/YYYY/XXX, CHQ/YYYY/XXX or CSH/YYYY/XXX)

On the activity statement instead of payment receipt number, journal number is printed as reference number. For some client this may cause confusion.

[2020-06-01 11:45] treviser opened #695 "Support for l10n_multilang available?"
Actually observed in Odoo 12.0 on various reports: despite of the user language set, account names are always displayed in the source language. Do I miss something or is l10n_multilang support not available?

[2020-06-03 15:26] OpencloudPro opened #698 "VAT (TAX) report not showing taxes with amount zero"
Its important to show all taxes even with amount zero, because the net amount is going to be > zero.

[2020-06-03 15:28] pedrobaeza commented on #698
Odoo Version? Module?

[2020-06-03 15:32] OpencloudPro commented on #698
Odoo **V12**, module **account_financial_report**, **vat_report.py** file

[2020-06-03 15:34] pedrobaeza commented on #698
I think that's not possible, as it only show journal items with the tax tag, but I don't use that report.

[2020-06-03 16:35] OpencloudPro commented on #698
The tax has tag, and has group, but it does not appear because its amount is zero.
When i change amount to 1% and do a new invoice, it appears on the report.
I think this is a bug, because in many countries such as Portugal, we have zero tax but we need to sum the net amount for that tax and make sure it appears in the tax report.

[2020-06-03 16:36] francescoUi commented on #698
I have bypassed this by editing the account addon (account/models/account_invoice.py) replacing

`if tax_line.amount_total:`

by

`if 1:`

You then need to regenerate the invoices for the tax line to appear

Making this change is at your own risk!

[2020-06-03 16:44] OpencloudPro commented on #698
Thanks for sharing but its not a good resolution, it makes the taxes not appear and so creating more bugs than fixing the report :)
Everything in invoice and move looks good, i took a look at the query of the report can not understand why its not printing the zero values... The account.move.line is there and is tax_exigible... its just zero..

[2020-06-03 16:51] francescoUi commented on #698
With the original condition, no move line is created if the tax amount is equal to 0

[2020-06-03 16:51] OpencloudPro commented on #698
Ok, i changed it to "if tax_line.amount_total>=0:" and it fixes. Not perfect but is a temporary fix.
Thanks

[2020-06-03 16:55] pedrobaeza commented on #698
I don't recommend that patch to anyone, as it's touching the core with a very bad decision only for fixing the problem in other place.

[2020-06-03 16:57] OpencloudPro commented on #698
me neither. I did and inherit in other app like so:

# fix to generate account.move.line from zero taxes to
@api.model
    def tax_line_move_line_get(self):
        res = super(AccountInvoice, self).tax_line_move_line_get()
        # keep track of taxes already processed
        done_taxes = []
        # loop the invoice.tax.line in reversal sequence
        for tax_line in sorted(self.tax_line_id

[2020-06-03 16:58] francescoUi commented on #698
It was just an hint and not a patch ^^

[2020-06-07 18:49] raad-orfali opened #700 "VAT (TAX) report shows no data in odoo12"
We do appreciate the efforts that OCA add to the Odoo community. We have an issue with the OCA TAX report, whenever I select range in VAT Report I got no data in the list regardless selecting Based on or selecting the Detailed Taxes, on the other hand the OCA Taxes Balance shows the data.
Thanks

[2020-06-18 15:24] fgarcia-humanoide opened #701 "[12] account_export_csv not working , the file just shows the first row with the titles of the columns"
[12] account_export_csv not working , the file just shows the first row with the title of the columns.

Log file does not show any error.

Expected veahviour
The downloaded file has all the rows belonging to the desired date range.

[2020-06-18 16:20] pedrobaeza commented on #701
Duplicated of #646

[2020-06-18 16:20] #701 closed, assigned to nobody

[2020-06-23 14:38] alvarosalinero opened #703 "[12.0] - Failed in module Mis builder Cash Flow when creating a report with multi company installation"
Hi,

I have an Odoo with multi company. When trying to generate a cash flow report, the following error appears:

<pre>
Traceback (most recent call last):
  File "/odoo/core/odoo/http.py", line 654, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/core/odoo/http.py", line 312, in _handle_exception
    raise pycompat.reraise(type(exception), except

[2020-07-04 21:26] lmoram commented on #611
Hello, where should I make the change?
Thanks

[2020-07-13 06:26] Areshey opened #706 "Odoo Server Error - Warning"
I can't install this module because this module depends on date_range module as mention below:

"You try to install module 'account_financial_report' that depends on module 'date_range'.
But the latter module is not available in your system. "

[2020-07-13 06:40] pedrobaeza commented on #706
You should add that module to your addons path as well:

https://odoo-community.org/shop/product/date-range-919

[2020-07-13 06:40] #706 closed, assigned to nobody

[2020-07-13 15:02] RenaudArcheTI opened #707 "OCA aged receivable misleading behavior"
A customer invoice is created with a bill date 2020-04-30 and the invoice is payed on 2020-06-30 and we are after 2020-06-30. If we generate the aged receivable report from OCA for the date 2020-05-31, the invoice previously mentionned should appear. However, right now, it does not apear because it was payed after the date of the report. If we want an aged receivable report at a given date, it sho

[2020-07-13 15:10] pedrobaeza commented on #707
No, that doesn't happen. This will involve to check also the reconcile dates and can lead to other inconsistencies. The report doesn't pretend to serve as historical payment state, but aged receivable based on a date, but only for still opened items.

If you want to contribute with this other behavior, PRs are welcome, but for now this is the expected behavior.

[2020-07-13 15:15] RenaudArcheTI commented on #707
@pedrobaeza thank you for your quick answer.

[2020-07-17 12:52] SimoRubi opened #708 "account_financial_report: Totals alignment with foreign currency"
**Affected versions**
- [x] `12.0`: fixed after https://github.com/OCA/account-financial-reporting/pull/709
- [ ] `13.0`: to be checked
- [ ] `14.0`: to be checked
- [ ] `15.0`: to be checked

**Steps to reproduce issue**

1. In runbot, go to Invoicing > Reporting > OCA accounting reports > Open items
2. In the wizard, flag **Show foreign currency**

**Current behavior**
The **Ending balance** (su

[2020-07-17 12:54] SimoRubi commented on #708
I'll try to solve and, hopefully, create a PR for fixing this in the next few (working) days; I just created this issue as a reference.

[2020-07-17 12:57] JordiBForgeFlow commented on #708
Can you check if this PR solves your issue?
https://github.com/OCA/account-financial-reporting/pull/660

It's better to stop contributing to the current branch when this PR is a
total refactor, already merged in 13.0

On Fri, Jul 17, 2020 at 2:54 PM Simone Rubino <notifications@github.com>
wrote:

--
Jordi Ballester Alomar
CEO & Founder | ForgeFlow
(+34) 629530707 | jordi.ballester@forgeflow.com |

[2020-07-17 13:14] SimoRubi commented on #708
I see from https://github.com/OCA/account-financial-reporting/pull/660#issuecomment-621273250 that the PR won't be merged in `12.0`.
So even if that solves this issue (still waiting for runbot), I don't see how that can help fixing the [stable version of the module](https://odoo-community.org/shop/product/account-financial-reports-196).

I have it installed and would like to be able to update the

[2020-07-17 14:22] pedrobaeza commented on #708
If enough reviewers confirm that the change is stable enough, it can be merged in 12.0, but my fear is to provoke side effects in a relative old version.

[2020-07-17 14:46] SimoRubi commented on #708
I actually share the same concerns as https://github.com/OCA/account-financial-reporting/pull/660#issuecomment-620492850 so I agree with not merging the PR because those changes would break a lot of other modules.

Change is good, refactoring is super-good, but that amount of changes would in my opinion fit better in the `12.0` -> `13.0` migration.

The PR does not solve this issue.

[2020-07-17 14:50] JordiBForgeFlow commented on #708
Then can you also propose any fix also to the PR?

El vie., 17 jul. 2020 16:46, Simone Rubino <notifications@github.com>
escribió:

[2020-07-17 14:55] SimoRubi commented on #708
We'll see when the PR is done but I think the best way to proceed would be that when one of the 2 PRs is merged, the other one should rebase on `12.0`.

I see proposing a fix to both `12.0` and your PR as double work because the code in the PR is so much different from `12.0`

[2020-07-21 03:06] mcassuto commented on #707
@pedrobaeza @RenaudArcheTI
Are you talking about the same module / report ?
I retested module account_financial_report on v11 runbot , the Aged Partner Balance does work as expected:
If an invoice is paid today, If I run the report with date 2 days ago, the invoice is marked as due.
=> this is the expected result for this report.

on v13 runbot,  the Aged Partner Balance does *NOT* work as expecte

[2020-07-21 04:37] JordiBForgeFlow commented on #707
@JoanSForgeFlow can you check?

@mcassuto can you check here? https://github.com/OCA/account-financial-reporting/pull/660 it's the v12 branch that contains the same refactoring done for v13. Should be the same.

In this v12 branch we did not experience this issue.

[2020-07-21 07:29] pedrobaeza commented on #707
@JordiBForgeFlow have you changed the way it behaves the report?

[2020-07-21 12:52] JoanSForgeFlow commented on #707
In v11 and v12, If an invoice is paid today and I run the report with date 2 days ago, the invoice appears. It shows the invoices that were not paid at this given date even. In the refactor of v12 works in the same way. (#660)

In v13 right now doesn't work like that, if an invoice is paid it doesn't appear even if it was paid at a later date.

However, we have a PR for v13 that among other change

[2020-07-21 13:26] JordiBForgeFlow commented on #707
@RenaudArcheTI if you can review #682 then we can merge it sooner.

[2020-07-22 13:31] RenaudArcheTI commented on #707
@JordiBForgeFlow Ok, I will review #682 .

[2020-07-22 17:05] mcassuto commented on #707
Note: I did the review also for this specific issue. However, this PR does contain other changes not specifically tested.

[2020-07-24 13:53] RenaudArcheTI commented on #707
@JordiBForgeFlow I tested #682 . The aged recievable worked the same way as previously, no change on the behavior. There is also a new statement available, the opened items. I tested it, and it gave an error on generation. Should the behavior on the aged receivable have changed or should I use the opened items statement?

Regards,

Renaud

[2020-07-28 11:29] Florianson opened #710 "[13] VAT Report Date selection "=" missing for less than or equal"
In vat_report.py

Instead of ("date", "<", date_to), please change to ("date", "<=", date_to),

Equal sign after "<"

Otherwise the last day of the entered period is not considered.

![image](https://user-images.githubusercontent.com/56293519/88659883-114c1900-d0d6-11ea-8f45-7bbad3100c8e.png)

Thanks a lot

[2020-07-28 17:24] hbrunn opened #711 "mis_builder_horizontal"
I just submitted the [v12 version](https://github.com/OCA/l10n-netherlands/pull/263) of [`account_financial_report_horizontal`](https://github.com/OCA/account-financial-reporting/tree/10.0/account_financial_report_horizontal) for the Netherlands, where I added [some code](https://github.com/OCA/l10n-netherlands/pull/263/files#diff-d35dcd709a28a32931da4e008b2b90f5R13) to show KPIs next to each othe

[2020-07-29 14:19] yung-wang opened #712 "[13.0] account-financial-reporting, translations not loaded"
1. Go to runbot and activate language nl_NL.
2. Check if terms are translated in Settings:
![image](https://user-images.githubusercontent.com/30628967/88811091-6eb79700-d1b6-11ea-9d3c-d2f37605207f.png)

3. Go to report OCA General Ledger.
4. Click on View. Since user is still en_US, the report shows ENG. This is OK.
![image](https://user-images.githubusercontent.com/30628967/88811226-973f9100-d1b6

[2020-07-29 16:55] mfmkhatri commented on #710
Seconded. Same issue here.

[2020-08-07 07:13] Levi-Bensley opened #716 "[13] Trial Balance not showing all accounts at 0"
When doing a trial balance with the show accounts at 0 option set to true not all the accounts will be shown on the reports.

[2020-08-07 07:35] HaraldPanten commented on #716
Hi @Levi-Bensley could you give us more details?

Which accounts should be shown and are not being shown? How are you setting the report? I mean... dates, account filters... Have you unchecked the checkbox that hides the accounts at 0?

Thx

[2020-08-07 07:40] Levi-Bensley commented on #716
01/01/2020 -> 31/12/2020
All Posted Entries
Hide accounts at 0 = False
No hierarchy
(Rest left at default)
Export XLSX

[2020-08-07 07:54] HaraldPanten commented on #716
Which account is not being shown and should be shown?
Do you have a screenshot of the assets in this "missing" account?
I'd like to see how is that account configurated: type, deprecation (true/false)?

[2020-08-07 08:03] Levi-Bensley commented on #716
For example:
Office Equipment appears in the report
![Office Equipment Appears](https://user-images.githubusercontent.com/54573198/89623538-b01e0580-d88c-11ea-819d-023706aa5de4.PNG)
However the Office Equipment Depreciation doesn't?
![Office Equipment Doesnt Appears](https://user-images.githubusercontent.com/54573198/89623545-b1e7c900-d88c-11ea-9dd9-6300093eda64.PNG)
Yet they are set up the same

[2020-08-07 10:26] HaraldPanten commented on #716
You said that you set: "All posted entries".

Could you check if the depreciations assets are in the correct state? or are them in "Draft" state?

Try using "All Entries" and let's see...

[2020-08-11 10:26] astirpe commented on #710
Seems this was already fixed with https://github.com/OCA/account-financial-reporting/commit/d0ae3d660fe4a12b8da1f8d36b86c7e73b5f6f2b

[2020-08-17 10:45] HaraldPanten commented on #712
Hi, @yung-wang I'm sure that you already did, but let me ask you...

You refreshed the internet browser between steps 5 and 6, right?

[2020-08-17 11:11] yung-wang commented on #712
@HaraldPanten Yes, this is now fixed in [[13.0][FIX] account_financial_report: translation not loaded #715](https://github.com/OCA/account-financial-reporting/pull/715)

[2020-08-17 11:11] #712 closed, assigned to nobody

[2020-08-19 10:34] Tonow-c2c commented on #558
@pedrobaeza should we merge this ?

[2020-08-19 10:36] pedrobaeza commented on #558
See my comments in the PR, and it's also conflicting right now in v11.

[2020-08-27 17:31] pasgou commented on #611
#683

[2020-08-29 10:16] Rai-Mohammed opened #719 "Error when update module, account_financial_report - v 13.0.1.3.1 from Local: 13.0.1.3.2 to Remote: 13.0.1.3.2"
Odoo Server Error
Traceback (most recent call last):
  File "/odoo_erp/odoo13ce/odoo13ce_server/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo_erp/odoo13ce/odoo13ce_server/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/odoo_erp/odoo13ce/odo

[2020-08-29 10:35] pedrobaeza commented on #719
It seems you have something incorrect in your end, but nothing to do with this module, as you can see in the stacktrace, and as the same problem happens with other modules.

Closing as no module issue.

[2020-08-29 10:35] #719 closed, assigned to nobody

[2020-08-29 11:05] Rai-Mohammed commented on #719
I updated my installation from the cli and the two modules was updated without any problem or error, it happen my back-end is ok.
./odoo13ce-bin --stop-after-init --config /usr/local/etc/odoo_erp/odoo13ce_server.conf  -u account_financial_report -d odoo13ce
./odoo13ce-bin --stop-after-init --config /usr/local/etc/odoo_erp/odoo13ce_server.conf  -u mis_builder -d odoo13ce

The reported error, its fr

[2020-08-29 11:05] Rai-Mohammed commented on #719
I updated my installation from the cli and the two modules was updated without any problem or error, it happen my back-end is ok.
./odoo13ce-bin --stop-after-init --config /usr/local/etc/odoo_erp/odoo13ce_server.conf  -u account_financial_report -d odoo13ce
./odoo13ce-bin --stop-after-init --config /usr/local/etc/odoo_erp/odoo13ce_server.conf  -u mis_builder -d odoo13ce

The reported error, its fr

[2020-08-31 17:18] mslokhat opened #721 "customer_outstanding_statement : include child companies in the statement"
Hi,

would request to include as an option all child companies in the same report
Ex :
Customer A               due : 1000
--- Customer B          due : 500
--- Customer C          due : 200

A is the parent company of B and C
the actual report permit us only to print 3 statement A, B and C
A : Total Due 1000
B : Total Due 500
C : Total Due 200
we would like to have a combined report :
A : Total D

[2020-09-01 08:44] gaikaz opened #722 "[13.0][BUG] account_financial_report: Incorrect JS widget dependency"
Odoo v13 doens't have `web.ControlPanelMixin` widget anymore, yet `account_financial_report` still tries to depend on it in
[account_financial_report/static/src/js/account_financial_report_backend.js](https://github.com/OCA/account-financial-reporting/blob/574a89f7524947cc558debe0d284f29fa6dddbc7/account_financial_report/static/src/js/account_financial_report_backend.js#L8)

Which leads to errors

[2020-09-01 16:06] pedrobaeza commented on #722
Are you able to provide a fix for this?

cc @JordiBForgeFlow

[2020-09-04 20:33] mcassuto commented on #707
Hello @JordiBForgeFlow ,

any update on this one ?

Thanks

[2020-09-04 20:41] JordiBForgeFlow commented on #707
@JoanSForgeFlow can you review again? Maybe we are missing something here?

[2020-09-06 01:54] mcassuto commented on #707
@JordiBForgeFlow I saw the module has been merged (isn't it suprising since this issue was still opened ?? => another subject).
I tested again on the OCA branch => OK for me.
Thanks Jordi.

@RenaudArcheTI please retest as well !

[2020-09-07 06:36] gaikaz commented on #722
OH! You were asking me! Sorry, I didn't notice the "cc" for Jordi :stuck_out_tongue_closed_eyes:

Sorry, no. I haven't looked into that change between v12 and v13 much more than this.
And I currently don't have much of resources to do it during work hours.

[2020-09-07 10:48] atrueba opened #723 "[13.0] [customer_statement] Wrong permissions for partner_statement?"
Hi,

On a 13.0 installation the customer statement report seems to be available to all users with access to contacts instead of being restricted to the accounting group or any subgroup. Can someone please try to reproduce and confirm?

- Create a new user with no special privileges
- User should only have access to these modules: Chat, Contacts (in my case also Employees and Boards, but that may v

[2020-09-08 13:46] atrueba commented on #723
Hi,

I've done some more checking and this seems not to be a bug but an incorrect translation. The module creates two security groups, "Use activity statement" and "Use outstanding statements", whose translation to spanish is not fully correct, so I didn't realize my test user with default privileges had inherited those two check-items.

I believe the correct translations to spanish should be:
- "

[2020-09-08 23:16] RenaudArcheTI commented on #707
@JordiBForgeFlow @mcassuto
I tested again, works great.

Thanks Jordi and Marc.

[2020-09-09 07:00] JordiBForgeFlow commented on #707
@mcassuto we merged the module in v13 quite a long time ago. Thanks for testing. Now closing the ticket

[2020-09-09 07:00] #707 closed, assigned to nobody

[2020-09-10 06:58] #622 closed, assigned to nobody

[2020-09-21 14:55] JoanSForgeFlow commented on #716
Hello @Levi-Bensley,

This problem was fixed in v13 in this PR #682, that is already merged. Which is a forward port of this PR in v12 #660.
Thanks for your review, from now on it should work fine.

[2020-09-28 15:27] eferriere opened #726 "[13.0] account_financial_report : Recurring errors in the unit tests on month end."
Impacted versions: 13.0
Module: account_financial_report

Steps to reproduce:

* Run the following unit test: "TestVATReport.test_01_compute".

Current behavior:

* The unit test fails on execution of the command line 251: "self.assertTrue(check_tax_tag_03)" in "tests/test_vat_report.py".

Expected behavior:

* The unit test must be executed successfully.

Proposed solution:

* The problem is on l

[2020-09-28 15:28] wpichler opened #727 "Slow auto vacuum on journal ledger report"
Hi all,

i've encountered a very slow delete statement in here:

https://github.com/OCA/account-financial-reporting/blob/a3eacc2fe34d84ce0fc0bbefc7002dcebd2544b9/account_financial_report/report/journal_ledger.py#L625

This will get called on auto vacum

In my case it took longer than the default timeout - so it restarted again and again

Wouldn't it be much faster to use:

truncate report_journal_

[2020-09-28 16:06] pedrobaeza commented on #727
Why it's slow? Any extra FK? Truncate won't work without cascade, and maybe it has some side effects.

[2020-09-28 19:13] wpichler commented on #727
No modifications from my side - was just slow as it was.
Truncate does work without cascade here - i'ved tested it.
To be sure it would be possible to first try the truncate - if it fails - then fall back to normal delete

[2020-09-29 09:18] eferriere commented on #726
The issue is solved in the last version of the code.

[2020-09-29 09:18] #726 closed, assigned to nobody

[2020-10-01 09:00] kittiu commented on #690
We found it from today version of this report also. Any updates?

[2020-10-04 10:18] OCA-git-bot opened #731 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] account_export_csv - By @Kev-Roche - #756
- [x] account_financial_report - By @joao-p-marques - #749
- [x] account_move_line_report_xls - By @PieterPaulussen - #789
- [x] account_tax_balance - By @ozono - #736
- [x] mis_builder_cash_flow - By @rvalyi - #821
- [x] partner_statement - By @vict

[2020-10-05 11:17] forvas commented on #703
Same problem here. It also happens with multicompany non-enabled. And I think it happens only when you create a new MIS report using Cash Flow template. The existing cash flow report works OK.

I am trying to check why they are adding `('line_type', '=', 'move_line')` to the domain of account move line searches, since that `move_line` value does not belong to the supplied list of the field selecti

[2020-10-23 19:15] ozono commented on #731
account_tax_balance #736

[2020-10-26 21:27] farazbdm commented on #515
I believe when general ledger is extracted with tick on
show partner
The generated report should not have total line for the account, as expected result is only concerning particular partners

[2020-10-30 12:14] vanderperre opened #738 "error dependency missing:"
in:
account_financial_report_backend.js
odoo.define("account_financial_report.account_financial_report_backend", function(

error dependency missing:
![Screenshot 2020-10-30 at 13 13 55](https://user-images.githubusercontent.com/55125626/97703962-cfa28400-1ab1-11eb-938a-5394df481eaf.png)

this class doesn't exist in v13, v13e : web.ControlPanelMixin
L8    var ControlPanelMixin = require("web.Contr

[2020-11-13 20:29] coleste commented on #731
account_financial_report #733

Depends on https://github.com/OCA/reporting-engine/pull/443

[2020-11-19 19:04] pedrobaeza commented on #640
This has been refactored in 13.0, so we can close it.

[2020-11-19 19:04] #640 closed, assigned to nobody

[2020-11-24 11:13] captivea-dcr commented on #738
I get the same error here and Odoo webclient is not stable after installing the module `account_financial_report`.

cc @hbrunn @pedrobaeza @guewen

[2020-11-27 11:04] gjotten commented on #690
@kittiu and @yung-wang the above two PRs point towards the solution.

[2020-11-30 08:05] Martronic-SA commented on #684
I confirm that error.
I think the tax base amount should be stored signed. That would solve that reporting problem but also in the list views of account move lines.

[2020-12-11 11:24] dsolanki-initos commented on #358
Hello all,
I have migrated the module account_financial_report_horizontal to v11 and here is the PR #745

[2021-01-12 13:04] dalonsod commented on #727
hello,

@pedrobaeza the changes made by commit https://github.com/OCA/account-financial-reporting/commit/f22cb07c7680912160952efe5ba117c4c63a4aca were not enough for me, because `report_journal_ledger_move` deletion was still slow. I've tested on database and these deletion order worked for me:
[code]

So, should be correct adding these deletions (except the last one), not only `report_journal_led

[2021-01-12 13:11] pedrobaeza commented on #727
Yeah, I think it's correct to do that.

[2021-01-26 11:41] antoniocanovas opened #751 "[12.0] account_financial_reporting .- General Ledger doesn't filter by company in some accounts"
Hello, to reproduce:
General Ledger => Filter by company (by default if it's open from contacts) => Add new group or account (555001 in this example).
Al entries of 555001 are listed, not only the filtered company.
It works fine in #660

<img width="658" alt="Captura_de_pantalla_2021-01-26_a_las_11_26_42" src="https://user-images.githubusercontent.com/8323017/105840698-b8e9cb80-5fd3-11eb-8119-206f

[2021-01-30 14:05] gaikaz commented on #727
Just stumbled upon the same issue.
One of our client's Odoo was just stuck and looking at `pg_activity` showed this disaster (loads of blocked queries after it...):
![image](https://user-images.githubusercontent.com/17097810/106358214-536b4700-6313-11eb-98f5-9bb1a9508b43.png)
That's **9.5 hours** of the query running! 👀

Like @dalonsod already showed, apparently emptying out the "lines" table isn'

[2021-01-30 14:14] pedrobaeza commented on #727
See #750

[2021-01-30 14:18] gaikaz commented on #727
Oops... 😄
Didn't find it before.

[2021-01-30 14:23] gaikaz commented on #727
@pedrobaeza Now I also got curious. Could it be that the manual SQL queries here are not needed after all?
Maybe with the index, that vacuum would be fast enough by default?

[2021-01-30 14:24] pedrobaeza commented on #727
Well, they are harmless anyway. The problem with the index is that the data filling is going to be a bit slower, but not having a better option and being so critical on vacuum, better to go with this option.

[2021-01-30 14:27] gaikaz commented on #727
Hopefully this also increases the reading performance, which should balance out the new insertion cost.
Anyway, thanks for working on weekends. You should take a break, thought 😜

[2021-02-01 16:09] dalonsod commented on #727
hello @gaikaz that's great! I've tried to put into code those additional `DELETE` stuff, but things were more complicated than I'd expected (modifying vacuum general schema, with several transient models, linked themselves, has been very difficult to accomplish, at least for me).

When the PR to v11 is done I'll check it

[2021-02-06 22:25] mindey commented on #33
Hm, what worked here, is this solution: https://medium.com/@aadimator/odoo-wkhtmltopdf-installation-df0f47104c60

Since Medium's got a habit of paywalling, namely:

[code]

[2021-02-08 13:39] DS-Landoo opened #753 "[13.0] [BUG] Wrong default value on Move Type field."
Hello,

When the account_tax_balance is installed, among other things, it adds the move_type field on Invoices, Credit Notes, Vendor Bills and Refunds (model= account.move). The default move_type for Invoices is "Receivable", for Credit Notes "Receivable refund", for Vendor Bills "Payable" and for Refunds "Payable refund". This means, that every new, lets say Credit Note, will have "Receivable Ref

[2021-02-08 13:53] pedrobaeza commented on #753
Maybe it's a problem here on the hook:

https://github.com/OCA/account-financial-reporting/blob/13.0/account_tax_balance/hooks.py#L26

[2021-02-17 07:54] farazbdm opened #755 "Open Items when reconciled by Partial Reconciliation still reflect 0 amount residual move lines in report"
https://github.com/OCA/account-financial-reporting/blob/3e04acb9ae95740b6f86c6196627408ff4d09203/account_financial_report_qweb/report/open_items.py#L372

@pedrobaeza can you please recommend who can resolve this issue.

Steps to Reproduce:

1. Create Invoice
2. Create 2 payments
3. Do Partial reconciliation with the Invoice, both the payments
4. And Make Invoice Due Amount 0.
5. Generate Open Item

[2021-02-17 07:56] pedrobaeza commented on #755
Well, putting the issue with the steps to reproduce the problem is the first step, so people can see it, but no specific solver for this.

[2021-03-04 13:40] nurefexc opened #759 "[BUG] The translation does not work in the selection field on account_tax_balance module"
Translate move_type field on account.move table doesn't work

[2021-03-09 12:52] santcosta commented on #426
Is it normal for this account to have a balance? When  i print the ledger

[2021-03-19 08:27] #759 closed, assigned to nobody

[2021-03-22 03:32] gdgellatly commented on #723
@atrueba well translation issue aside, I think you have a more general point here as those are technical security groups and really should be displayed only with the Billing Manager security level IMO.

[2021-04-02 04:25] rquevedo opened #765 "[13.0] Wrong values in groups in Trial Balance"
Hi folks,
I'm getting wrong values in some parent groups when running Trial Balance. For example group "2" get wrong number even when "21" and "22" has the right values and are the only children of "2".
After debug "_get_hierarchy_groups", method that compute values of groups that don't have direct child accounts, I notice that group "2" has been computed before group "21" ends to sum child values

[2021-04-12 13:29] fshah-initos commented on #731
I'll migrate the module partner_statement to v14.

[2021-04-15 15:53] SimoRubi opened #770 "Tax balance migration to 14.0"
Hi all,
I am migrating an enterprise DB from 10.0 to 14.0, I have migrated the core with https://upgrade.odoo.com/upload and in the upgrade report they mention:

I am experiencing a _small_ issue with this code:
https://github.com/OCA/account-financial-reporting/blob/a648e2c7482ff56a41fc7bde598d00fdfb8a43a6/account_tax_balance/migrations/14.0.1.0.0/pre-migration.py#L17
Before this is executed, acc

[2021-04-15 16:23] pedrobaeza commented on #770
The script is not correct indeed. Part should be handled in OpenUpgrade `account` pre-migration, renaming the column to the definitive name. With enterprise, you should need to rename the column manually from `move_type_custom` to `financial_type`.

[2021-04-16 07:16] SimoRubi commented on #770
Thanks for your opinion :)
I'd like to fix this for whoever will do a similar migration in the future but I see there is no migration for `account` in OpenUpgrade in `14.0`.
One solution to avoid manual modifications could be the following:

- in OpenUpgrade's `account` script, rename `move_type` (if exists) to `move_type_custom`.
  This way, OpenUpgrade and Enterprise behave in the same way, so w

[2021-04-16 07:26] pedrobaeza commented on #770
OpenUpgrade v14 is not yet developed (we are on it - soon, but not yet -).

I don't like too much such nomenclature, as it can collide with other existing fields, and will require 2 steps. At OpenUpgrade, we use a name that can't collide: `openupgrade_legacy_x_y_old_field_name`, where x and y is the target version. Even more, being able to do the renaming in one step, I prefer to go in OU directly

[2021-06-03 12:02] victoralmau commented on #731
I'm working on `partner_statement` https://github.com/OCA/account-financial-reporting/pull/826

[2021-06-03 15:55] paulapose opened #794 "Trial Balance report downloaded in excel for accounts with currency does not show balances in currencies"
Good Morning,

My name is Paula Pose, I am a Functional Analyst and I work at Nexit, a company located in Uruguay that is a Gold Partner of Odoo.

I need your help to solve the following problem: there is an error in the Trial Balance report (from the OCA accounting reports).
When it is issued in xlsx format and the Show foreign currency and Show Partner Details checkbox are active when clicking "

[2021-06-03 15:56] JordiBForgeFlow commented on #794
What is the version you are using?

[2021-06-03 17:08] paulapose commented on #794
Odoo version 13 community

Regards,

Cra. Paula Pose

Analista Funcional

Primeros Odoo Gold Partners en Uruguay

Tel.: (+598) 97 08 60 60

Pozos del Rey 1325, of. 3., Montevideo - Uruguay

http://www.nexit.com.uy/

---- En jue, 03 jun 2021 12:57:09 -0300 Jordi Ballester Alomar ***@***.***> escribió ----

What is the version you are using?

—
You are receiving this because you authored the thread.

[2021-06-16 13:57] simduchaine commented on #695
having the same issue in Odoo 12. did you find a solution ?

[2021-06-30 18:26] pedroortega-punt opened #800 "[11.0] account_financial_reporting InternalError: too much recursion"
In a V11 installation with grouping of the accounting entries by account, it has 325,000 accounting entries in a year, the journal to be printed is impossible to generate either in view, in pdf, or in excel, there are errors in execution times and memory sizes.

Memory and times have been expanded to the maximum, does anyone know a solution to print?

In V13 onwards, the entries are not grouped by

[2021-07-08 21:59] rquintanam opened #803 "Issue after installing the module and run the reports"
Error after running any report (view mode) V13
Error:

Traceback:
exception@http://localhost:8069/web/content/720-6c391bf/web.assets_common.js:3692:7
_render@http://localhost:8069/web/content/720-6c391bf/web.assets_common.js:3737:103
render@http://localhost:8069/web/content/720-6c391bf/web.assets_common.js:3733:151
start/<@http://186.72.149.231:8051/web/content/739-0fd3b03/web.assets_backend.js:36

[2021-07-23 00:23] Stephanisk opened #806 "Vat report bug. No correct representation And calculation of tax tags"
Serious issue in the VAT reports.

The accounting module from oca is awesome but the VAT reports goes completely belly up.

During accounting tax tags are added as it should but the VAT reports is handeling them completely wrong. It doesn't show the correct amounts of the tax, always the base amounts are coming up. Which means any tax report filed based on this VAT report will lead to Hugh fines i

[2021-08-21 03:38] kittiu opened #808 "[13.0][BUG] account_financial_report, error Aged Partner Balance with Show move line details"
Just install module with demo database, and run Aged partner Balance report.

Affected version: 13.0.1.8.0 (latest)

![image](https://user-images.githubusercontent.com/1973598/130309539-fd22107c-e875-4ec9-97cf-7e32f298d86f.png)

![image](https://user-images.githubusercontent.com/1973598/130309546-5c6a899f-dc7a-424a-b9b7-249f48f323af.png)

![image](https://user-images.githubusercontent.com/1973598/

[2021-08-23 13:54] SimoRubi commented on #808
Found the same issue on `14.0` and working on a fix, stay tuned :)

[2021-08-24 08:33] isofterp opened #810 "Invoicing in one currency and registering a payment in a different currency, prints two separate statements"
module: partner_statement
version: 13.0

**Steps to reproduce**
- ...Create an invoice is a currency, register the payment in an alternate currency (bank account) which is something that may happen on occasion.

**Current behavior**
Partner statement prints the invoice details and value in one currency, then prints on the same statement the payment value but in the currency the payment was registe

[2021-08-26 17:55] KBrossmann opened #812 "Translation Portuguese"
module: partner_statement
version: 13.0

Great module:

I found the Portuguese translation (Source Term = "Balance Forward") a bit awkward, It translates to "Saldo Futuro" but it should be "Transporte" or "Saldo transportado" instead.

I wasn't able to find the term in the translations, so maybe I just miss something here ;)

Is there a way to modify the translation of the pdf statement?

[2021-08-26 17:56] pedrobaeza commented on #812
Please join the translation team and change it yourself:

https://odoo-community.org/page/translate

[2021-08-26 17:56] #812 closed, assigned to nobody

[2021-08-28 15:05] GunalanD95 opened #813 "LINE 1: ALTER TABLE account_move ADD COLUMN IF NOT EXISTS financial_..."
hi iam trying to install tax balance in my odoo 14 instance but while installing this error is coming

error :
Error:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\odoo-14\server\odoo\addons\base\models\ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "C:\Program Files (x86)\odoo-14\server\odoo\http.py", line 683, in dispatch
    res

[2021-08-28 16:14] pedrobaeza commented on #813
You need a more modern Postgres version.

[2021-08-28 16:14] #813 closed, assigned to nobody

[2021-08-28 16:17] GunalanD95 commented on #813
hi mine is psql (PostgreSQL) 13.3

[2021-08-28 19:59] pedrobaeza commented on #813
Are you sure? Such syntax should be accepted then. Try in a psql to see the version and execute the same query.

[2021-08-29 02:57] GunalanD95 commented on #813
yup same version

[2021-08-29 10:31] pedrobaeza commented on #813
Definitively there's something wrong with your deployment, as it highlights the issue you have put on Odoo. Deploy it correctly.

[2021-08-29 11:33] GunalanD95 commented on #813
yeah i think the same , will do it

[2021-09-07 14:48] SimoRubi commented on #808
@kittiu can you check if https://github.com/OCA/account-financial-reporting/pull/811 fixes this issue and leave a review there? Thanks!

[2021-09-08 12:53] InformaticaOdeon opened #814 "[account_financial_report] Memory problems setting filters to reports"
Hello, we got the following error when set filters to differents reports

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(except

[2021-09-08 16:42] tv-openbig opened #815 "[14.0][BUG] account_financial_report : issue with columns of first line"
There is an issue with the first line representing the column sums of the fields debit/credit.
As you can see in the following screenshot there is a wrong offset of a colum, breaking the table of the report.
![Bildschirmfoto 2021-09-08 um 18 36 42](https://user-images.githubusercontent.com/8348598/132549852-53bc48a5-59a2-4770-a8ca-1ecd1f155bbe.png)

This happens with the Journal Ledger and Trial B

[2021-09-09 21:10] pedrobaeza commented on #815
Steps to reproduce it?

[2021-09-16 12:38] tv-openbig commented on #815
1.) Invoicing App / Reporting / OCA accounting reports / Journal Ledger
2.) Select a start/end date or a pre-defined date_range (with account moves for sure)
3.) Click on "View"

[2021-09-17 17:00] carlosmaug opened #817 "[13] Cant gerenate pdf reports"
Hi

In Odoo 13, Regardless of the report I choose I always got the same error. "Form content is missing, this report cannot be printed."
If it seems odoo do not retrieve necessary data to generate the reports.
I can print invoices an many other PDFs
If I go to Accounting -> reports -> accounting reports (OCA) I can see the reports and export them in XLSX but if I try to print any of them always I

[2021-09-17 17:07] pedrobaeza commented on #817
Update your Odoo code. It's not this module fault. See https://github.com/odoo/odoo/pull/76696

[2021-09-17 17:07] #817 closed, assigned to nobody

[2021-09-21 14:41] carlosmaug commented on #817
I have updated odoo code and now all woks fine. Tank you very much

[2021-09-22 14:21] #815 closed, assigned to joao-p-marques

[2021-09-24 10:46] #808 closed, assigned to nobody

[2021-09-30 15:19] redlabmedia commented on #731
Any progress on the partner statement?

[2021-10-14 12:29] mduz1982 opened #820 "Automation of Financial report updating"

[2021-10-17 10:12] OCA-git-bot opened #822 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] account_financial_report - By @JasminSForgeFlow - #868
- [x] account_move_line_report_xls - By @jdidderen-noviat - #989
- [x] account_purchase_stock_report_non_billed - By @stefan-tecnativa - #1002
- [x] account_sale_stock_report_non_billed - By @stefan-tecnativa - #999
- [x] account_tax_bal

[2021-11-15 07:39] muhammadnaeem786 opened #827 "Sorting Issue in general ledger report with respect to Rec. Debit Credit and Cumul. Bal column"
In general_ledger report  records are not sorted with respect to rec. debit and credit and cumul. bal. column.while printing excel report seleting filter partner Rec. , Debit , Credit and Cumul. Bal. columns recocords are not sorted which is a very difficult way to read report.

[2021-11-15 07:43] pedrobaeza commented on #827
Unless you get more information with detailed steps to reproduce the problem, I'm afraid I don't get it.

[2021-11-15 07:55] muhammadnaeem786 commented on #827
Dear Pedrobaeza when i am exporting  general ledger report setting partner filters in drop down data is not sorted in rec_name manner it is sorted with respect to code you can see in general_ledger.py file due to this debit , credit and cumul.bal. columns records also not sorted. you can see in attached screen shot given below.record A82 should be come after A81 also it debit , cr and cumul. bal .

[2021-11-15 07:58] pedrobaeza commented on #827
Yes, but we need to steps to reproduce it in a standard environment. I have never observed such problem till now.

[2021-11-15 07:59] muhammadnaeem786 commented on #827
ok no problem i have sorted in my local system but i have to work more for cumul.bal. columns. thanks for your response.

[2021-11-15 08:14] muhammadnaeem786 commented on #827
Dear pedrobaeza hopefully you have noted this issue.i think this problem should be fixed for standard environment such as for v13 or above.thank you very much for your immediate response.

[2021-11-15 08:29] pedrobaeza commented on #827
No, I'm afraid not. I don't get the problem and there's no steps to reproduce it in a standard environment with reproducible data.

[2021-11-19 02:27] OAlarconCast opened #828 "14.0 Does not permit the installation of account-financial-reporting"
Module

account-financial-reporting

## Describe the bug
After the appropriate installation in Odoo 14 Community instance did not permit the installation

## To Reproduce
**Affected versions**: 14:0

Steps to reproduce the behavior:
1. Git clone grom OCA Github taking in consideration the installation of prerequisites
2. Using VPS Server
3. Update odoo.conf
4. Systemctl Restart odoo14.service
5. I

[2021-11-19 07:10] pedrobaeza commented on #828
You have missed the installation of the `xlsxwriter` Python library in your environment (or it's not a correct one). Closing as no module issue, but a deployment one.

[2021-11-19 07:10] #828 closed, assigned to nobody

[2021-11-19 08:22] AaronHForgeFlow commented on #656
Hi @rousseldenis , did you find a solution for this?

[2021-11-19 08:34] AaronHForgeFlow opened #829 "[10.0] account_financial_report_qweb: aged_partner_balance: incorrect amount residual in journal items"
Create a journal entry like this:

[code]

Another like this

[code]

Then reconcile partially AP.  The amount  residual in JE2 is zero and the amount residual in JE1 is 80 (only 20 is paid). However, in the aged partner balance report I get the following:

![image](https://user-images.githubusercontent.com/19620251/142590674-865f671b-1d23-4832-88ef-133555cf572a.png)

The situation gets worse if J

[2021-11-19 09:20] rousseldenis commented on #656
We don't have anymore projects in 10, so ... and I don't remember if it was fixed.

[2021-11-19 09:22] pedrobaeza commented on #656
Let's close it then.

[2021-11-19 09:22] #656 closed, assigned to nobody

[2021-11-19 15:14] AaronHForgeFlow commented on #829
I can confirm this issue is not happening in the refactor proposed in v12: https://github.com/OCA/account-financial-reporting/pull/660

I am backporting the refactor for the open items in this version. I will  close the issue when the backport is ready.

[2021-11-24 09:44] tcsgsy opened #833 "Help wanted: The path date_range already exists"
Disclaimer: am a relative newb.

I need some assistance with installing this module (odoo.sh version 14); I receive the following error:

The path date_range already exists

Can anyone help or point me in the right direction please?

[2021-12-07 16:06] koenloodts commented on #822
account_financial_report https://github.com/OCA/account-financial-reporting/pull/835
Depends on https://github.com/OCA/server-ux/pull/414

[2021-12-10 09:37] ValentinVinagre commented on #822
I'm working on account_tax_balance https://github.com/OCA/account-financial-reporting/pull/837

[2021-12-22 15:36] wm-cortex commented on #828
I'm getting the same error in Odoo 14, I checked the xlsxwriter and it's installed with version mentioned in Odoo 14 Requirements
V1.1.2, I also tried the latest version and still getting the same error. I'm using python 3.6

[2021-12-28 21:19] kwoychesko opened #843 "[14.0] account_financial_report: report lines are not displayed chronologically in pdf and xlsx"
## module: account_financial_report

## Bug Description

In the v11 General Ledger, if you had multiple transactions in an account they would be displayed in ascending order (represented in the images below by the Entry column). In v14, the transactions are displayed in **descending** order. This can make it difficult to trace transactions as you are not reading transactions chronologically. This

[2021-12-28 21:59] kwoychesko opened #844 "[14.0] account_financial_report General Ledger: "Cur." and "Amount cur." columns populated for company currency transactions"
## module: account_financial_report (General Ledger report)

## Bug Description

In the v11 General Ledger, only transactions that were **not** in the company currency would display data in the "Cur." and "Amount cur." columns (see v11 image below--company currency is CAD so only USD transactions have data in the "Cur." and "Amount cur." columns). In v14, all transactions have data in the "Cur." a

[2021-12-28 21:59] kwoychesko opened #845 "[14.0] account_financial_report General Ledger: "Amount cur." column not formatted as currency"
## module: account_financial_report (General Ledger report)

## Bug Description

In the v11 General Ledger, only the "Amount cur." column is displayed formatted as currency (see v11 image below). In v14, the column is not formatted as currency. I have not attempted to reproduce this in v12, 13, or 15 yet. This affects only pdf reports -- xlsx reports are formatted the same as the other financial c

[2021-12-31 04:46] gdgellatly commented on #820
Unactionable

[2021-12-31 04:46] #820 closed, assigned to nobody

[2022-01-10 12:00] pausanchezqubiq opened #848 "[13.0]: The Trial Balance Report shows the accounts at 0 even if the box is ticked against it."
Impacted versions: 13.0

Module: account_financial_report

After generating the Trial Balance by ticking the checkbox to not include the accounts at 0, once it is shown on the screen I can see many accounts with all values at 0 being displayed. In the image you can see.

![1](https://user-images.githubusercontent.com/83018854/148760810-fe630bff-ea5a-412c-af97-805184991710.png)

![2](https://user-i

[2022-01-17 15:25] pasgou opened #851 "MIS Builder Compatibility"
## Module
MIS BUILDER CASH FLOW

## Describe the bug
Upgrading from 3.2 MIS BUILDER (breaking changes)

If you use Actuals (alternative) data source in combination with analytic filters, the underlying model must now have an analytic_account_id field.

This create a bug alert and Mis Builder don't work anymore

## To Reproduce
**Affected versions**:

All
**Expected behavior**

Creating analytic_ac

[2022-01-20 17:51] javierjcf commented on #703
same probleme here in v13, line_type is not a field in account_move_line so it fails.

[2022-01-20 21:09] LGodoo opened #852 "[14.0] [partner_statement] Exhange gain/loss should not appear on statements"
## Module
partner_statement

## Describe the bug
A customer we deal with in Euro. Our reporting/company currency is USD.
If we issue invoices in Euro and record payment in Euro a realised forex is accounted for.

If we generate the receivable statement it is in Euro but it includes the forex gain/loss that was booked in our ledger in USD with the euro sign in front.

As a result the balance in the

[2022-01-26 11:44] mof-landoo commented on #814
Same issue here, trying to get a General Ledger report, if the account range is too large (ie. 6000000 to 7000000)

![error in general ledger](https://user-images.githubusercontent.com/74420869/151156006-07ce0ea9-944b-4448-88e1-cbe15dc4d515.png)

When we select the second value it starts loading and after some time (less than one minute) we get this error in the log:

2022-01-26 11:07:07,517 13817

[2022-02-01 08:25] yankinmax commented on #822
will you work on that? how can I help you?

[2022-02-08 03:12] seancallahan88 opened #860 "[14.0] partner_statement shows entries with -0 and 0"
## Module
The name of the module that has a bug.
partner_statement
## Describe the bug
A clear and concise description of what the bug is.

On the outstanding statement, journal entries can show with -0 and 0 that are out of scope of the report (ie they are already paid off). These should not show on the outstanding report at all as they are already paid off. These journal entries are already reco

[2022-03-21 11:08] jvbp commented on #765
Hi,

I have a similar or same problem in group "4".

If I use Child Accounts option like below, the resulto of group 4 is wrong.

![image](https://user-images.githubusercontent.com/52859958/159255461-71190f3c-0a12-43b1-9828-859593608f7d.png)

When I Export to Excel I have the follow situactión:
![image](https://user-images.githubusercontent.com/52859958/159262522-f00b2e17-481c-4333-abb3-c93bc30448

[2022-03-22 16:54] jvbp commented on #765
Hi again,

We fixed this issue with the following workaround (just code marked between INIT and END) in trial balance report. It works now in View, PDF and Excel modes when Child Accounts are marked. I'm sure there is better ways to do that but fully undestanding how this module works is very dificult.

            if hierarchy_on == "relation":
                groups_data = self._get_groups_data(

[2022-03-24 11:35] gdgellatly commented on #860
@seancallahan88 more likely this is a migration error of the reconciled field. I've seen it before in historic data. You can easily test by essentially replicating new data.

[2022-03-31 20:35] alexis-via commented on #814
I have also experienced this bug today on odoo v14.0 with up-to-date code from OCA/account-financial-reporting

[2022-03-31 20:51] alexis-via opened #870 "[14.0] account_financial_report: trial balance: issue with current year earnings account when filtering on some accounts"
On a trial balance, when you filter on some accounts (including the current year earning account), the line for the current year earning account is wrong (bad initial balance and ending balance).

Here is a way to reproduce the problem on a demo DB:
1) Create a customer invoice in 2021 with total amount without taxes of 1000 €
2) print a trial balance for year 2022 : the current year earning accou

[2022-04-05 07:44] rafaelbn commented on #731
Updated

[2022-04-09 07:47] sergiuga commented on #860
I have the same problem on a fresh Odoo 14 install.
Only some of the reconciled records are shown in report, not all of them.

[2022-04-09 08:12] sergiuga opened #872 "[14.0] partner_statement wrong beginning balance in Partner Activity Statement report"
## Module
partner_statement

## Describe the bug
When selected a certain period for Partner Statement (usualy last ... months), the beginning balance is wrong.

## To Reproduce
**Affected versions**: 14.0

Steps to reproduce the behavior:
1. Select a period for Partner Statement Activity report (e.g. last 2 months) - wrong initial balance (wrong.jpg)
2. Select the period from the beginning of the

[2022-05-02 09:36] gregorygregoriades commented on #872
Hello, I have this issue as well. Have you found a solution by any chance?

[2022-05-04 22:43] gdgellatly commented on #872
Hi,

This has been reported a few times, and I have seen it myself. I am not convinced it actually is a bug but rather a data migration error where reconcile flags were not migrated correctly. Certainly every time I have come across it, that was the cause, the change in how the reconcile flag is set between v13 and v14. What we need is not screenshots but clear steps to reproduce on fresh data.

[2022-05-09 07:07] gregorygregoriades commented on #872
Hello,

Thanks for your reply, we tried it on a fresh database with new data, not migrated and we are still having the same issue.

________________________________
From: Graeme Gellatly ***@***.***>
Sent: Thursday, May 5, 2022 1:43:42 AM
To: OCA/account-financial-reporting
Cc: Gregory Gregoriades; Comment
Subject: Re: [OCA/account-financial-reporting] [14.0] partner_statement wrong beginning bala

[2022-05-11 03:24] gdgellatly commented on #872
@gregorygregoriades

Steps to reproduce! It is not enough to say it is broken, we need to be able to make it break.

Screenshots of output are rarely of any use.

[2022-05-11 05:55] gdgellatly commented on #860
@sergiuga You are referring to a different issue than this issue report, this is about 0.00 balances.

[2022-05-18 22:43] #814 closed, assigned to nobody

[2022-06-12 12:13] #125 closed, assigned to nobody

[2022-06-19 12:14] #238 closed, assigned to nobody

[2022-06-21 12:32] DS-Landoo opened #887 "[14.0] Issue with Partner Details in Trial Balance"
Hello,

If you print or export to XLS the Trial Balance and click on "Show Partner Details", it doesn,t show a line of the moves that have no partner, it only shows the details of partner moves and the total of the consulted account. We believe that with this option there should be a line for "Undefined" just like there is a section for "Undefined" when you group by Partner the Journal Items in Od

[2022-06-30 06:34] victoralmau opened #888 "[13.0+14.0] mis_template_financial_report: Earnings current year in profit?"
Balance of "_Current Year Earnings_" account (type = `account.data_unaffected_earnings`) is currently displayed in _Profit_: https://github.com/OCA/account-financial-reporting/blob/13.0/mis_template_financial_report/data/mis_report_kpi.xml #L22

IMO move lines from `account.data_unaffected_earnings` type should not be included. What do you think?

Ping @pedrobaeza @StefanRijnhart
@Tecnativa TT3783

[2022-06-30 06:37] pedrobaeza commented on #888
Yeah, I think so. The journal items in this account are the distribution of the benefits, so it shouldn't go anywhere in the P&L. What do you think, @StefanRijnhart ?

[2022-06-30 08:48] StefanRijnhart commented on #888
I'm sorry to say that it is not clear to me how these accounts are supposed to be used exactly. https://www.odoo.com/documentation/15.0/applications/finance/accounting/taxation/fiscal_year/close_fiscal_year.html?highlight=current%20year%20earnings implies the account type belongs on the balance sheet. Maybe the original author @hbrunn wants to chip in as well?

[2022-06-30 10:38] hbrunn commented on #888
that's one of the types I didn't really know where it should go, so go ahead and put it where it belongs

[2022-06-30 11:27] pedrobaeza commented on #888
Let me explain: that one shouldn't go to anywhere.

It's an special type that is recognized by Odoo enterprise reports or OCA financial reports to accumulate all the balances from incomes and expenses to show the running profit & losses. Only one account can be assigned to that type. The only moves that are accounted to that account are the redistribution of the benefits to other part.

With one e

[2022-06-30 15:07] HaraldPanten commented on #888
I agree with Pedro. Good explanation.

[2022-06-30 18:16] hbrunn commented on #888
yes, thanks. I'm not proud of it, but my grasp of accounting stuff is somewhat lacking

[2022-06-30 18:18] pedrobaeza commented on #888
No worries. We will do the PR removing the type.

[2022-07-31 12:16] #358 closed, assigned to nobody

[2022-08-11 09:43] astirpe commented on #581
Seems not reproducible in General ledger anymore but I can still reproduce it in Trial Balance.

[2022-08-21 12:14] #395 closed, assigned to nobody

[2022-08-24 09:33] beneditomonteiro commented on #828
Where can I see the xlsxwriter correct version to install in my environment? Thanks.

python3-xlsxwriter is already the newest version (1.1.2-0.2).
Requirement already satisfied: xlrd in /home/bmonteiro/.local/lib/python3.8/site-packages (2.0.1)

It doesn´t seems to be the version of the xlsxwriter, it seems that something was not imported.

class AbstractReportXslx(models.AbstractModel):
    _nam

[2022-09-01 17:30] rafaelbn opened #900 "Report for Average Days to Pay & Average Collection Period"
Requirement are this two reports:

- APP (Average Payment Period)
- ACP (Average Collection Period)

Do you know if it is available in OCA? I cannot find anything.

The main concepts are:
- One source data are invoices (account.move) with the "invoice date"
- The other source is the journal entries (account.move) of the payments which have the date for making the ratios.

**What is Average Payment

[2022-09-01 17:34] rafaelbn commented on #900
Sorry for the noise! I found it! From @max3903 👍

- https://github.com/OCA/account-invoice-reporting/issues/52
- https://github.com/OCA/account-invoice-reporting/tree/12.0/partner_time_to_pay

[2022-09-01 17:34] #900 closed, assigned to nobody

[2022-09-02 12:42] vincent-hatakeyama opened #904 "[13.0] account_financial_report: missing internationalization of percentage"
## Module

account_financial_report

## Describe the bug

The percentage displayed in an aged balance report are not internationalized.

## To Reproduce
**Affected versions**: 13.0
I did not look into other version, but I guess the problem is present also as I did not find any issue opened on the subject.

Steps to reproduce the behavior:
1. Set the language to French or any other language that us

[2022-09-04 07:16] sreethu000 opened #905 "Report is taking too much time"
General ledger report is taking too much time

Account-financial-report

## Describe the bug
All reports in this module is taking more than 10 minutes to load a at least a 1 month data

## To Reproduce
version 12.0

Steps to reproduce the behavior:
1.Go to invoicing ->financial reports->general legder
2. Set date range gap of 1 month and select all journals
3. then click print

**Expected behavior

[2022-09-04 12:16] #398 closed, assigned to JordiBForgeFlow

[2022-09-11 12:17] #406 closed, assigned to nobody

[2022-09-13 19:34] marcelsavegnago opened #912 "About commit [12.0] account_financial_report: refactor"
Evaluating the history of the account_financial_report module, I noticed that there is a commit made before the migration to 13.0 but that is currently not in 12.0. Does anyone have information about this?

[12.0] account_financial_report: refactor https://github.com/OCA/account-financial-reporting/commit/e41e718bfcb9b1724f37077ff17c8b2e76d96400

[2022-09-18 12:17] #417 closed, assigned to nobody

[2022-09-18 12:17] #419 closed, assigned to nobody

[2022-10-02 12:19] #486 closed, assigned to nobody

[2022-10-02 12:19] #488 closed, assigned to nobody

[2022-10-03 16:19] sbidoul opened #924 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] account_financial_report - By @ramiadavid - #939
- [x] account_purchase_stock_report_non_billed - By @cormaza - #1184
- [x] account_sale_stock_report_non_billed - By @cormaza - #1183
- [x] account_tax_balance - By @ramiadavid - #937
- [x] mis_builder_cash_flow - By @stefan-tecnativa - #1049

[2022-10-13 15:45] moval-agroingenieria opened #927 "[10.0] Account_financial_report_qweb: Error when two (or more) partners have the same name."
When two or more partners have the same name, the General Ledger report produces an error in the Accumulated Balance column (Debit and Credit columns are correct). In the example of the linked image, we have used a filter to simplify the visualization of the problem. This error occurs even when only one of the partners with the repeated name is used to create the report.

![bad_report](https://use

[2022-10-13 16:40] claudiofrigerio opened #928 "[11.0] account_financial_report"
## Module
account_financial_report

## Describe the bug
Can't execute Scheduled action Base: Auto-vacuum internal data

When this standard action  Base of Auto-vacuum internal data started it's not able to delete the temporary table:

account_journal_report_journal_ledger_rel, report_journal_ledger_journal, report_journal_ledger_journal_tax_line,  report_journal_ledger_move, report_journal_ledger_

[2022-10-13 21:20] #928 closed, assigned to nobody

[2022-10-13 21:20] claudiofrigerio commented on #928
already discussed here
https://github.com/OCA/account-financial-reporting/pull/582

[2022-10-23 12:19] #495 closed, assigned to JordiBForgeFlow

[2022-10-23 12:19] #515 closed, assigned to nobody

[2022-10-27 18:11] ramiadavid commented on #924
Hi @sbidoul
Im working in `account_tax_balance`  #937

[2022-10-28 07:38] ramiadavid commented on #924
Hi @sbidoul
Im working in `account_financial_report`  #939

[2022-10-30 12:18] #532 closed, assigned to nobody

[2022-11-03 21:00] Tarvosa opened #940 "Initial balances of Liability accounts are set to zero"
I noticed that in the version of for 15 that the initial balance of a liability account set to zero and the difference is booked into account undistrubuted account. correct would be as the other balance sheet accounts that the initial balance are countinued.

[2022-11-06 12:16] #535 closed, assigned to nobody

[2022-11-13 12:17] #545 closed, assigned to nobody

[2022-11-13 12:17] #556 closed, assigned to nobody

[2022-11-13 22:09] andhit-r opened #944 "[14.0][account_financial_report] general ledger - Group By None show empty details on receivable/payable account (with video demo on runboat)"
## Module
account_financial_report

## Describe the bug

No receivable/payable detail data display when Group By None applied on general ledger report

## To Reproduce

Video to reproduce on runboat https://youtu.be/1KOhXGJjwv8

**Affected versions**: 14.0

Steps to reproduce the behavior:
1. View/export general ledger with None group by

**Expected behavior**
Detail data should be shown

[2022-11-20 12:14] #557 closed, assigned to nobody

[2022-11-20 12:14] #558 closed, assigned to nobody

[2022-11-22 15:13] HaraldPanten commented on #944
@pedrobaeza Did you have a look at that? I realised I have the same issue.

[2022-11-22 15:38] HaraldPanten commented on #944
@victoralmau

[2022-11-30 15:21] pedrobaeza commented on #944
Fixed in https://github.com/OCA/account-financial-reporting/pull/955

[2022-11-30 15:21] #944 closed, assigned to nobody

[2022-11-30 15:47] HaraldPanten commented on #944
THX @pedrobaeza !!